<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link href="/css/header/mainHeader.css" rel="stylesheet" type="text/css">
    <script src="/js/header.js" type="text/Javascript" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" ></script>
</head>
<body>
    <header>
    	<div id="headerMain">
            <div class="mainmenu home"> 홈 </div>
            <th:block sec:authorize="isAnonymous()">
            <div class="mainmenu login"> 로그인 </div>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
            <div class="mainmenu logout"> 로그아웃 </div>
            </th:block>  
            <div class="mainmenu mypage"> 마이페이지 </div>
            <div class="mainmenu csmenu"> 고객센터 </div>
            <div class="mainmenuend heartProduct"> 관심상품 </div>
        </div>
    
        <div id="headermain2">
            <div id="mainlogo" style="background-image: url(/image/icon/mainlogo.png)"></div>
        </div>
      
        <div id="headermain3">
            <div class="category">
                <div class="categorymenu boldline"> 추천 </div>
                <div class="categorymenu"> 남성 </div>
                <div class="categorymenu"> 여성 </div>
                <div class="categorymenu"> 브랜드 </div>
            </div>
            <div id="search">
                <form>
                <input type="text">
                <div class="searchimg" style="background-image: url(/image/icon/searchimg.png)"></div>    
            </form>
            </div>
        </div>
    </header>
</body>
</html>