<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage_header</title>
    <link href="/css/header/mypageHeader.css" rel="stylesheet" type="text/css">
    <script src="/js/mypageHeader.js" type="text/Javascript" defer></script>
</head>
<body>
    <!-- 헤더 -->
    <header id="header">
        <div class="header_menu" id="home"> 홈 </div>
          <th:block sec:authorize="isAnonymous()">
            <div class="mainmenu login" id="login"> 로그인 </div>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
            <div class="header_menu logout" id=logout> 로그아웃 </div>
            </th:block>  
        <div class="header_menu" id="mypage"> 마이페이지 </div>
        <div class="header_menu" id="csmenu"> 고객센터 </div>
        <div class="header_menuend" id="heartProduct"> 관심상품 </div>
   
        <div>
            <div class="header_img" style="background-image: url(/image/icon/mypage_logo.png)" id="header_img"></div>
        </div>
    </header>
    
</body>
</html>