<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage_header</title>
    <link href="/css/header/mypageHeader.css" rel="stylesheet" type="text/css">
    <script src="/js/mypageHeader.js" type="text/Javascript" defer></script>
</head>
<body>
    <!-- 헤더 -->
    <header id="header">
        <div class="header_menu" id="home"> 홈 </div>
        <div class="header_menu" id="login"> 로그인 </div>
        <div class="header_menu" id="mypage"> 마이페이지 </div>
        <div class="header_menu" id="csmenu"> 고객센터 </div>
        <div class="header_menuend" id="heartProduct"> 관심상품 </div>
   
        <div>
            <div class="header_img" style="background-image: url(/image/icon/mypage_logo.png)"></div>
        </div>
    </header>
    
</body>
</html>