<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order-header</title>
    <link href="/css/header/orderHeader.css" rel="stylesheet" tpye="text/css">
</head>
<body>
    <!-- 헤더 -->
    <header id="header">
   
      <div class="back">   
        <div class="header_menu"> 홈 </div>
        <div class="header_menu"> 로그인 </div>
        <div class="header_menu"> 마이페이지 </div>
        <div class="header_menu"> 고객센터 </div>
        <div class="header_menuend"> 관심상품 </div>
   
        <div>
            <div class="header_img" style="background-image: url(/image/icon/mypage_logo.png)"></div>
        </div>
        
      <div class="title22">
          판매하기
        </div>
       </div>
    </header>
 
</body>
</html>