<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subHeader</title>
    <link href="/css/header/subHeader.css" rel="stylesheet" type="text/css">
    <script src="/js/subHeader.js" type="text/Javascript" defer></script>
</head>
<body>
    <header>
		<div id="headermain">
			<th:block sec:authorize="hasRole('ADMIN')">
				<div class="header_menu admin" id="admin">관리자</div>
			</th:block>
				<div class="mainmenu" id="home">홈</div>
			<th:block sec:authorize="isAnonymous()">
				<div class="mainmenu login" id="login">로그인</div>
			</th:block>
			<th:block sec:authorize="isAuthenticated()">
				<div class="mainmenu logout" id=logout>로그아웃</div>
			</th:block>
			<div class="mainmenu" id="mypage">마이페이지</div>
			<div class="mainmenu" id="csmenu">고객센터</div>
			<div class="mainmenuend" id="heartProduct">관심상품</div>
		</div>

		<div id="headermain2">
            <div id="mainlogo" style="background-image: url(/image/icon/mainlogo.png)"></div>
        </div>
    </header>
</body>
</html>