<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subheader</title>
    <link href="../Byoungoh/resources/css/subheader.css" rel="stylesheet" tpye="text/css">
    <script src="../Byoungoh/resources/javascript/subheader.js" type="text/Javascript" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div id="headermain">
            <div class="mainmenu"> 홈 </div>
            <div class="mainmenu"> 로그인 </div>
            <div class="mainmenu"> 마이페이지 </div>
            <div class="mainmenu"> 고객센터 </div>
            <div class="mainmenuend"> 관심상품 </div>
        </div>
    
        <div id="headermain2">
            <div id="mainlogo"></div>
        </div>
    </header>
</body>
</html>