<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/list/normalBuyStyle.css" type="text/css">
    <link rel="stylesheet" href="/css/list/orderHeader.css" type="text/css">
</head>
<body>

    <!-- 헤더 -->
	<div th:replace="common/header/orderHeader2.html"></div>


    <section id="section03">
        <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
        <img src="../img/신발.png " width="100" height="100" style="float: left; margin-right: 20px;">
        <div class="info" style="text-align: left;">
            <div th:each="productDTO : ${selectBuyingOrder}">
                <p style="margin: 0;" th:text="${productDTO.productCode}"></p>
                <p style="margin: 0;" th:text="${productDTO.productName}"></p>
                <p style="margin: 0; color: gray;" th:text="${productDTO.productNameKr}"></p>
 				
</script>
	</div>
	</div>
    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">

    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px;">

<form id="selectForm" action="/list/normalSell" method="post">
  
    <div th:each="productDTO : ${selectBuyingOrder}">
      <div th:each="productOption: ${productDTO.productOption}">
        <div class="box product" style="display: block;"
          th:if="${productOption.buyingOrders != null and not #lists.isEmpty(productOption.buyingOrders)}"
          th:data-buying-order-code="${productOption.buyingOrders[0].buyingOrderCode}"
          th:data-buying-order-price="${productOption.buyingOrders[0].buyingOrderPrice}"
          th:data-product-code="${productOption.productCode}">
          <span style="line-height: 0.5;">
            <b th:text="${productOption.productOptionSize}"></b>
          </span>
          <span style="line-height: 0.5; color: rgb(9, 120, 9);"
            th:text="${productOption.buyingOrders[0].buyingOrderPrice} + '원'"></span>
        </div>
      </span>
    </span>
  </div>
</form>

<script>
  const $products = document.querySelectorAll(".product");

  $products.forEach(div => {
    div.addEventListener('click', (e) => {
      console.log(e.currentTarget.dataset);

      const buyingOrderCode = e.currentTarget.dataset.buyingOrderCode;
      const buyingOrderPrice = e.currentTarget.dataset.buyingOrderPrice;
      const productCode = e.currentTarget.dataset.productCode;
      const productOptionSize = e.currentTarget.querySelector("b").textContent.trim();

      if (buyingOrderPrice === '0') { // 가격이 0원인 경우
        location.href = '/list/normal6?productOptionSize=' + productOptionSize+'&productCode='+productCode;
      } else { // 그 외의 경우
        location.href = '/list/normalSell2?buyingOrderCode=' + buyingOrderCode + '&buyingOrderPrice=' + buyingOrderPrice;
      }
    });
  });

  // 중복된 프로덕트 옵션 사이즈를 제거하는 함수
  function removeDuplicatesForBuyingOrder() {
    const sizeSet = new Set(); // Set 객체 생성
    const $sizes = document.querySelectorAll(".product b");

    $sizes.forEach(size => {
      const sizeText = size.textContent.trim();
      if (sizeSet.has(sizeText)) { // 중복인 경우
        size.parentNode.parentNode.style.display = "none"; // 해당 div 숨기기
      } else { // 중복이 아닌 경우
        sizeSet.add(sizeText); // Set에 추가
      }
    });
  }

  removeDuplicatesForBuyingOrder(); // 중복 제거 함수 호출

</script>








    </div>

      <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px;">
    </div>
</section>

<script>
  var boxes = document.querySelectorAll('.box');
  var selectedBox = document.querySelector('.selected');

  function updateButtonStatus() {
    const myButton = document.getElementById('my-button');
    const selectedBox = document.querySelector('.selected');
    if (selectedBox) {
      myButton.style.opacity = 1;
      myButton.style.pointerEvents = 'auto';
      myButton.onclick = function () {
        window.location.href = 'https://www.google.com';
      };
    } else {
      myButton.style.opacity = 0.5;
      myButton.style.pointerEvents = 'none';
      myButton.onclick = null;
    }
  }

  boxes.forEach(function (box) {
    box.addEventListener('click', function () {
      if (selectedBox !== null) {
        selectedBox.classList.remove('selected');
      }

      if (selectedBox !== this) {
        this.classList.add('selected');
        selectedBox = this;
      } else {
        selectedBox = null;
      }

      updateButtonStatus();
    });
  });

  updateButtonStatus();
</script>
  </body>
</html>