<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/list/normalBuyStyle.css" type="text/css">
    <link rel="stylesheet" href="/css/list/orderHeader.css" type="text/css">
</head>
<body>

    <!-- 헤더 -->
    	<div th:replace="common/header/orderHeader.html"></div>



<form id="selectForm" action="/list/normalBuy" method="post">
    <!-- 판매 의향서 번호 받는 클릭 이벤트 -->

    <div class="box" style="display: block;">
        <span th:each="product : ${productList}">
            <span th:each="productOption: ${product.productOption}">
				<div th:if="${!#lists.isEmpty(productOption.sellingOrders)}" class="box product" style="display: block;"
				    th:data-selling-order-no="${productOption.sellingOrders[0].sellingOrderNo}"
				    th:data-selling-order-price="${productOption.sellingOrders[0].sellingOrderPrice}">
				    <span style="line-height: 0.5;"><b th:text="${productOption.productOptionSize}"></b></span>
				    <span style="line-height: 0.5; color: rgb(9, 120, 9);" th:text="${productOption.sellingOrders[0].sellingOrderPrice} + '원'"></span>
				</div>
            </span>
        </span>  
    </div>
</form>

  
  <script>

  
 const $products = document.querySelectorAll(".product");

  $products.forEach(div => {
      div.addEventListener('click', (e) => {
          console.log(e.currentTarget.dataset);
          const sellingOrderNo = e.currentTarget.dataset.sellingOrderNo;
          const sellingOrderPrice = e.currentTarget.dataset.sellingOrderPrice;
          location.href = '/list/normalBuy2?sellingOrderNo=' + sellingOrderNo + '&sellingOrderPrice=' + sellingOrderPrice;
      });
  });



/*        const $products = document.querySelectorAll(".product");

      $products.forEach(div => {
          div.addEventListener('click', (e) => {
              console.log(e.currentTarget.dataset)
             const sellingOrderNo = e.currentTarget.dataset.sellingOrderNo;
             location.href='/list/normalBuy2?sellingOrderNo=' + sellingOrderNo;
          });
      });   */

  </script>
  
 <section id="section03">
    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
    <img src="../img/신발.png " width="100" height="100" style="float: left; margin-right: 20px;">

    <div class="info" style="text-align: left;">
    <div th:each="product : ${ productList }">
		  <p style="margin: 0;" th:text="${ product.productCode }"></p>
		  <p style="margin: 0;" th:text="${ product.productName }"></p>
		  <p style="margin: 0; color: gray;" th:text="${ product.productNameKr }"></p>

	</div>
	</div>
    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">

    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px;">

     
    <div class="container">
<!-- 1.div
2.필요한 정보들(판매의향서 번호만 넘겨야 한다.)
3.넘길때 폼태 -->
        <form id="selectForm" action="/list/normalBuy" method="post">
            <!-- 판매 의향서 번호 받는 클릭 이벤트 -->
            <div class="box" style="display: block;">
        <span th:each="product : ${productList}">
            <span th:each="productOption: ${product.productOption}">
                  <div th:if="${!#lists.isEmpty(productOption.sellingOrders)}" class="box" style="display: block;">
			        <a style="line-height: 0.5;" th:href="@{/list/normalBuy2?sellingOrderNo={no}
			        (no=${productOption.sellingOrders[0].sellingOrderNo})}"><b th:text="${productOption.productOptionSize}" ></b></p>
                        <a style="line-height: 0.5; color: rgb(9, 120, 9);" 
                        th:href="@{/list/normalBuy2?sellingOrderNo={no}(no=${productOption.sellingOrders[0].sellingOrderNo})}" 
                        th:text="${productOption.sellingOrders[0].sellingOrderPrice} + '원'"></p>
			      	</a>
			      	</a>
			      	
			      </div>
            </span>
        </span></div>
        </form>


    </div>

      <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px;">
   <!-- <button id="my-button">
        즉시 판매 계속
      </button> -->   
</section>
<script>
function updateButtonStatus() {
	  const myButton = document.getElementById('buyBtn');  // id를 buyBtn으로 수정
	  const selectedBox = document.querySelector('.selected');
	  const sellingOrderNo = document.querySelector('input[name=sellingOrderNo]');  // 수정

	  if (selectedBox) {
	    myButton.style.opacity = 1;
	    myButton.style.pointerEvents = 'auto';

	    sellingOrderNo.value = selectedBox.querySelector('p').textContent;  // 수정
	  } else {
	    myButton.style.opacity = 0.5;
	    myButton.style.pointerEvents = 'none';

	    sellingOrderNo.value = '';
	  }

	  myButton.onclick = function () {
	    document.getElementById('selectForm').submit();  // 수정
	  };
	}

</script>

  </body>
</html>