<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/list/normalBuyStyle.css" type="text/css">
    <link rel="stylesheet" href="/css/list/orderHeader.css" type="text/css">
</head>
<body>

    <!-- 헤더 -->
	<div th:replace="common/header/orderHeader2.html"></div>


  <section id="section03">
    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">

    <img src="../img/신발.png " width="100" height="100" style="float: left; margin-right: 20px;">

    <div class="info" style="text-align: left;">
    <div th:each="product : ${ productList }">
		  <p style="margin: 0;" th:text="${ product.productCode }"></p>
		  <p style="margin: 0;" th:text="${ product.productName }"></p>
		  <p style="margin: 0; color: gray;" th:text="${ product.productNameKr }"></p>
	</div>
	</div>
    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">

    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px;">

    

<form id="select2Form" action="/list/normalSell" method="post">
    <!-- 판매 의향서 번호 받는 클릭 이벤트 -->
    <div class="all">
        <div class="box" style="display: block;">
            <div th:each="product : ${productList}">
                <div th:each="productOption: ${product.productOption}">
                    <div th:if="${!#lists.isEmpty(productOption.sellingOrders)}" class="box" style="display: block;">
                        <a style="line-height: 2.5; width: 200px;" 
                            th:href="@{/list/normalSell2?sellingOrderNo={no} (no=${productOption.sellingOrders[0].sellingOrderNo})}" 
                            th:text="${productOption.productOptionSize}"></a>
                        <p style="line-height: 0.5; color: rgb(9, 120, 9);" 
                            th:href="@{/list/normalSell2?sellingOrderNo= {no}(no=${productOption.sellingOrders[0].sellingOrderNo})}" 
                            th:text="${productOption.sellingOrders[0].sellingOrderPrice} + '원'"></p>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</form>


  


      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>
      
      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>
      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(9, 120, 9);">270,000</p>
      </div>


    </div>

      <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px;">
      <button id="my-button">
        즉시 판매 계속
      </button>
    </div>
</section>

<script>
  var boxes = document.querySelectorAll('.box');
  var selectedBox = document.querySelector('.selected');

  function updateButtonStatus() {
    const myButton = document.getElementById('my-button');
    const selectedBox = document.querySelector('.selected');
    if (selectedBox) {
      myButton.style.opacity = 1;
      myButton.style.pointerEvents = 'auto';
      myButton.onclick = function () {
        window.location.href = 'https://www.google.com';
      };
    } else {
      myButton.style.opacity = 0.5;
      myButton.style.pointerEvents = 'none';
      myButton.onclick = null;
    }
  }

  boxes.forEach(function (box) {
    box.addEventListener('click', function () {
      if (selectedBox !== null) {
        selectedBox.classList.remove('selected');
      }

      if (selectedBox !== this) {
        this.classList.add('selected');
        selectedBox = this;
      } else {
        selectedBox = null;
      }

      updateButtonStatus();
    });
  });

  updateButtonStatus();
</script>
  </body>
</html>