<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/list/normalBuyStyle.css" type="text/css">
    <link rel="stylesheet" href="/css/list/orderHeader.css" type="text/css">
</head>
<body>

    <!-- 헤더 -->
	<div th:replace="common/header/orderHeader.html"></div>


  <section id="section03">
    <form id="selectForm" action="/list/normalBuy" method="post">
    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">

    <img src="../img/신발.png " width="100" height="100" style="float: left; margin-right: 20px;">

    <div class="info" style="text-align: left;">
       <div th:each="product : ${ productList }">
		  <p style="margin: 0;" th:text="${ product.productCode }"></p>
   		  <p style="margin: 0;" th:text="${ product.productName }"></p>
		  <p style="margin: 0; color: gray;" th:text="${ product.productNameKr }"></p>
	</div>
    </div>
    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">

    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px;">

    
    <div class="container">
      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
      <span th:each="productOption : ${product.productOption}"> 
   			<span th:each="productOption : ${product.productOption}"> <!--신발사이 -->
 	 		<span th:if="${productOption.productOptionSize} == '220'" th:text="${productOption.sellingOrders[0].sellingOrderPrice + '원'}">
		<span th:unless="${productOption.productOptionSize} == '220'">null
  	</span>
  	</span>
  	</span>
      </span>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      </div>
      
      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      
      </div>

      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      
      </div>


      <div class="box" style="display: block;">
        <p style="line-height: 0.5;"><b>220</b></p>
        <p style="line-height: 0.5; color: rgb(198, 8, 27);">270,000</p>
      
      </div>
    


    </div>

      <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px;">
      <button id="my-button">
        즉시 판매 계속
      </button>
    </form>
</section>

<script>
  var boxes = document.querySelectorAll('.box');
  var selectedBox = document.querySelector('.selected');

  function updateButtonStatus() {
    const myButton = document.getElementById('my-button');
    const selectedBox = document.querySelector('.selected');
    if (selectedBox) {
      myButton.style.opacity = 1;
      myButton.style.pointerEvents = 'auto';
      myButton.onclick = function () {
        window.location.href = 'https://www.google.com';
      };
    } else {
      myButton.style.opacity = 0.5;
      myButton.style.pointerEvents = 'none';
      myButton.onclick = null;
    }
  }

  boxes.forEach(function (box) {
    box.addEventListener('click', function () {
      if (selectedBox !== null) {
        selectedBox.classList.remove('selected');
      }

      if (selectedBox !== this) {
        this.classList.add('selected');
        selectedBox = this;
      } else {
        selectedBox = null;
      }

      updateButtonStatus();
    });
  });

  updateButtonStatus();
</script>
  </body>
</html>