<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="css/admin/style.css">
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<title>THUNDER_BOLT</title>


<div class="sidebar-background">
	<!-- 사이드 바-->
	<div class="sidebar">
		<div class="logo">
			<img src="/image/icon/mainlogo.png" id="logoimg">
		</div>
		<ul>
				<div class="sidebar-menu" id="sidebarcontainer">
			
				<li class="sidebartexts" id="main-serv">
				
				<a href="/admin/home"><img
						class="sidebaricons" id="truckimg"
						src="/image/icon/home_icon-icons.com_73532.png">MAIN</a></li>
						
				<li class="sidebartexts" id="delivery-serv">
				<a href="/admin"><img class="sidebaricons"
						id="truckimg" src="/image/icon/truck_13241.png">배송관리</a></li>
						
				<li class="sidebartexts" id="order-serv"><a
					href="/admin/orderMainPage">
					
					<img class="sidebaricons"
						id="basketimg"
						src="/image/icon/basket_icon-icons.com_56201.png">주문관리</a></li>
								
				<li class="sidebartexts" id="client-serv"><a
					href="https://www.naver.com"><img class="sidebaricons"
						id="personimg" src="/image/icon/user_84308.png">회원관리</a></li>
				<li class="sidebartexts" id="product-serv"><a
					href="/admin/productMainPage"><img class="sidebaricons"
						id="boximg"
						src="/image/icon/box_cube_d_perspective_shape_icon_142362.png">상품관리</a>
				</li>
				<li class="sidebartexts" id="board-serv"><a
					href="https://www.naver.com"><img class="sidebaricons"
						id="helpimg"
						src="/image/icon/help-button-speech-bubble-with-question-mark_icon-icons.com_72707.png">게시판관리</a>
				</li>
				<li class="sidebartexts" id="logout-serv"><a
					href="/main"><img class="sidebaricons"
						id="cancelimg"
						src="/image/icon/home_icon-icons.com_73532.png">logout</a></li>
			</div>
		</ul>
	</div>




</div>
</head>

<body>
	<div class="bodyback">

		<!-- 페이지 제목 -->

		<div id="page-title">배송관리</div>

		<!-- 페이지 몸통-->
		<div class="buttonselection">
			<div class="buttonstosub">

				<button id="selling">발송관리</button>
			</div>
			<div class="buttonstogo">
				<label class="sjbh">송장번호<input id="bh" type="text"></label>
				<button id="checking" onclick="searchDelivery()">조회 </button>
			</div>
		</div>


		<div class="page-body">


			<div class="order-select1">
				<div class="mother-order-select2">


<table class="order-select2">
  <tr class="order-select22">
    <th>송장번호</th>
    <th>주문번호</th>
    <th>주문상품</th>
    <th>ID</th>
    <th>회원명</th>
    <th>배송지</th>
    <th>구분</th>
    <th>발송일</th>
    <th>수취여부</th>
  </tr>
  <tr class="order-select33" id="deliveryde">
    <td><!--  11111-11-111111--></td>
    <td><!--232654-5454-65--></td>
    <td><!--바바리 남성지갑--></td>
    <td><!--tomtomtom--></td>
    <td><!--썬더--></td>
    <td><!--서울시 동남구 워싱턴가 23길 대서양옆 작은섬--></td>
    <td><!--즉시구매--></td>
    <td><!--2023/2/24--></td>
    <td><!--수취완료--></td>
  </tr>
</table>


				<!-- 	<table class="order-select2">
						<tr class="order-select22">
							<th id="a1">송장번호</th>
							<th id="a2">주문번호</th>
							<th id="a3">주문상품</th>
							<th id="a4">ID</th>
							<th id="a5">회원명</th>
							<th id="a6">배송지</th>
							<th id="a7">구분</th>
							<th id="a8">발송일</th>
							<th id="a9">수취여부</th>
						</tr>
					</table>
					<table class="order-select3" id="deliveryde">

						<tr class="order-select33">
							<td id="a11">11111-11-111111</td>
							<td id="a22">232654-5454-65</td>
							<td id="a33">바바리 남성지갑</td>
							<td id="a44">tomtomtom</td>
							<td id="a55">썬더</td>
							<td id="a66">서울시 동남구 워싱턴가 23길 대서양옆 작은섬</td>
							<td id="a77">즉시구매</td>
							<td id="a88">2023/2/24</td>
							<td id="a99">수취완료</td>
						</tr>
					</table> -->


				</div>
			</div>

			<!--착송관리-->
			<div class="buttonstosub">

				<button id="arrive">착송관리</button>
			</div>
			<div class="order-select4">
				<div class="mother-order-select2">

                    <table class="order-select2">
  <thead>
    <tr>
      <th>송장번호</th>
      <th>주문번호</th>
      <th>상품정보</th>
      <th>ID</th>
      <th>회원명</th>
      <th>수취여부</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>11111-11-111111</td>
      <td>232654-5454-65</td>
      <td>바바리 남성지갑</td>
      <td>tomtomtom</td>
      <td>이썬더</td>
      <td>미수취</td>
    </tr>
  </tbody>
</table>

					<!-- <table class="order-select2">
						<tr class="order-select22">
							<th id="b1">송장번호</th>
							<th id="b2">주문번호</th>
							<th id="b3">상품정보</th>
							<th id="b4">ID</th>
							<th id="b5">회원명</th>
							<th id="b6">수취여부</th>


						</tr>
					</table>
					<table class="order-select3">

						<tr class="order-select33">
							<td id="b11">11111-11-111111</td>
							<td id="b22">232654-5454-65</td>
							<td id="b33">바바리 남성지갑</td>
							<td id="b44">tomtomtom</td>
							<td id="b55">이썬더</td>
							<td id="b66">미수취</td>

						</tr>
					</table> -->


				</div>
			</div>
		</div>




	</div>
<script type="text/javascript" src="js/delivery/delivery.js"> </script>
	<script>
        document.getElementById("selling").onclick = function() {
    window.open("http://localhost:8002/admin/decon", "Order Update", "width=1366,height=768");
}

document.getElementById("arrive").onclick = function() {
    window.open("http://localhost:8002/admin/arrive", "Order Delete", "width=1366,height=768");
}
    </script>

</body>

</html>