<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>penalty</title>
</head>
<body>
	<div id="modal4" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<p class="persmaintitle" >패널티 정책</p>
			<div class="agreebody">
			<hr
				style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
			<b>판매자와 구매자의 건전한 거래를 위하여 아래 사유에 따라 페널티가 부과됩니다.</b> <br> <br>

			결제정보 오류로 페널티 결제 실패 시, 이용약관 제24조("서비스수수료")에 따라 별도의 고지없이 재결제를 시도합니다. <br>
			<br> <b>판매거부10.0% <br> <br></b>
			<hr
				style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
			판매 거래 체결 후, 1시간 이내 판매 거부 <br> 판매 거래 체결 후, 1시간 이후 판매 거부 <br>
			<br> <b>발송지연 15.0%<br> <br></b>
			<hr
				style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
			판매 거래 체결 후, 48시간(일요일・공휴일 제외) 이내 발송 정보 미입력<br>
			<ul>
				<li>발송 정보 입력 후,5일(일요일・공휴일 제외) 이내 검수센터에 미도착<br></li>
				<li>가송장 등 허위 정보 입력 <br></li>
			</ul>
			거래 체결 전 상품 발송 <br>
			<ul>
				<li>발송 정보 입력 시 지원하지 않는 배송 수단의 경우, 운송장 추적 불가, 도착 상품의 식별 곤란 등의
					사유로 인해 입고가 불가하며 이에 해당하는 상품은 반송 처리됩니다.<br>
				</li>
				<li>반송 처리 등 정상적이지 않은 배송 방법을 통해 상품을 검수센터로 전달할 경우 상품 입고가 불가능합니다.<br>
				</li>
				<li>단, 부득이한 경우 발송 정보 입력 기한 이내에 고객센터를 통한 협의 및 THUNDERBOLTS의 사전
					승인 하에 상품 동일성 식별이 가능하도록 조치한 경우에 한하여 상품 입고가 가능한 점 참고 부탁드립니다.<br>
				</li>
			</ul>ㄴ
			<br>
			<br>
			<b>검수기준 악용 10.0%<br></b>
			<hr
				style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
			아래 검수기준 위반시에는 페널티를 부과합니다. (패키지와 상품 공통 적용)<br>
			<ul>
				<li>신발/의류/패션잡화 <br></li>
				<li>상품 불일치,사이즈 불일치,기본 구성품 누락<br></li>
				<li>테크/라이프 <br></li>
				<li>정보 불일치 <br></li>
			</ul>
			<br> <br>
			<b>가품, 손상/오염/사용감 15.0%</b><br>
			<hr
				style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
			일반 거래는 판매가 기준이며, 보관 판매는 판매 상품 모든 사이즈의 전월 평균 거래가 기준입니다. <br> <br>
			<b>페널티 감면 기준</b><br>
			<hr
				style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
			<ul>
				<li>THUNDERBOLTS은 이용약관 제 24조 ("서비스 수수료") 다. 항에 따라 회원이 아래와 같은
					특별한 사유에 해당하는 것으로 객관적으로 소명할 경우 기 부과된 페널티를 감경 또는 면제할 수 있습니다.<br>
					THUNDERBOLTS은 해당 사안의 사실관계, 이전 사용이력, 거래행태 등을 종합적으로 분석하여 아래 사유에 해당하는지
					여부를 최종 판단합니다.<br> 페널티 감경 또는 면제는 해당 회원의 부주의에도 불구하고
					THUNDERBOLTS이 회원의 특별한 사정을 고려하여 예외적으로 실시하는 조치이므로 하기 특별 사유의 존재 여부는 해당
					"회원"이 객관적으로 증명해야 할 책임이 있습니다.<br>
				<br>
				</li>
				<li>서비스 사용 미숙에 따른 조작실수임이 명백한 경우</li>
				<li>명백히 택배사의 책임 있는 사유로 인하여 페널티 발생한 경우</li>
				<li>고의성이 없이 가품 및 손상/오염/사용감 있는 제품을 판매한 것이 명백한 경우 (단, 페널티 감경이
					이루어지더라도 가품 및 손상/오염/사용감 있는 제품 판매로 인한 이용정지 등의 절차는 진행될 수 있음)</li>
			</ul>
			<hr
				style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
		</div>
	</div>	</div>
</body>
</html>