<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>personalInfo</title>

</head>
<body>
	<div id="modal3" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<p class="persmaintitle">개인정보 수집 및 이용</p>
			<p class="persmaintext">(주)ThunderBolts(이하 회사)는 서비스 제공을 위하여 아래와
				같이 개인정보를 수집 ・ 이용 및 제공합니다.</p>
			<p class="perstexttitle">개인정보 수집 및 이용 내역</p>
			<div>
				<table class="perstable">
					<tr class="perstr tr1">
						<td class="td1">항목</td>
						<td>수집 및 이용 목적</td>
						<td>필수 여부</td>
						<td>보유 및 이용기간</td>
					</tr>
					<tr class="perstr tr2">
						<td>이메일 회원: ID(이메일 주소), 비밀번호, 이름, 휴대폰번호, 성별, 생년월일, CI/DI</td>
						<td rowspan="2">회원 가입 및 프로필 관리</td>
						<td>필수</td>
						<td rowspan="4">회원 탈퇴 또는 서비스 종료 시까지</td>
					</tr>
					<tr class="perstr tr3">
						<td>(공통) 별명, 프로필 사진, 신발 사이즈, 배송 주소, 카드 정보, 거래 은행 및 계좌번호</td>

						<td>선택</td>

					</tr>
					<tr class="perstr tr4">
						<td rowspan="2">개인: 이름, 주소, 휴대폰번호, 이메일, 입금계좌 정보(계좌번호, 예금주명),
							신분증 사본 사업자: 이름, 주소, 휴대폰번호, 이메일, 입금계좌 정보(계좌번호, 예금주명), 사업자등록증, 입금계좌
							신고서</td>
						<td rowspan="2">매입/매출 거래처 등록</td>
						<td rowspan="2">필수</td>

					</tr>
					<tr>
					</tr>
					<tr class="perstr tr5">
						<td>휴대폰번호</td>
						<td>ID 찾기</td>
						<td>필수</td>
						<td>ID 찾기 이용 시까지</td>
					</tr>
					<tr class="perstr tr6">
						<td>휴대폰번호, 이메일주소</td>
						<td>비밀번호 찾기</td>
						<td>필수</td>
						<td>비밀번호 찾기 이용 시까지</td>
					</tr>
				</table>

			</div>
			<div class="perstext1">개인정보의 수집 및 이용에 대한 동의를 거부하시더라도 서비스의 이용은
				가능합니다.</div>

			<div class="perstextend">다만, 수집 및 이용을 거부하신 정보와 연계된 서비스(회원 가입 및
				프로필 관리, 매입/매출 거래처 등록, ID/비밀번호 찾기)는 동의 전까지 일부 또는 전체를 이용하실 수 없습니다.</div>

			<a href="/" class="persnalpage">개인정보 처리방침 전문 보기</a>

		</div>
	</div>
</body>
</html>