<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>THUNDER_BOLT</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="image/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/mypage/mypageBoot.css" rel="stylesheet" type="text/css">
    <link href="/css/mypage/address.css" rel="stylesheet" type="text/css">
    <script src="/js/address.js" type="text/Javascript"></script>
    <script src="/js/mypageSide.js" type="text/Javascript" defer></script>
    <link href="/css/footer/mainFooter.css" rel="stylesheet" type="text/css">
	<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script>
    	const message = '[[${message}]]';
    	message && alert(message);
    </script>
    

</head>

<body>
    <!-- 헤더 -->
	<div th:replace="common/header/mypageHeader.html"></div>
	    <div class="d-flex" id="wrapper">
        <div class="border-end bg-white" id="sidebar-wrapper">
            <a href="#">
                <div class="sidebar-title " id="side0">마이 페이지</div>
            </a>
            <!-- Sidebar 쇼핑정보 -->
            <div class="sidebar-heading">쇼핑정보</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light" id="side1">구매 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side2">판매 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side3">관심 상품</a>
            </div>

            <!-- Sidebar 내정보 -->
            <div class="sidebar-heading">내정보</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light" id="side4">내 정보 관리</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side5">내 문의 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light font_weight" id="side6">주소록</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side7">정산계좌</a>
            </div>
        </div>
        <!--sidebar-wrapper-->

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Page content-->
            <div class="container-fluid">
                <!-- 주소록 -->

                <h3>주소록</h3>
                <div class="tit_sub">자주 사용하시는 배송지는 주소록에 등록 해 두시면 편리하게 이용하실 수 있습니다</div>
                <p class="bobo"></p>
                <button id="open-modal1" class="address_regist">새 배송지 추가</button>
                <div class="address_cont">
                
                    <ul class="address_wrap">
                        <li class="address_tit">수령인</li>
                        <li class="address_detail">주소</li>
                        <li class="none"></li>
                    </ul>
                    <p class="bobo"></p>
                    <ul class="address_wrap">
                        <li class="address_tit gray">홍길동</li>
                        <li class="address_detail gray se">서울특별시 강남구 테헤란로 123번길 4567ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</li>
                        <li><button class="address_del_btn">삭제</button></li>
                    </ul>

                    <ul class="address_wrap">
                        <li class="address_tit gray">홍길동</li>
                        <li class="address_detail gray se">서울특별시 종로구 인사동길 890번길 4567</li>
                        <li><button class="address_del_btn">삭제</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 팝업 -->
        <div id="address_modal" >
            <form action="/mypage/address" method="POST">
                <div class="modal-content">
                    <div class="close">&times;</div>
                    <h5>새 주소 추가</h5>
                    <!-- 이름 입력 필드 -->
                    <label for="name">이름</label>
                    <input type="text" id="name" name="receiverName" placeholder="이름">
                    <span></span>
                    <!-- 우편번호 입력 필드 -->
                    <label for="postnum" class="mt">우편번호</label>
                    <ul class="postnum_wrap">
                        <li><input type="text" id="postnum" name="addressesPostNo" placeholder="우편번호를 검색하세요."></li>
                        <li><button type="button" class="postnum_del_btn">검색</button></li>
                    </ul>
                    <span></span>
                    <!-- 주소 입력 필드 -->
                    <label for="myaddress" class="mt">주소</label>
                    <input  type="text" disabled id="myaddress" name="addressesName" placeholder="우편번호 검색 후 자동 입력 됩니다. ">
                    <span></span>
                    <!-- 상세 주소 입력 필드 -->
                    <label for="myaddress_detail" class="mt">상세 주소</label>
                    <input  type="text" id="myaddress_detail" name="addressesAdds" placeholder="건물, 아파트, 동/호수 입력">
                    <span></span>

                    <input type="submit" class="modify_btn" value="추가하기">
                </div>
            </form>
        </div>
        
    </div> 
	<!-- 푸터 -->
	<div th:replace="common/footer/mainFooter.html"></div>
</body>

		
</html>