<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>THUNDER_BOLT</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="image/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/mypage/mypageBoot.css" rel="stylesheet" type="text/css">
    <link href="/css/mypage/board.css" rel="stylesheet" type="text/css">
    <script src="/js/mypageSide.js" type="text/Javascript" defer></script>
    <script src="/js/boardUpload.js" type="text/Javascript" defer></script>
    
</head>

<body>
    <!-- 헤더 -->
	<div th:replace="common/header/mypageHeader.html"></div>
    <!-- 바디 -->
    <!-- 사이드바 -->
    <div class="d-flex" id="wrapper">
        <div class="border-end bg-white" id="sidebar-wrapper">
            <a href="#">
                <div class="sidebar-title " id="side0">마이 페이지</div>
            </a>
            <!-- Sidebar 쇼핑정보 -->
            <div class="sidebar-heading">쇼핑정보</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light" id="side1">구매 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side2">판매 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side3">관심 상품</a>
            </div>

            <!-- Sidebar 내정보 -->
            <div class="sidebar-heading">내정보</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light" id="side4">내 정보 관리</a>
                <a class="list-group-item list-group-item-action list-group-item-light font_weight" id="side5">내 문의 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side6">주소록</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side7">정산계좌</a>
            </div>
        </div>
        <!--sidebar-wrapper-->

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Page content-->
            <div class="container-fluid">
                <!-- 내 문의 내역 -->
                
                <h3>내 문의 내역</h3> 
                <div class="tit_sub">⦁ 한번 등록한 문의내용은 수정이 불가능합니다. 수정을 원하시는 경우, 삭제 후 재등록 하셔야 합니다.</div>
                <div class="tit_sub">⦁ 1:1 문의는 24시간 신청가능하며 접수된 내용은 빠른 시간내에 답변을 드리도록 하겠습니다.</div>
                <p></p>
                <button id="bo_btn" class="board_regist">1:1문의 신청하기</button>
                <div class="board_cont">
                    <ul class="board_wrap">
                        <li class="board_tit">문의내역</li>
                        <li class="board_date">등록일</li>
                        <li class="none"></li>
                    </ul>
                    <p></p>
                    <ul class="board_wrap">
                        <li class="board_tit gray">문의 합니다.</li>
                        <li class="board_date gray">2023/01/01</li>
                        <li><button class="board_del_btn">삭제</button></li>
                    </ul>

                    <ul class="board_wrap">
                        <li class="board_tit gray">문의 합니다.</li>
                        <li class="board_date gray">2023/01/01</li>
                        <li><button class="board_del_btn">삭제</button></li>
                    </ul>
                </div>
        </div>
    </div><!-- 사이드바 -->
    <!-- 푸터 -->
	<!-- <div th:replace="common/footer/mainFooter.html"></div>
 -->
</body></html>
