<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>THUNDER_BOLT</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="image/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/mypage/mypageBoot.css" rel="stylesheet" type="text/css">
    <link href="/css/mypage/delivery.css" rel="stylesheet" type="text/css">
    <script src="/js/mypageSide.js" type="text/Javascript" defer></script>
    
</head>

<body>
    <!-- 헤더 -->
	<div th:replace="common/header/mypageHeader.html"></div>
    <!-- 바디 -->
    <!-- 사이드바 -->
    <div class="d-flex" id="wrapper">
        <div class="border-end bg-white" id="sidebar-wrapper">
            <a href="#">
                <div class="sidebar-title " id="side0">마이 페이지</div>
            </a>
            <!-- Sidebar 쇼핑정보 -->
            <div class="sidebar-heading">쇼핑정보</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light" id="side1">구매 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light font_weight" id="side2">판매 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side3">관심 상품</a>
            </div>

            <!-- Sidebar 내정보 -->
            <div class="sidebar-heading">내정보</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light" id="side4">내 정보 관리</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side5">내 문의 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side6">주소록</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side7">정산계좌</a>
            </div>
        </div>
        <!--sidebar-wrapper-->

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Page content-->
            <div class="container-fluid">
                <!-- 발송 정보 등록 -->
                <h3>발송 정보 등록</h3> 
                <div class="gray">운송장 번호를 정확하게 입력해주세요</div>                  
                <div class="delivery_cont">
                    <div>
                        <h4>택배사</h4>
                        <p></p>
                        <select name="delivery" id="delivery_select">
                            <option value="post">우체국택배</option>
                            <option value="cj">CJ대한통운</option>
                            <option value="hj">한진택배</option>
                            <option value="lo">롯데택배</option>
                        </select>
                    </div>
                    
                    <div>
                        <h4>운송장번호</h4>
                        <p></p>
                        <input type="text" placeholder="- 없이 입력" id="delivery_num">
                    </div>

                    <div>
                        
                        <ul class="delivery_detail">
                            <li >
                                <ul class="delivery_detail_cont">
                                    <li class="delivery_detail_tit">발송 정보를 정확히 입력하였으며, 판매자의 책임사항과 미입고 규정을 확인하였습니다.</li>
                                    <li class="gray">발송 정보 입력 후 24시간 이내 조회 불가(택배사 휴무일 제외)</li>
                                    <li class="gray">오입력으로 인한 입고 지연은 판매자의 책임에 포함되며, 5영업일내에 도착하지 않을시 허위정보로 간주하여 미입고 페널티를 부과합니다</li>
                                </ul>
                            </li>    
                            <div class="checkbox-wrapper">
                                <label>
                                  <input type="checkbox" id="checkbox-agree">
                                  <span class="checkmark"></span>
                                </label>
                                </div>
                        </ul>
                        <button class="delivery_detail_btn">저장하기</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div><!-- 사이드바 -->
    <!-- 푸터 -->
	<div th:replace="common/footer/mainFooter.html"></div>
	
	
</body></html>
