<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>THUNDER_BOLT</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="image/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/mypage/mypageBoot.css" rel="stylesheet" type="text/css">
    <link href="/css/mypage/information.css" rel="stylesheet" />
    <script src="/js/mypageSide.js" type="text/Javascript" defer></script>
    <script src="/js/myInfo.js" type="text/Javascript" defer></script>

</head>

<body>
    <!-- 헤더 -->
	<div th:replace="common/header/mypageHeader.html"></div>
    <!-- 바디 -->
    <!-- 사이드바 -->
    <div class="d-flex" id="wrapper">
        <div class="border-end bg-white" id="sidebar-wrapper">
            <a href="#">
                <div class="sidebar-title " id="side0">마이 페이지</div>
            </a>
            <!-- Sidebar 쇼핑정보 -->
            <div class="sidebar-heading">쇼핑정보</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light" id="side1">구매 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side2">판매 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side3">관심 상품</a>
            </div>

            <!-- Sidebar 내정보 -->
            <div class="sidebar-heading">내정보</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light font_weight" id="side4">내 정보 관리</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side5">내 문의 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side6">주소록</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side7">정산계좌</a>
            </div>
        </div>
        <!--sidebar-wrapper-->

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Page content-->
            <div class="container-fluid">
                <!-- 내 정보 조회 -->

                <h3>내 정보 조회</h3>
                <div class="information">
                    <ul>
                        <li class="information_wrap">
                        	<img style="width: 120px; height: 120px;">
                        </li>
                        <li>
                            <ul class="prifile_text" style="position: relative;">
                            	<li></li>
                                <li th:text="${ memberId }"></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- 프로필 이미지 변경-->
                    <div style="display: none;">
						<input type="file" name="attachImage" accept="image/gif,image/jpeg,image/png"> 
					</div>
                </div> <!-- 내 정보 조회 -->

                <div class="information_cont">
                    <div>
                        <div class="information_text">로그인 정보</div>
                        <div th:text="${ selectInfo.membersId }" class="information_text gray">이메일 주소</div>
                        <p></p>
                    </div>

                    <div>
                        <div class="information_text">개인 정보</div>
                        <div th:text="${ selectInfo.membersName }" class="information_text gray">이름</div>
                        <p></p>
                        <div th:text="${ selectInfo.membersTel }" class="information_text gray">휴대폰 번호</div>
                        <p></p>
                        <button id="info_btn" class="information_btn">수정</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- 사이드바 -->
	<!-- 푸터 -->
	<div th:replace="common/footer/mainFooter.html"></div>
	


</body>

</html>