<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>THUNDER_BOLT</title>
    <!-- Favicon  /image/icon/mypage_logo.png-->
    <link rel="icon" type="image/x-icon" href="image/icon/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/mypage/mypageBoot.css" rel="stylesheet" type="text/css">
    <link href="/css/mypage/mypageMain.css" rel="stylesheet" type="text/css">
    <script src="/js/mypageSide.js" type="text/Javascript" defer></script>
    <script src="/js/mypageMain.js" type="text/Javascript" defer></script>
</head>

<body>
    <!-- 헤더 -->
	<div th:replace="common/header/mypageHeader.html"></div>
    <!-- 바디 -->
    <!-- 사이드바 -->
    <div class="d-flex" id="wrapper">
        <div class="border-end bg-white" id="sidebar-wrapper">
            <a href="#">
                <div class="sidebar-title" id="side0">마이 페이지</div>
            </a>
            <!-- Sidebar 쇼핑정보 -->
            <div class="sidebar-heading">쇼핑정보</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light" id="side1">구매 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side2">판매 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side3">관심 상품</a>
            </div>

            <!-- Sidebar 내정보 -->
            <div class="sidebar-heading">내정보</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light" id="side4">내 정보 관리</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side5">내 문의 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side6">주소록</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side7">정산계좌</a>
            </div>
        </div>
        <!--sidebar-wrapper-->

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Page content-->
            <div class="container-fluid">
                <!-- 프로필 -->
                <div class="profile">
                    <ul>
                        <li class="profile_wrap ">
                        <!--  <img th:src="${profile.filePath}+${profile.fileDecoded}" style="width: 120px; height: 120px;">-->
                        <img src="/image/icon/cat.jpg" style="width: 100px; height: 100px;">
                        </li>
                        <li>
                            <ul  class="prifile_text">
                                <li th:text="${ memberId }"></li>
                                <li><button id="info_btn" class="profile_btn">프로필 수정</button></li>
                            </ul>
                        </li>
                    </ul>
                </div> <!-- profile -->
                
                <div class="main_transaction">
                    <ul>
                       <li>
                            <div class="main_transaction_tit">구매내역</div>
                            <ul th:if="${buyList != null}" id="side_myBuy" class="main_transaction_list">
                                <li>
                                	<img th:src="${buyList.file.filePath}+${buyList.file.fileDecoded}" class="main_transaction_img">
                                </li>
                                <li th:text="${ buyList.product.productName }"></li>
                                <li th:text="${ buyDate }"></li>
                                <li th:text="${ buyList.order.ordersStatus }"></li>
                            </ul>
                       </li>

                        <li class="main_transaction_sell">
                            <div class="main_transaction_tit ">판매내역</div>
                            <ul th:if="${sellList != null}" id="side_mySell" class="main_transaction_list">
                                <li>
                                	<img th:src="${sellList.file.filePath}+${sellList.file.fileDecoded}" class="main_transaction_img">
                                </li>
                                <li th:text="${ sellList.product.productName }"></li>
                                <li th:text="${ sellDate }"></li>
                                <li th:text="${ sellList.order.ordersStatus }"></li>
                            </ul>
                        </li>
                        
                       <!--  <li class="main_transaction_sell">
                            <div class="main_transaction_tit ">판매내역</div>
                            <ul class="main_transaction_list">
                                <li class="main_transaction_img"></li>
                                <li>(W) Louis Vuitton Monogram Confidential</li>
                                <li>2023/03/01</li>
                                <li>배송완료</li>
                            </ul>
                        </li> -->
                      
                    </ul>  
                </div>
            </div>
        </div>
    </div><!-- 사이드바 -->
	<!-- 푸터 -->
	<div th:replace="common/footer/mainFooter.html"></div>

  
</body></html>