<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>THUNDER_BOLT</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="image/icon/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/mypage/mypageBoot.css" rel="stylesheet" type="text/css">
    <link href="/css/mypage/mySell.css" rel="stylesheet" type="text/css">
    <script src="/js/mypageSide.js" type="text/Javascript" defer></script>
    <script src="/js/mySellDetail.js" type="text/Javascript" defer></script>
    
</head>

<body>
    <!-- 헤더 -->
	<div th:replace="common/header/mypageHeader.html"></div>
    <!-- 바디 -->
    <!-- 사이드바 -->
    <div class="d-flex" id="wrapper">
        <div class="border-end bg-white" id="sidebar-wrapper">
            <a href="#">
                <div class="sidebar-title " id="side0">마이 페이지</div>
            </a>
            <!-- Sidebar 쇼핑정보 -->
            <div class="sidebar-heading">쇼핑정보</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light" id="side1">구매 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light font_weight" id="side2">판매 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side3">관심 상품</a>
            </div>

            <!-- Sidebar 내정보 -->
            <div class="sidebar-heading">내정보</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light" id="side4">내 정보 관리</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side5">내 문의 내역</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side6">주소록</a>
                <a class="list-group-item list-group-item-action list-group-item-light" id="side7">정산계좌</a>
            </div>
        </div>
        <!--sidebar-wrapper-->

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Page content-->
            <div class="container-fluid">
                <!-- 판매 내역 -->
                <h3>판매 내역</h3>                
                <div class="sell">
                    <ul>
                       <li th:if="${sellingList != null}">
                           <ul th:each="sell : ${sellingList}"  id="side_myBuy" 
                           th:onclick="|location.href='/mypage/mysell?no=${sell.orderNo}'|"
                           class="sell_list">
                                <li>
                                	<img th:src="${sell.file.filePath}+${sell.file.fileDecoded}" class="sell_img">
                                </li>
                                <li th:text="${ sell.product.productName }"></li>
                                <li th:text="${#dates.format( sell.order.ordersDate, 'yyyy-MM-dd')}"></li>
                                <li th:text="${ sell.order.ordersStatus }"></li>
                            </ul>
                       </li>
                    </ul>  
                </div>
            </div>
        </div>
    </div><!-- 사이드바 -->
    <!-- 페이징 바 -->
	<div id="paging" align="center" style="margin-top: 20px;">
	    <!-- 맨 앞으로 이동 -->
	    <button th:onclick="location.href=\'/mypage/mysell?page=1\'">&lt;&lt;</button>
	
	    <!-- 이전 페이지로 이동 -->
	    <button th:onclick="location.href='/mypage/mysell?page=' + ${paging.page - 1}" th:disabled="${paging.page &lt;= 1}">&lt;</button>
	
	    <!-- 숫자 버튼 -->
	    <th:block th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
	        <button th:onclick="'location.href=\'/mypage/mysell?page=' + @{${page}} + '\''" th:text="${ page }" th:disabled="${ paging.page eq page }"></button>
	    </th:block>
	
	    <!-- 다음 페이지로 이동 -->
	    <button th:onclick="'location.href=\'/mypage/mysell?page=' + @{${paging.page + 1}} + '\''" th:disabled="${ paging.page >= paging.maxPage }">&gt;</button>
	
	    <!-- 맨 끝으로 이동 -->
	    <button th:onclick="'location.href=\'/mypage/mysell?page=' + @{${paging.maxPage}} + '\''">&gt;&gt;</button>
	</div>
	<!-- 페이징 바 --> 
    <!-- 푸터 -->
	<div th:replace="common/footer/mainFooter.html"></div>
</body></html>
