<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.thunderbolts.model.dao.ListMapper">

<resultMap id="productResultMap" type="com.greedy.thunderbolts.model.dto.ProductDTO">
<id property="productCode" column="PRODUCT_CODE"/>
<result property="productName" column="PRODUCT_NAME"/>
<result property="productNameKr" column="PRODUCT_NAME_KR"/>
<result property="productEntryDate" column="PRODUCT_ENTRY_DATE"/>
<result property="categoriesCode" column="CATEGORIES_CODE"/>
<result property="brandNo" column="BRAND_NO"/>
<result property="productCount" column="PRODUCT_COUNT"/>
<collection property="productOption" resultMap="productOptionResultMap"/>

</resultMap>

<resultMap id="productOptionResultMap" type="com.greedy.thunderbolts.model.dto.ProductOptionDTO">
<id property="productOptionCode" column="PRODUCT_OPTION_CODE"/>
<result property="productCode" column="PRODUCT_CODE"/>
<result property="productOptionColor" column="PRODUCT_OPTION_COLOR"/>
<result property="productOptionSize" column="PRODUCT_OPTION_SIZE"/>
<result property="productOptionEtc" column="PRODUCT_OPTION_ETC"/>
<result property="productOptionQuantitiy" column="PRODUCT_OPTION_QUANTITIY"/>
<collection property="sellingOrders" resultMap="sellingOrderResultMap"/>
</resultMap>

<resultMap id="sellingOrderResultMap" type="com.greedy.thunderbolts.model.dto.SellingOrdersDTO">
<id property="sellingOrderNo" column="SELLINGORDER_NO"/>
<result property="productOptionCode" column="PRODUCT_OPTION_CODE"/>
<result property="membersNo" column="MEMBERS_NO"/>
<result property="sellingOrderDate" column="SELLINGORDER_DATE"/>
<result property="sellingOrderPrice" column="SELLINGORDER_PRICE"/>
<result property="sellingOrderStatus" column="SELLINGORDER_STATUS"/>
<result property="sellingOrderCancellationDate" column="SELLINGORDER_CANCELLATION_DATE"/>
<result property="sellingOrderSuccessingDate" column="SELLINGORDER_SUCCESSING_DATE"/>

</resultMap>

<select id="findProduct" resultMap="productResultMap">
SELECT DISTINCT
        P.PRODUCT_CODE,
        P.PRODUCT_NAME,
        P.PRODUCT_NAME_KR,
        O.PRODUCT_OPTION_SIZE,
        S.SELLINGORDER_PRICE
        FROM PRODUCT P
        LEFT JOIN PRODUCT_OPTION O ON (P.PRODUCT_CODE = O.PRODUCT_CODE)
        LEFT JOIN SELLING_ORDERS S ON (O.PRODUCT_OPTION_CODE = S.PRODUCT_OPTION_CODE)
        INNER JOIN (SELECT MIN(S2.SELLINGORDER_PRICE) min, O2.PRODUCT_OPTION_SIZE
            FROM PRODUCT P2
            INNER JOIN PRODUCT_OPTION O2 ON (P2.PRODUCT_CODE = O2.PRODUCT_CODE)
             INNER JOIN SELLING_ORDERS S2 ON (O2.PRODUCT_OPTION_CODE = S2.PRODUCT_OPTION_CODE)
            GROUP BY O2.PRODUCT_OPTION_SIZE) b
        ON S.SELLINGORDER_PRICE = b.min
        AND O.PRODUCT_OPTION_SIZE = b.PRODUCT_OPTION_SIZE
        WHERE P.BRAND_NO = '4' 
        ORDER BY S.SELLINGORDER_PRICE
</select>

<select id="findSizePrice" resultMap="productResultMap">
SELECT DISTINCT
        P.PRODUCT_CODE,
        P.PRODUCT_NAME,
        P.PRODUCT_NAME_KR,
        O.PRODUCT_OPTION_SIZE,
        S.SELLINGORDER_PRICE
        FROM PRODUCT P
        LEFT JOIN PRODUCT_OPTION O ON (P.PRODUCT_CODE = O.PRODUCT_CODE)
        LEFT JOIN SELLING_ORDERS S ON (O.PRODUCT_OPTION_CODE = S.PRODUCT_OPTION_CODE)
        INNER JOIN (SELECT MIN(S2.SELLINGORDER_PRICE) min, O2.PRODUCT_OPTION_SIZE
            FROM PRODUCT P2
            INNER JOIN PRODUCT_OPTION O2 ON (P2.PRODUCT_CODE = O2.PRODUCT_CODE)
             INNER JOIN SELLING_ORDERS S2 ON (O2.PRODUCT_OPTION_CODE = S2.PRODUCT_OPTION_CODE)
            GROUP BY O2.PRODUCT_OPTION_SIZE) b
        ON S.SELLINGORDER_PRICE = b.min
        AND O.PRODUCT_OPTION_SIZE = b.PRODUCT_OPTION_SIZE
        WHERE P.BRAND_NO = '4' 
        ORDER BY S.SELLINGORDER_PRICE
</select>

</mapper>