<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.thunderbolts.model.dao.MainMapper">

	<resultMap id="productResultMap" type="com.greedy.thunderbolts.model.dto.MainPageDTO">
		<id property="productCode" column="PRODUCT_CODE"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="productNameKr" column="PRODUCT_NAME_KR"/>
		<result property="productEntryDate" column="PRODUCT_ENTRY_DATE"/>
		<result property="categoriesCode" column="CATEGORIES_CODE"/>
		<result property="productCount" column="PRODUCT_COUNT"/>
		
		<association property="brandNo" resultMap="brandResultMap"/>
		<collection property="productOption" resultMap="productOptionResultMap"/>
		<collection property="attachmentFile" resultMap="attachmentFileResultMap"/>
	</resultMap>
	
	
	<!-- ProductOptionDTO -->	
	<resultMap id="productOptionResultMap" type="com.greedy.thunderbolts.model.dto.ProductOptionDTO">
		<id property="productOptionCode" column="PRODUCT_OPTION_CODE"/>
		<result property="productCode" column="PRODUCT_CODE"/>
		<result property="productOptionColor" column="PRODUCT_OPTION_COLOR"/>
		<result property="productOptionSize" column="PRODUCT_OPTION_SIZE"/>
		<result property="productOptionEtc" column="PRODUCT_OPTION_ETC"/>
		<result property="productOptionQuantitiy" column="PRODUCT_OPTION_QUANTITIY"/>
		
		<collection property="sellingOrders" resultMap="sellingOrderResultMap"/>
	</resultMap>

	<!-- SellingOrdersDTO -->		
	<resultMap id="sellingOrderResultMap" type="com.greedy.thunderbolts.model.dto.SellingOrdersDTO">
		<id property="sellingOrderNo" column="SELLINGORDER_NO"/>
		<result property="productOptionCode" column="PRODUCT_OPTION_CODE"/>
		<result property="membersNo" column="MEMBERS_NO"/>
		<result property="sellingOrderDate" column="SELLINGORDER_DATE"/>
		<result property="sellingOrderPrice" column="SELLINGORDER_PRICE"/>
		<result property="sellingOrderStatus" column="SELLINGORDER_STATUS"/>
		<result property="sellingOrderCancellationDate" column="SELLINGORDER_CANCELLATION_DATE"/>
		<result property="sellingOrderSuccessingDate" column="SELLINGORDER_SUCCESSING_DATE"/>
	</resultMap>
	
   <!-- BrandDTO -->	
	<resultMap id="brandResultMap" type="com.greedy.thunderbolts.model.dto.BrandDTO">
		<id property="brandNo" column="BRAND_NO"/>
		<result property="brandName" column="BRAND_NAME"/>
	</resultMap>
	
   <!-- AttachmentFileDTO -->
	<resultMap id="attachmentFileResultMap" type="com.greedy.thunderbolts.model.dto.AttachmentFileDTO">
		<id property="fileCode" column="FILE_CODE"/>
		<result property="fileOriginalName" column="FILE_ORIGINALNAME"/>
		<result property="fileDiv" column="FILE_DIV"/>
		<result property="reviewCode" column="REVIEW_CODE"/>
		<result property="productOptionCode" column="PRODUCT_CODE"/>
		<result property="noticeNo" column="NOTICE_NO"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileDecoded" column="FILE_DECODED"/>
		<result property="fileDate" column="FILE_DATE"/>
		<result property="fileThumbnailChecking" column="FILE_THUMBNAIL_CHECKING"/>
		<result property="membersNo" column="MEMBERS_NO"/>
	</resultMap>

	<select id="findNewProduct" resultMap="productResultMap">
		SELECT
				ROWNUM RNUM,
				A.PRODUCT_CODE,
				A.PRODUCT_NAME,
				A.BRAND_NO,
				A.BRAND_NAME,
				A.SELLINGORDER_PRICE,
				A.PRODUCT_ENTRY_DATE,
				A.FILE_PATH,
				A.FILE_DECODED
		  FROM (SELECT
	
						P.PRODUCT_CODE,
						P.PRODUCT_NAME,
						B.BRAND_NO,
						B.BRAND_NAME,
						MAX(S.SELLINGORDER_PRICE) SELLINGORDER_PRICE,
						P.PRODUCT_ENTRY_DATE,
						AF.FILE_PATH,
						AF.FILE_DECODED
				   FROM PRODUCT P
				   JOIN PRODUCT_OPTION PO ON (P.PRODUCT_CODE = PO.PRODUCT_CODE)
				   JOIN SELLING_ORDERS S ON ( PO.PRODUCT_OPTION_CODE = S.PRODUCT_OPTION_CODE)
				   JOIN BRAND B ON (P.BRAND_NO = B.BRAND_NO)
				   JOIN ATTACHMENT_FILE AF ON ( AF.PRODUCT_CODE = P.PRODUCT_CODE)
				  GROUP BY P.PRODUCT_CODE, P.PRODUCT_NAME, B.BRAND_NO, B.BRAND_NAME, P.PRODUCT_ENTRY_DATE, AF.FILE_PATH, AF.FILE_DECODED
				  ORDER BY P.PRODUCT_ENTRY_DATE DESC
				) A
	   <![CDATA[
	     WHERE ROWNUM <= 10
	     ]]>
	</select>
	
	<select id="findHotroduct" resultMap="productResultMap">
		
	     SELECT
				ROWNUM RNUM,
				A.PRODUCT_CODE,
				A.PRODUCT_NAME,
				A.BRAND_NO,
				A.BRAND_NAME,
                A.PRODUCT_COUNT,
				A.SELLINGORDER_PRICE,
				A.PRODUCT_ENTRY_DATE,
				A.FILE_PATH,
				A.FILE_DECODED
		  FROM (SELECT
	
						P.PRODUCT_CODE,
						P.PRODUCT_NAME,
						B.BRAND_NO,
						B.BRAND_NAME,
                        P.PRODUCT_COUNT,
						MAX(S.SELLINGORDER_PRICE) SELLINGORDER_PRICE,
						P.PRODUCT_ENTRY_DATE,
						AF.FILE_PATH,
						AF.FILE_DECODED
				   FROM PRODUCT P
				   JOIN PRODUCT_OPTION PO ON (P.PRODUCT_CODE = PO.PRODUCT_CODE)
				   JOIN SELLING_ORDERS S ON ( PO.PRODUCT_OPTION_CODE = S.PRODUCT_OPTION_CODE)
				   JOIN BRAND B ON (P.BRAND_NO = B.BRAND_NO)
				   JOIN ATTACHMENT_FILE AF ON ( AF.PRODUCT_CODE = P.PRODUCT_CODE)
				  GROUP BY P.PRODUCT_CODE, P.PRODUCT_NAME, B.BRAND_NO, B.BRAND_NAME, P.PRODUCT_ENTRY_DATE, AF.FILE_PATH, AF.FILE_DECODED, P.PRODUCT_COUNT
				  ORDER BY P.PRODUCT_COUNT DESC
				) A
				 <![CDATA[
	     WHERE ROWNUM <= 10
			     ]]>
	</select>
	
	<select id="bestHotroduct" resultMap="productResultMap">
		
	     SELECT
				ROWNUM RNUM,
				A.PRODUCT_CODE,
				A.PRODUCT_NAME,
				A.BRAND_NO,
				A.BRAND_NAME,
                A.PRODUCT_COUNT,
				A.SELLINGORDER_PRICE,
				A.PRODUCT_ENTRY_DATE,
				A.FILE_PATH,
				A.FILE_DECODED
		  FROM (SELECT
	
						P.PRODUCT_CODE,
						P.PRODUCT_NAME,
						B.BRAND_NO,
						B.BRAND_NAME,
                        P.PRODUCT_COUNT,
						MAX(S.SELLINGORDER_PRICE) SELLINGORDER_PRICE,
						P.PRODUCT_ENTRY_DATE,
						AF.FILE_PATH,
						AF.FILE_DECODED
				   FROM PRODUCT P
				   JOIN PRODUCT_OPTION PO ON (P.PRODUCT_CODE = PO.PRODUCT_CODE)
				   JOIN SELLING_ORDERS S ON ( PO.PRODUCT_OPTION_CODE = S.PRODUCT_OPTION_CODE)
				   JOIN BRAND B ON (P.BRAND_NO = B.BRAND_NO)
				   JOIN ATTACHMENT_FILE AF ON ( AF.PRODUCT_CODE = P.PRODUCT_CODE)
				  GROUP BY P.PRODUCT_CODE, P.PRODUCT_NAME, B.BRAND_NO, B.BRAND_NAME, P.PRODUCT_ENTRY_DATE, AF.FILE_PATH, AF.FILE_DECODED, P.PRODUCT_COUNT
				  ORDER BY P.PRODUCT_COUNT DESC
				) A
				 <![CDATA[
	     WHERE ROWNUM <= 5
			     ]]>
	</select>		
		


</mapper>