<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.thunderbolts.model.dao.MemberMapper">




<select id="findByMemberId" resultMap="memberResultMap">
        SELECT
               A.MEMBER_NO
		     , A.MEMBER_ID
             , A.MEMBER_PWD
		     , A.NICKNAME
		     , A.PHONE
		     , A.EMAIL
		     , A.ADDRESS
		     , A.ENROLL_DATE
		     , A.MEMBER_STATUS
		     , B.MEMBER_NO REF_MEMBER_NO
		     , B.AUTHORITY_CODE REF_AUTHORITY_CODE
		     , C.AUTHORITY_CODE REF_AUTHORITY_CODE2
		     , C.AUTHORITY_NAME
		     , C.AUTHORITY_DESC
          FROM TBL_MEMBER A
          LEFT JOIN TBL_MEMBER_ROLE B ON (A.MEMBER_NO = B.MEMBER_NO)
		  LEFT JOIN TBL_AUTHORITY C ON (B.AUTHORITY_CODE = C.AUTHORITY_CODE)
         WHERE A.MEMBER_STATUS = 'Y'
           AND A.MEMBER_ID = #{ memberId }
    </select>

</mapper>