<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=\, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/list/orderBuyStyle.css" type="text/css">

<body>


    <!-- 헤더 -->
    	<div th:replace="common/header/orderHeader.html"></div>

 
  <section id="section01">

    <img src="../img/신발.png " width="100" height="100" style="float: left; margin-right: 20px;">

    <div style="text-align: left;">
    <p style="margin: 0;" th:text="${productCode}"></p>
	<p style="margin: 0;" th:text="${productName}"></p>
	<p style="margin: 0; color: gray;" th:text="${productNameKr}"></p>
	<p style="margin-top: 0px;" th:text="${productOptionSize}"></p>
    </div>


  </section>

  <section id="section02">
    <div style="display: flex; align-items: center;">
    
      <h3 style="flex: 1;"><br>배송 주소</h3>
      <div id="modalBtn1" style="color: gray;"><u>+새 주소 추가</u></div>
    </div>

    <div class="order">
      <p01>받는 분</p01>
      <p01>연락처</p01>
      <p01>배송 주소</p01>
      <div class="box001">
        <div id="modalBtn2" style="color: gray;"><u>변경</u></div>

      </div>
    </div>
    <div class="box2" style="text-align: left; margin-top: 10px;"></div>
    

    <hr style="border:solid 1px rgb(181, 180, 180); width: 100%;">


    <h3>배송 방법</h3>

    <div class="box3">
      <img src="../img/택배상자.jpeg" width="50" height="50"
        style="float: left; margin-right: 20px; margin-top: 5px; margin-left: 5px;">
      <span style="position: relative; top: 10px;"><b>일반배송 3,000원</b></span><br>
      <span style="position: relative; top: 12px;">검수 후 배송 5-7일 내 도착 예정</span>
    </div>
   

  </section>

  <section id="section03">

    <!-- 모달 2 -->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>주소록</h1>
        <hr style="border:solid 1px rgb(229, 228, 228); width: 100%;">
      </div>
    </div>

    <div id="modal1" class="modal">
        <span class="close">&times;</span>
          <form>
              <div class="modal-content">
                  <h5>새 주소 추가</h5>
                   <!-- 이름 입력 필드 -->
                   <label for="name">이름</label>
                  <input type="text" id="name" name="name" placeholder="이름">
                  <!-- <div class="modify_text gray"></div> -->
                  <span></span>
                  <!-- 우편번호 입력 필드 -->
                  <label for="postnum" class="mt">우편번호</label>
                  <ul class="postnum_wrap">
                      <li><input type="text" id="postnum" name="postnum" placeholder="우편번호를 검색하세요."></li>
                      <li><button type="button" class="postnum_del_btn">검색</button></li>
                  </ul>
                  <span></span>
                  <!-- 주소 입력 필드 -->
                  <label for="myaddress" class="mt">주소</label>
                  <input  type="text" disabled id="myaddress" name="myaddress" placeholder="우편번호 검색 후 자동 입력 됩니다. ">
                  <span></span>
                  <!-- 상세 주소 입력 필드 -->
                  <label for="myaddress_detail" class="mt">상세 주소</label>
                  <input  type="text" id="myaddress_detail" name="myaddress_detail" placeholder="건물, 아파트, 동/호수 입력">
                  <span></span>

                  <input type="submit" class="modify_btn" value="추가하기">
                </div>
          </form>
          </div>


      <div class="final">
        <h3>최종 주문 정보</h3>
        <p style="font-size: small;">총 결제 금액</p>
      </div>
      <div class="final1">
		  <!-- <p id="final-price" style="color: red; font-size: large;"><b></b></p> -->
		<p id="final-price" th:text="${sellingOrderPrice - 11000}" style="color: red; font-size: large;"></p>
		
		</div>
      <hr style="border:solid 1px rgb(181, 180, 180); width: 100%;">
      <div class="order">
        <p01><b>즉시 구매가</b></p01><br>
        <p01><br></p01>
        <p01>검수비</p01><br>
        <p01>수수료</p01><br>
        <p01>배송비</p01><br>
      </div>
            <div class="final1">
		  <p id="final-price" style="color: red; font-size: large;"><b></b></p>
		</div>
      
<div class="order1">
  <p02><b th:text="${sellingOrderPrice}"></b></p02><br>
  <p02><br></p02>
  <p02>5,000원</p02><br>
  <p02>6,000원</p02><br>
  <p02>3,000원</p02>
</div>
<!--       <div class="order1">
        <p02 th:text="${sellingOrderPrice}"><b></b></p02><br>
        <p02><br></p02>
        <p02>무료</p02><br>
        <p02>6,000원</p02><br>
        <p02>3,000원</p02>
      </div> -->
  </section>

  <section id="section04">
    <h3>결제 방법</h3>
    <hr style="border:solid 1px rgb(181, 180, 180); width: 100%;">

    <div class="wrapper">
      <p class="left">카드 간편결제</p>
      <p style="margin-left: 10px; color: gray;">일시불</p>
    </div>
    <a href="#" class="button">
      <p>카드를 등록하세요.</p>
    </a>

    <div class="wrapper">
      <p class="left">일반 결제</p>
    </div>

    <div class="btn-container">
      <div class="naver-btn">
        <img src="../img/네이버페이 로고.png" style="float: left; margin-right: 10px; width: 30px; height: 30px;">
        네이버페이
      </div>
      <div class="credit-btn">
        신용카드
      </div>
    </div>
  </section>


  <section id="section05">
    <h3>구매 전 동의사항</h3>

    <hr style="border:solid 1px rgb(181, 180, 180); width: 100%;">
    <p>판매자의 판배거부, 배송지연, 미입고의 사유가 발생할 경우 거리가 취소될 수 있음을 확인합니다.</p>
    <p style="font-size: small; color: grey;">알림을 확인하기 위해서 앱 알림해제, 알림톡 차단, 전화번호 변경 후 미등록 시에는 거래 진행 알림에 차질이 생길수 있습니다.</p>
    <div id="modalBtn3" onclick="openModal(modal3)" style="color: gray; font-size: 0.8em;"><u>검수기준 확인하기</u></div>
    <div class="checkbox-wrapper">
      <label>
        <input type="checkbox" id="checkbox-agree1">
        <span class="checkmark"></span>
        <span class="checkbox-text">위 내용에 동의합니다.</span>
      </label>
    </div>

    <hr style="border:solid 1px rgb(181, 180, 180); width: 100%;">
    <p>'바로 결제하기'를 선택하시면 즉시 결제가 진행되며, 단순 변심이나 실수에 의한 취소가 불가능 함을 알려드립니다.</p>
    <p style="font-size: small; color: grey;">본 거래는 개인간 거래로 전자상거래법(제17조)에 따른 청약 철회(환불,교환)규정이 적용되지 않습니다.</p>
    <div id="modalBtn4" onclick="openModal(modal4)" style="color: gray; font-size: 0.8em;"><u>검수기준 확인하기</u></div>
    <div class="checkbox-wrapper">
      <label>
        <input type="checkbox" id="checkbox-agree2">
        <span class="checkmark"></span>
        <span class="checkbox-text">위 내용에 동의합니다.</span>
      </label>
    </div>
    <hr style="border:solid 1px rgb(181, 180, 180); width: 100%;">

    <div class="sec1">
      <strong>
        <Br>
        구매 조건을 모두 확인하였습니다.<Br>
        거래를 진행합니다.<br>
        <br>
        총 결제금액
        <div class="final2">
        <p id="final-price" th:text="${sellingOrderPrice - 11000}" style="color: red; font-size: x-large;"></p>
        </div>
        <button id="my-button">
          결제하기
        </button>
      </strong>
    </div>
    </div>

    <!-- 첫 번째 모달창 -->
    <div id="myModal" class="modal">
      <!-- 모달창 내용 -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>첫 번째 모달창</p>
      </div>
    </div>


    <div id="modal2" class="modal">
      <div class="modal-content">
        <span class="close2 close">&times;</span>
        <h3>모달 2</h3>
        <p>내용 2</p>
      </div>
    </div>


    <div id="modal3" class="modal">
      <div class="modal-content">
        <span class="close3 close">&times;</span>
        <div class="button-container">
          <table>
            <tr>
              <td><button class="text-button" onclick="toggleContent('content-1')">신발</button></td>
              <td><button class="text-button" onclick="toggleContent('content-2')">아우터 상의 하의</button></td>
              <td><button class="text-button" onclick="toggleContent('content-3')">가방 시계 지갑 패션 잡화</button></td>
            </tr>
            <tr>
              <td><button class="text-button" onclick="toggleContent('content-4')">테크</button></td>
              <td><button class="text-button" onclick="toggleContent('content-5')">리빙</button></td>
              <td><button class="text-button" onclick="toggleContent('content-6')">프리미엄 시계와 가방</button></td>
            </tr>
          </table>
        </div>
        <div id="content-1" class="content">
          <br>THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다. <br> <br>

          회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다. <br>


          <b>※ 신발 관련 주의사항<br></b>
          THUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다. <br>

          제품 기능에 관한 사항이나 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다. <br>
          단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고) <br><br>

          THUNDERBOLTS의 검수기준으로 고지된 사항 이외 아래와 같이 제조사에서 불량으로 인정하지 않는 기준, 또는 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의 경우 하자로 판단하지 않으며,이로
          인한 구매 취소는 불가하므로 신중한 거래 부탁드립니다.<br>

          <li>제조공정, 유통과정 또는 소재 특성 상 발생할 수 있는 사항</li>
          <li> 도장, 마킹 등의 제조사 또는 판매처에서 진행되는 사항</li>
          <li> 검수 중 발생할 수 있는 사항 (속지, 슈트리 손상 등)</li>
          <li> 택배 개봉 또는 적재 및 상품 이동 중 발생할 수 있는 사항 (칼자국, 박스 눌림, 이염 등)</li>
          <li> 상품택, 구성품 등의 고리 누락/이탈</li>
          <li> 고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.</li>

          <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>

          <b>불합격/페널티 부과 사항</b>불
          모조품/가품 - 패널티 15%<br>손상/오염/사용감 - 패널티 15% 이용정지<br>상품 불일치, 사이즈 불일치, 기본 구성품 누락 - 패널티 10%<br>

          <p style="font-size: small; color: gray;">※ 손상/오염/사용감 판정의 경우 사용으로 인한 아웃솔 마모, 오염, 수선/보강, 페인팅 등의 기준을 종합하여 검수원과
            검수센터 책임자의 최종 판단하에 결정하게 됩니다.</p>
          <b>패키지 및 구성품<br></b>

          박스(BOX) 손상-길이 총합 - 불합격 - ≥12.0cm 합격 - 12.0cm<br>
          박스(BOX) 부분 변색 - ○ -<br>
          라벨지 손상/상이<br>
          그래픽 속지 상이/누락 - ○ -<br>
          그래픽 속지 유실 - 불합격 - ≥40% 합격 - 40%
          <p style="font-size: small; color: gray;">※ 마킹, 펜자국, 본드 등 기타 오염의 경우 검수 책임자의 최종 판단에 따라 합격 처리됩니다.<br>
            ※ 무지 속지의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 생산 시기별 상이한 속지의 경우 합격 처리됩니다.</p>

          구성품 불합격<br>

          상품 정보택 손상/유실 - - ○<br>
          끈 기능 상실 - ○ -<br>
          추가 구성품 누락<br>
          스티커, 슈트리, 여분끈 등<br>

          - ○ -
          발매 최초의 구성과 상이함
          여분끈 교체, 체결 방식 상이함, 벨크로, 뱃지 교체 등

          - ○ -
          오염
          스티커, 슈트리, 끈 등
          <p style="font-size: small; color: gray;">
            <br>※ 국내/해외 발매 제품 간의 정보택의 구성은 다를 수 있습니다.<br>
            ※ 상품 정보택의 경우 정보의 일부가 상이할 수 있습니다.<br>
            ※ 신발끈 팁 파손의 경우 기능상 교차 및 매듭에 문제가 없을 경우 합격 처리됩니다.<br>
            ※ 박스 재질 및 종이 뭉치 형태 슈트리의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 점프맨 스티커, 설명서, 슬라이드 제품걸이 등 판매처에 따라 구성품이 다른 경우 누락되어도 합격 처리됩니다.<br>
            ※ 추가 구성품의 상태(나염유실, 변색, 스크래치, 오염 등)는 검수 기준에 포함되지 않습니다.<br>
            ※ 랩핑, 타 업체 검수택 및 최초 구매 영수증의 경우 포함되는 것을 보장하지 않으며, 검수 과정 중 제거될 수 있습니다.
            제품 상태<br>
          </p>

          상태 기준 구분/불합격/구매자 의사 확인/합격 표
          구분 불합격 구매자
          의사 확인 합격
          어퍼 재봉 불량-부위별
          건너뜀, 올풀림 등

          <p style="font-size: small; color: gray;">
            ※ 소재 특성상 클리어 솔, 스펀지, 사출소재 등의 변색 진행의 경우 합격 처리됩니다.<br>
            ※ 오프화이트 신발끈("), 윙로고™, 인솔Ⓡ 등 일부 소재 및 공정 특성상 발생 가능한 나염 유실의 경우 합격 처리됩니다.<br>
          </p>

          <b>유의사항</b>
          <p style="font-size: small; color: gray;">
            ※ '구매자 의사 확인'의 상품은 최초 보류 알림 기준 24시간 이내 회신이 없을 경우에 자동 검수 합격 처리되며 이와 관련한 취소는 불가능합니다.<br>

            ※ 모조품/가품 판매 및 페널티 회피 시 해당 계정은 회원 자격이 정지되며, 새로운 아이디로 가입을 하여도 이전 거래 기록을 근거로 서비스 이용을 제재할 수 있습니다.<br>

            ※ 국내 발매 제품/해외 발매 제품의 여부는 검수 불합격 사항이 아니며, 이로 인한 구매 취소 또한 불가합니다.<br>

            ※ THUNDERBOLTS을 통해 거래된 모든 상품은 입고 시 자동화 처리를 위해 고유의 정보를 포함한 스티커가 부착됩니다. 부착 위치는 제품에 따라 차이가 있으며 이는 발송(반송) 시에도 제거되지
            않습니다.<br></p>

          <b>검수 불합격 시 반송 택배 운임<br></b>

          [착불]<br>

          검수 기준상 '불합격' 에 해당하는 반송건<br>

          [선불]<br>

          '구매의사 확인' 이후 발생하는 반송건<br>




        </div>
        <div id="content-2" class="content">
          <br>THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다. <br> <br>

          회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다. <br>


          <b>※ 아우터, 상의, 하의 거래 관련 주의사항<br></b>
          THUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다. <br>

          제품 기능에 관한 사항이나 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다. <br>
          단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고) <br><br>

          THUNDERBOLTS의 검수기준으로 고지된 사항 이외 아래와 같이 제조사에서 불량으로 인정하지 않는 기준, 또는 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의 경우 하자로 판단하지 않으며,이로
          인한 구매 취소는 불가하므로 신중한 거래 부탁드립니다.<br>

          <li>제조공정, 유통과정 또는 소재 특성 상 발생할 수 있는 사항</li>
          <li> 도장, 마킹 등의 제조사 또는 판매처에서 진행되는 사항</li>
          <li> 검수 중 발생할 수 있는 사항 (속지, 슈트리 손상 등)</li>
          <li> 택배 개봉 또는 적재 및 상품 이동 중 발생할 수 있는 사항 (칼자국, 박스 눌림, 이염 등)</li>
          <li> 상품택, 구성품 등의 고리 누락/이탈</li>
          <li> 고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.</li>

          <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>

          <b>불합격/페널티 부과 사항</b>불
          모조품/가품 - 패널티 15%<br>손상/오염/사용감 - 패널티 15% 이용정지<br>상품 불일치, 사이즈 불일치, 기본 구성품 누락 - 패널티 10%<br>

          <p style="font-size: small; color: gray;">※ 손상/오염/사용감 판정의 경우 사용으로 인한 아웃솔 마모, 오염, 수선/보강, 페인팅 등의 기준을 종합하여 검수원과
            검수센터 책임자의 최종 판단하에 결정하게 됩니다.</p>
          <b>패키지 및 구성품<br></b>

          박스(BOX) 손상-길이 총합 - 불합격 - ≥12.0cm 합격 - 12.0cm<br>
          박스(BOX) 부분 변색 - ○ -<br>
          라벨지 손상/상이<br>
          그래픽 속지 상이/누락 - ○ -<br>
          그래픽 속지 유실 - 불합격 - ≥40% 합격 - 40%
          <p style="font-size: small; color: gray;">※ 마킹, 펜자국, 본드 등 기타 오염의 경우 검수 책임자의 최종 판단에 따라 합격 처리됩니다.<br>
            ※ 무지 속지의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 생산 시기별 상이한 속지의 경우 합격 처리됩니다.</p>

          구성품 불합격<br>

          상품 정보택 손상/유실 - - ○<br>
          끈 기능 상실 - ○ -<br>
          추가 구성품 누락<br>
          스티커, 슈트리, 여분끈 등<br>

          - ○ -
          발매 최초의 구성과 상이함
          여분끈 교체, 체결 방식 상이함, 벨크로, 뱃지 교체 등

          - ○ -
          오염
          스티커, 슈트리, 끈 등
          <p style="font-size: small; color: gray;">
            <br>※ 국내/해외 발매 제품 간의 정보택의 구성은 다를 수 있습니다.<br>
            ※ 상품 정보택의 경우 정보의 일부가 상이할 수 있습니다.<br>
            ※ 신발끈 팁 파손의 경우 기능상 교차 및 매듭에 문제가 없을 경우 합격 처리됩니다.<br>
            ※ 박스 재질 및 종이 뭉치 형태 슈트리의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 점프맨 스티커, 설명서, 슬라이드 제품걸이 등 판매처에 따라 구성품이 다른 경우 누락되어도 합격 처리됩니다.<br>
            ※ 추가 구성품의 상태(나염유실, 변색, 스크래치, 오염 등)는 검수 기준에 포함되지 않습니다.<br>
            ※ 랩핑, 타 업체 검수택 및 최초 구매 영수증의 경우 포함되는 것을 보장하지 않으며, 검수 과정 중 제거될 수 있습니다.
            제품 상태<br>
          </p>

          상태 기준 구분/불합격/구매자 의사 확인/합격 표
          구분 불합격 구매자
          의사 확인 합격
          어퍼 재봉 불량-부위별
          건너뜀, 올풀림 등

          <p style="font-size: small; color: gray;">
            ※ 소재 특성상 클리어 솔, 스펀지, 사출소재 등의 변색 진행의 경우 합격 처리됩니다.<br>
            ※ 오프화이트 신발끈("), 윙로고™, 인솔Ⓡ 등 일부 소재 및 공정 특성상 발생 가능한 나염 유실의 경우 합격 처리됩니다.<br>
          </p>

          <b>유의사항</b>
          <p style="font-size: small; color: gray;">
            ※ '구매자 의사 확인'의 상품은 최초 보류 알림 기준 24시간 이내 회신이 없을 경우에 자동 검수 합격 처리되며 이와 관련한 취소는 불가능합니다.<br>

            ※ 모조품/가품 판매 및 페널티 회피 시 해당 계정은 회원 자격이 정지되며, 새로운 아이디로 가입을 하여도 이전 거래 기록을 근거로 서비스 이용을 제재할 수 있습니다.<br>

            ※ 국내 발매 제품/해외 발매 제품의 여부는 검수 불합격 사항이 아니며, 이로 인한 구매 취소 또한 불가합니다.<br>

            ※ THUNDERBOLTS을 통해 거래된 모든 상품은 입고 시 자동화 처리를 위해 고유의 정보를 포함한 스티커가 부착됩니다. 부착 위치는 제품에 따라 차이가 있으며 이는 발송(반송) 시에도 제거되지
            않습니다.<br></p>

          <b>검수 불합격 시 반송 택배 운임<br></b>

          [착불]<br>

          검수 기준상 '불합격' 에 해당하는 반송건<br>

          [선불]<br>

          '구매의사 확인' 이후 발생하는 반송건<br>



        </div>
        <div id="content-3" class="content">
          <br>THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다. <br> <br>

          회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다. <br>


          <b>※ 가방, 시계, 지갑, 패션잡화 등 거래 관련 주의사항<br></b>
          THUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다. <br>

          제품 기능에 관한 사항이나 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다. <br>
          단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고) <br><br>

          THUNDERBOLTS의 검수기준으로 고지된 사항 이외 아래와 같이 제조사에서 불량으로 인정하지 않는 기준, 또는 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의 경우 하자로 판단하지 않으며,이로
          인한 구매 취소는 불가하므로 신중한 거래 부탁드립니다.<br>

          <li>제조공정, 유통과정 또는 소재 특성 상 발생할 수 있는 사항</li>
          <li> 도장, 마킹 등의 제조사 또는 판매처에서 진행되는 사항</li>
          <li> 검수 중 발생할 수 있는 사항 (속지, 슈트리 손상 등)</li>
          <li> 택배 개봉 또는 적재 및 상품 이동 중 발생할 수 있는 사항 (칼자국, 박스 눌림, 이염 등)</li>
          <li> 상품택, 구성품 등의 고리 누락/이탈</li>
          <li> 고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.</li>

          <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>

          <b>불합격/페널티 부과 사항</b>불
          모조품/가품 - 패널티 15%<br>손상/오염/사용감 - 패널티 15% 이용정지<br>상품 불일치, 사이즈 불일치, 기본 구성품 누락 - 패널티 10%<br>

          <p style="font-size: small; color: gray;">※ 손상/오염/사용감 판정의 경우 사용으로 인한 아웃솔 마모, 오염, 수선/보강, 페인팅 등의 기준을 종합하여 검수원과
            검수센터 책임자의 최종 판단하에 결정하게 됩니다.</p>
          <b>패키지 및 구성품<br></b>

          박스(BOX) 손상-길이 총합 - 불합격 - ≥12.0cm 합격 - 12.0cm<br>
          박스(BOX) 부분 변색 - ○ -<br>
          라벨지 손상/상이<br>
          그래픽 속지 상이/누락 - ○ -<br>
          그래픽 속지 유실 - 불합격 - ≥40% 합격 - 40%
          <p style="font-size: small; color: gray;">※ 마킹, 펜자국, 본드 등 기타 오염의 경우 검수 책임자의 최종 판단에 따라 합격 처리됩니다.<br>
            ※ 무지 속지의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 생산 시기별 상이한 속지의 경우 합격 처리됩니다.</p>

          구성품 불합격<br>

          상품 정보택 손상/유실 - - ○<br>
          끈 기능 상실 - ○ -<br>
          추가 구성품 누락<br>
          스티커, 슈트리, 여분끈 등<br>

          - ○ -
          발매 최초의 구성과 상이함
          여분끈 교체, 체결 방식 상이함, 벨크로, 뱃지 교체 등

          - ○ -
          오염
          스티커, 슈트리, 끈 등
          <p style="font-size: small; color: gray;">
            <br>※ 국내/해외 발매 제품 간의 정보택의 구성은 다를 수 있습니다.<br>
            ※ 상품 정보택의 경우 정보의 일부가 상이할 수 있습니다.<br>
            ※ 신발끈 팁 파손의 경우 기능상 교차 및 매듭에 문제가 없을 경우 합격 처리됩니다.<br>
            ※ 박스 재질 및 종이 뭉치 형태 슈트리의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 점프맨 스티커, 설명서, 슬라이드 제품걸이 등 판매처에 따라 구성품이 다른 경우 누락되어도 합격 처리됩니다.<br>
            ※ 추가 구성품의 상태(나염유실, 변색, 스크래치, 오염 등)는 검수 기준에 포함되지 않습니다.<br>
            ※ 랩핑, 타 업체 검수택 및 최초 구매 영수증의 경우 포함되는 것을 보장하지 않으며, 검수 과정 중 제거될 수 있습니다.
            제품 상태<br>
          </p>

          상태 기준 구분/불합격/구매자 의사 확인/합격 표
          구분 불합격 구매자
          의사 확인 합격
          어퍼 재봉 불량-부위별
          건너뜀, 올풀림 등

          <p style="font-size: small; color: gray;">
            ※ 소재 특성상 클리어 솔, 스펀지, 사출소재 등의 변색 진행의 경우 합격 처리됩니다.<br>
            ※ 오프화이트 신발끈("), 윙로고™, 인솔Ⓡ 등 일부 소재 및 공정 특성상 발생 가능한 나염 유실의 경우 합격 처리됩니다.<br>
          </p>

          <b>유의사항</b>
          <p style="font-size: small; color: gray;">
            ※ '구매자 의사 확인'의 상품은 최초 보류 알림 기준 24시간 이내 회신이 없을 경우에 자동 검수 합격 처리되며 이와 관련한 취소는 불가능합니다.<br>

            ※ 모조품/가품 판매 및 페널티 회피 시 해당 계정은 회원 자격이 정지되며, 새로운 아이디로 가입을 하여도 이전 거래 기록을 근거로 서비스 이용을 제재할 수 있습니다.<br>

            ※ 국내 발매 제품/해외 발매 제품의 여부는 검수 불합격 사항이 아니며, 이로 인한 구매 취소 또한 불가합니다.<br>

            ※ THUNDERBOLTS을 통해 거래된 모든 상품은 입고 시 자동화 처리를 위해 고유의 정보를 포함한 스티커가 부착됩니다. 부착 위치는 제품에 따라 차이가 있으며 이는 발송(반송) 시에도 제거되지
            않습니다.<br></p>

          <b>검수 불합격 시 반송 택배 운임<br></b>

          [착불]<br>

          검수 기준상 '불합격' 에 해당하는 반송건<br>

          [선불]<br>

          '구매의사 확인' 이후 발생하는 반송건<br>



        </div>
        <div id="content-4" class="content">
          <br>THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다. <br> <br>

          회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다. <br>


          <b>※ 테크 거래 관련 주의사항<br></b>
          THUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다. <br>

          제품 기능에 관한 사항이나 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다. <br>
          단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고) <br><br>

          THUNDERBOLTS의 검수기준으로 고지된 사항 이외 아래와 같이 제조사에서 불량으로 인정하지 않는 기준, 또는 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의 경우 하자로 판단하지 않으며,이로
          인한 구매 취소는 불가하므로 신중한 거래 부탁드립니다.<br>

          <li>제조공정, 유통과정 또는 소재 특성 상 발생할 수 있는 사항</li>
          <li> 도장, 마킹 등의 제조사 또는 판매처에서 진행되는 사항</li>
          <li> 검수 중 발생할 수 있는 사항 (속지, 슈트리 손상 등)</li>
          <li> 택배 개봉 또는 적재 및 상품 이동 중 발생할 수 있는 사항 (칼자국, 박스 눌림, 이염 등)</li>
          <li> 상품택, 구성품 등의 고리 누락/이탈</li>
          <li> 고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.</li>

          <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>

          <b>불합격/페널티 부과 사항</b>불
          모조품/가품 - 패널티 15%<br>손상/오염/사용감 - 패널티 15% 이용정지<br>상품 불일치, 사이즈 불일치, 기본 구성품 누락 - 패널티 10%<br>

          <p style="font-size: small; color: gray;">※ 손상/오염/사용감 판정의 경우 사용으로 인한 아웃솔 마모, 오염, 수선/보강, 페인팅 등의 기준을 종합하여 검수원과
            검수센터 책임자의 최종 판단하에 결정하게 됩니다.</p>
          <b>패키지 및 구성품<br></b>

          박스(BOX) 손상-길이 총합 - 불합격 - ≥12.0cm 합격 - 12.0cm<br>
          박스(BOX) 부분 변색 - ○ -<br>
          라벨지 손상/상이<br>
          그래픽 속지 상이/누락 - ○ -<br>
          그래픽 속지 유실 - 불합격 - ≥40% 합격 - 40%
          <p style="font-size: small; color: gray;">※ 마킹, 펜자국, 본드 등 기타 오염의 경우 검수 책임자의 최종 판단에 따라 합격 처리됩니다.<br>
            ※ 무지 속지의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 생산 시기별 상이한 속지의 경우 합격 처리됩니다.</p>

          구성품 불합격<br>

          상품 정보택 손상/유실 - - ○<br>
          끈 기능 상실 - ○ -<br>
          추가 구성품 누락<br>
          스티커, 슈트리, 여분끈 등<br>

          - ○ -
          발매 최초의 구성과 상이함
          여분끈 교체, 체결 방식 상이함, 벨크로, 뱃지 교체 등

          - ○ -
          오염
          스티커, 슈트리, 끈 등
          <p style="font-size: small; color: gray;">
            <br>※ 국내/해외 발매 제품 간의 정보택의 구성은 다를 수 있습니다.<br>
            ※ 상품 정보택의 경우 정보의 일부가 상이할 수 있습니다.<br>
            ※ 신발끈 팁 파손의 경우 기능상 교차 및 매듭에 문제가 없을 경우 합격 처리됩니다.<br>
            ※ 박스 재질 및 종이 뭉치 형태 슈트리의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 점프맨 스티커, 설명서, 슬라이드 제품걸이 등 판매처에 따라 구성품이 다른 경우 누락되어도 합격 처리됩니다.<br>
            ※ 추가 구성품의 상태(나염유실, 변색, 스크래치, 오염 등)는 검수 기준에 포함되지 않습니다.<br>
            ※ 랩핑, 타 업체 검수택 및 최초 구매 영수증의 경우 포함되는 것을 보장하지 않으며, 검수 과정 중 제거될 수 있습니다.
            제품 상태<br>
          </p>

          상태 기준 구분/불합격/구매자 의사 확인/합격 표
          구분 불합격 구매자
          의사 확인 합격
          어퍼 재봉 불량-부위별
          건너뜀, 올풀림 등

          <p style="font-size: small; color: gray;">
            ※ 소재 특성상 클리어 솔, 스펀지, 사출소재 등의 변색 진행의 경우 합격 처리됩니다.<br>
            ※ 오프화이트 신발끈("), 윙로고™, 인솔Ⓡ 등 일부 소재 및 공정 특성상 발생 가능한 나염 유실의 경우 합격 처리됩니다.<br>
          </p>

          <b>유의사항</b>
          <p style="font-size: small; color: gray;">
            ※ '구매자 의사 확인'의 상품은 최초 보류 알림 기준 24시간 이내 회신이 없을 경우에 자동 검수 합격 처리되며 이와 관련한 취소는 불가능합니다.<br>

            ※ 모조품/가품 판매 및 페널티 회피 시 해당 계정은 회원 자격이 정지되며, 새로운 아이디로 가입을 하여도 이전 거래 기록을 근거로 서비스 이용을 제재할 수 있습니다.<br>

            ※ 국내 발매 제품/해외 발매 제품의 여부는 검수 불합격 사항이 아니며, 이로 인한 구매 취소 또한 불가합니다.<br>

            ※ THUNDERBOLTS을 통해 거래된 모든 상품은 입고 시 자동화 처리를 위해 고유의 정보를 포함한 스티커가 부착됩니다. 부착 위치는 제품에 따라 차이가 있으며 이는 발송(반송) 시에도 제거되지
            않습니다.<br></p>

          <b>검수 불합격 시 반송 택배 운임<br></b>

          [착불]<br>

          검수 기준상 '불합격' 에 해당하는 반송건<br>

          [선불]<br>

          '구매의사 확인' 이후 발생하는 반송건<br>



        </div>
        <div id="content-5" class="content">
          <br>THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다. <br> <br>

          회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다. <br>


          <b>※ 리빙 거래 관련 주의사항<br></b>
          THUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다. <br>

          제품 기능에 관한 사항이나 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다. <br>
          단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고) <br><br>

          THUNDERBOLTS의 검수기준으로 고지된 사항 이외 아래와 같이 제조사에서 불량으로 인정하지 않는 기준, 또는 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의 경우 하자로 판단하지 않으며,이로
          인한 구매 취소는 불가하므로 신중한 거래 부탁드립니다.<br>

          <li>제조공정, 유통과정 또는 소재 특성 상 발생할 수 있는 사항</li>
          <li> 도장, 마킹 등의 제조사 또는 판매처에서 진행되는 사항</li>
          <li> 검수 중 발생할 수 있는 사항 (속지, 슈트리 손상 등)</li>
          <li> 택배 개봉 또는 적재 및 상품 이동 중 발생할 수 있는 사항 (칼자국, 박스 눌림, 이염 등)</li>
          <li> 상품택, 구성품 등의 고리 누락/이탈</li>
          <li> 고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.</li>

          <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>

          <b>불합격/페널티 부과 사항</b>불
          모조품/가품 - 패널티 15%<br>손상/오염/사용감 - 패널티 15% 이용정지<br>상품 불일치, 사이즈 불일치, 기본 구성품 누락 - 패널티 10%<br>

          <p style="font-size: small; color: gray;">※ 손상/오염/사용감 판정의 경우 사용으로 인한 아웃솔 마모, 오염, 수선/보강, 페인팅 등의 기준을 종합하여 검수원과
            검수센터 책임자의 최종 판단하에 결정하게 됩니다.</p>
          <b>패키지 및 구성품<br></b>

          박스(BOX) 손상-길이 총합 - 불합격 - ≥12.0cm 합격 - 12.0cm<br>
          박스(BOX) 부분 변색 - ○ -<br>
          라벨지 손상/상이<br>
          그래픽 속지 상이/누락 - ○ -<br>
          그래픽 속지 유실 - 불합격 - ≥40% 합격 - 40%
          <p style="font-size: small; color: gray;">※ 마킹, 펜자국, 본드 등 기타 오염의 경우 검수 책임자의 최종 판단에 따라 합격 처리됩니다.<br>
            ※ 무지 속지의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 생산 시기별 상이한 속지의 경우 합격 처리됩니다.</p>

          구성품 불합격<br>

          상품 정보택 손상/유실 - - ○<br>
          끈 기능 상실 - ○ -<br>
          추가 구성품 누락<br>
          스티커, 슈트리, 여분끈 등<br>

          - ○ -
          발매 최초의 구성과 상이함
          여분끈 교체, 체결 방식 상이함, 벨크로, 뱃지 교체 등

          - ○ -
          오염
          스티커, 슈트리, 끈 등
          <p style="font-size: small; color: gray;">
            <br>※ 국내/해외 발매 제품 간의 정보택의 구성은 다를 수 있습니다.<br>
            ※ 상품 정보택의 경우 정보의 일부가 상이할 수 있습니다.<br>
            ※ 신발끈 팁 파손의 경우 기능상 교차 및 매듭에 문제가 없을 경우 합격 처리됩니다.<br>
            ※ 박스 재질 및 종이 뭉치 형태 슈트리의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 점프맨 스티커, 설명서, 슬라이드 제품걸이 등 판매처에 따라 구성품이 다른 경우 누락되어도 합격 처리됩니다.<br>
            ※ 추가 구성품의 상태(나염유실, 변색, 스크래치, 오염 등)는 검수 기준에 포함되지 않습니다.<br>
            ※ 랩핑, 타 업체 검수택 및 최초 구매 영수증의 경우 포함되는 것을 보장하지 않으며, 검수 과정 중 제거될 수 있습니다.
            제품 상태<br>
          </p>

          상태 기준 구분/불합격/구매자 의사 확인/합격 표
          구분 불합격 구매자
          의사 확인 합격
          어퍼 재봉 불량-부위별
          건너뜀, 올풀림 등

          <p style="font-size: small; color: gray;">
            ※ 소재 특성상 클리어 솔, 스펀지, 사출소재 등의 변색 진행의 경우 합격 처리됩니다.<br>
            ※ 오프화이트 신발끈("), 윙로고™, 인솔Ⓡ 등 일부 소재 및 공정 특성상 발생 가능한 나염 유실의 경우 합격 처리됩니다.<br>
          </p>

          <b>유의사항</b>
          <p style="font-size: small; color: gray;">
            ※ '구매자 의사 확인'의 상품은 최초 보류 알림 기준 24시간 이내 회신이 없을 경우에 자동 검수 합격 처리되며 이와 관련한 취소는 불가능합니다.<br>

            ※ 모조품/가품 판매 및 페널티 회피 시 해당 계정은 회원 자격이 정지되며, 새로운 아이디로 가입을 하여도 이전 거래 기록을 근거로 서비스 이용을 제재할 수 있습니다.<br>

            ※ 국내 발매 제품/해외 발매 제품의 여부는 검수 불합격 사항이 아니며, 이로 인한 구매 취소 또한 불가합니다.<br>

            ※ THUNDERBOLTS을 통해 거래된 모든 상품은 입고 시 자동화 처리를 위해 고유의 정보를 포함한 스티커가 부착됩니다. 부착 위치는 제품에 따라 차이가 있으며 이는 발송(반송) 시에도 제거되지
            않습니다.<br></p>

          <b>검수 불합격 시 반송 택배 운임<br></b>

          [착불]<br>

          검수 기준상 '불합격' 에 해당하는 반송건<br>

          [선불]<br>

          '구매의사 확인' 이후 발생하는 반송건<br>



        </div>
        <div id="content-6" class="content">
          <br>THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다. <br> <br>

          회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다. <br>


          <b>※ 프리미엄 시계와 가방 거래 관련 주의사항<br></b>
          THUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다. <br>

          제품 기능에 관한 사항이나 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다. <br>
          단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고) <br><br>

          THUNDERBOLTS의 검수기준으로 고지된 사항 이외 아래와 같이 제조사에서 불량으로 인정하지 않는 기준, 또는 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의 경우 하자로 판단하지 않으며,이로
          인한 구매 취소는 불가하므로 신중한 거래 부탁드립니다.<br>

          <li>제조공정, 유통과정 또는 소재 특성 상 발생할 수 있는 사항</li>
          <li> 도장, 마킹 등의 제조사 또는 판매처에서 진행되는 사항</li>
          <li> 검수 중 발생할 수 있는 사항 (속지, 슈트리 손상 등)</li>
          <li> 택배 개봉 또는 적재 및 상품 이동 중 발생할 수 있는 사항 (칼자국, 박스 눌림, 이염 등)</li>
          <li> 상품택, 구성품 등의 고리 누락/이탈</li>
          <li> 고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.</li>

          <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>

          <b>불합격/페널티 부과 사항</b>불
          모조품/가품 - 패널티 15%<br>손상/오염/사용감 - 패널티 15% 이용정지<br>상품 불일치, 사이즈 불일치, 기본 구성품 누락 - 패널티 10%<br>

          <p style="font-size: small; color: gray;">※ 손상/오염/사용감 판정의 경우 사용으로 인한 아웃솔 마모, 오염, 수선/보강, 페인팅 등의 기준을 종합하여 검수원과
            검수센터 책임자의 최종 판단하에 결정하게 됩니다.</p>
          <b>패키지 및 구성품<br></b>

          박스(BOX) 손상-길이 총합 - 불합격 - ≥12.0cm 합격 - 12.0cm<br>
          박스(BOX) 부분 변색 - ○ -<br>
          라벨지 손상/상이<br>
          그래픽 속지 상이/누락 - ○ -<br>
          그래픽 속지 유실 - 불합격 - ≥40% 합격 - 40%
          <p style="font-size: small; color: gray;">※ 마킹, 펜자국, 본드 등 기타 오염의 경우 검수 책임자의 최종 판단에 따라 합격 처리됩니다.<br>
            ※ 무지 속지의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 생산 시기별 상이한 속지의 경우 합격 처리됩니다.</p>

          구성품 불합격<br>

          상품 정보택 손상/유실 - - ○<br>
          끈 기능 상실 - ○ -<br>
          추가 구성품 누락<br>
          스티커, 슈트리, 여분끈 등<br>

          - ○ -
          발매 최초의 구성과 상이함
          여분끈 교체, 체결 방식 상이함, 벨크로, 뱃지 교체 등

          - ○ -
          오염
          스티커, 슈트리, 끈 등
          <p style="font-size: small; color: gray;">
            <br>※ 국내/해외 발매 제품 간의 정보택의 구성은 다를 수 있습니다.<br>
            ※ 상품 정보택의 경우 정보의 일부가 상이할 수 있습니다.<br>
            ※ 신발끈 팁 파손의 경우 기능상 교차 및 매듭에 문제가 없을 경우 합격 처리됩니다.<br>
            ※ 박스 재질 및 종이 뭉치 형태 슈트리의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 점프맨 스티커, 설명서, 슬라이드 제품걸이 등 판매처에 따라 구성품이 다른 경우 누락되어도 합격 처리됩니다.<br>
            ※ 추가 구성품의 상태(나염유실, 변색, 스크래치, 오염 등)는 검수 기준에 포함되지 않습니다.<br>
            ※ 랩핑, 타 업체 검수택 및 최초 구매 영수증의 경우 포함되는 것을 보장하지 않으며, 검수 과정 중 제거될 수 있습니다.
            제품 상태<br>
          </p>

          상태 기준 구분/불합격/구매자 의사 확인/합격 표
          구분 불합격 구매자
          의사 확인 합격
          어퍼 재봉 불량-부위별
          건너뜀, 올풀림 등

          <p style="font-size: small; color: gray;">
            ※ 소재 특성상 클리어 솔, 스펀지, 사출소재 등의 변색 진행의 경우 합격 처리됩니다.<br>
            ※ 오프화이트 신발끈("), 윙로고™, 인솔Ⓡ 등 일부 소재 및 공정 특성상 발생 가능한 나염 유실의 경우 합격 처리됩니다.<br>
          </p>

          <b>유의사항</b>
          <p style="font-size: small; color: gray;">
            ※ '구매자 의사 확인'의 상품은 최초 보류 알림 기준 24시간 이내 회신이 없을 경우에 자동 검수 합격 처리되며 이와 관련한 취소는 불가능합니다.<br>

            ※ 모조품/가품 판매 및 페널티 회피 시 해당 계정은 회원 자격이 정지되며, 새로운 아이디로 가입을 하여도 이전 거래 기록을 근거로 서비스 이용을 제재할 수 있습니다.<br>

            ※ 국내 발매 제품/해외 발매 제품의 여부는 검수 불합격 사항이 아니며, 이로 인한 구매 취소 또한 불가합니다.<br>

            ※ THUNDERBOLTS을 통해 거래된 모든 상품은 입고 시 자동화 처리를 위해 고유의 정보를 포함한 스티커가 부착됩니다. 부착 위치는 제품에 따라 차이가 있으며 이는 발송(반송) 시에도 제거되지
            않습니다.<br></p>

          <b>검수 불합격 시 반송 택배 운임<br></b>

          [착불]<br>

          검수 기준상 '불합격' 에 해당하는 반송건<br>

          [선불]<br>

          '구매의사 확인' 이후 발생하는 반송건<br>
</div>
</div>
</div>
      </div>
    </div>

    <button id="modalBtn4" onclick="openModal(modal4)">모달 4 열기</button>
    <div id="modal4" class="modal">
      <div class="modal-content">
        <span class="close4 close">&times;</span>
        <h3>모달 4</h3>
        <p>내용 4</p>
      </div>
    </div>

    <button id="modalBtn5" onclick="openModal(modal5)">모달 5 열기</button>
    <div id="modal5" class="modal">
      <div class="modal-content">
        <span class="close5 close">&times;</span>
        <h3>모달 5</h3>
        <p>내용 5</p>
      </div>
    </div>

    <script>
      const modalBtn1 = document.getElementById("modalBtn1");
      const modalBtn2 = document.getElementById("modalBtn2");
      const modal1 = document.getElementById("modal1");
      const modal2 = document.getElementById("modal2");
      const modal3 = document.getElementById("modal3");
      const modal4 = document.getElementById("modal4");
      const modal5 = document.getElementById("modal5");
      const closeBtns = document.getElementsByClassName("close");
      const accordions = document.getElementsByClassName("accordion");

      function openModal(modal) {
        modal.style.display = "block";
      }


      modalBtn1.onclick = () => {
        modal1.style.display = "block";
      };

      modalBtn2.onclick = () => {
        modal2.style.display = "block";
      };

      for (let closeBtn of closeBtns) {
        closeBtn.onclick = (event) => {
          event.target.parentElement.parentElement.style.display = "none";
        };
      }

      for (let accordion of accordions) {
        accordion.onclick = () => {
          const otherAccordions = Array.from(accordions).filter(acc => acc !== accordion);
          otherAccordions.forEach(otherAcc => {
            otherAcc.classList.remove("active");
            otherAcc.nextElementSibling.style.display = "none";
          });

          accordion.classList.toggle("active");
          const panel = accordion.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        };
      }

      window.onclick = (event) => {
        if (event.target === modal1 || event.target === modal2 || event.target === modal3 || event.target ===
          modal4 || event.target === modal5) {
          event.target.style.display = "none";
        }
      };
      /*박스에 대한 코드*/
      function createInputBox() {
        var inputBox = document.createElement("input");
        inputBox.type = "text";
        inputBox.style.width = "100%";
        inputBox.style.height = "calc(100% - 30px)";
        inputBox.style.border = "none";
        inputBox.style.padding = "15px";
        inputBox.style.boxSizing = "border-box";

        inputBox.addEventListener("focus", function (event) {
          event.stopPropagation();
        });

        inputBox.addEventListener("blur", function () {
          var inputText = inputBox.value.trim();
          if (inputText.length === 0) {
            inputBox.parentNode.removeAttribute("data-input-text");
            inputBox.parentNode.setAttribute("data-input-placeholder", "배송 시 요청사항을 입력하세요.");
          } else {
            inputBox.style.display = "none";
            inputBox.parentNode.setAttribute("data-input-text", inputText);
          }
        });

        var box2 = document.querySelector(".box2");
        box2.appendChild(inputBox);
        inputBox.focus();
      }

      var box2 = document.querySelector(".box2");
      box2.addEventListener("click", function () {
        var inputBox = box2.querySelector("input[type='text']");
        if (!inputBox) {
          createInputBox();
        }
      });

      const myButton = document.getElementById('my-button');
      const checkboxAgree1 = document.getElementById('checkbox-agree1');
      const checkboxAgree2 = document.getElementById('checkbox-agree2');

      myButton.addEventListener('mouseover', function () {
        myButton.style.color = '#fff';
      });

      myButton.addEventListener('mouseout', function () {
        myButton.style.color = '#000';
      });

      function updateButtonStatus() {
        if (checkboxAgree1.checked && checkboxAgree2.checked) {
          myButton.style.opacity = 1;
          myButton.style.pointerEvents = 'auto';
        } else {
          myButton.style.opacity = 0.5;
          myButton.style.pointerEvents = 'none';
        }
      }

      checkboxAgree1.addEventListener('change', updateButtonStatus);
      checkboxAgree2.addEventListener('change', updateButtonStatus);

      /**/
    window.onload = function() {
        var sellingOrderPrice = [[${sellingOrderPrice}]];
        var finalPrice = sellingOrderPrice + 14000;
        document.getElementById("final-price").innerHTML = finalPrice;
    }



    </script>


</body>

</html>