@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

#header{
    width: 60vw; margin: 0 auto;
    height: 20vh;
    text-align: right;
    padding-top: 1%;
    padding-right: 2%;
    /* border: 1px solid red; */
    background-color: #fff;
}
.header_menu {
    
    display: inline-block;
    text-align: center;
    width : auto;
    height: auto;
    font-size: 0.8rem;
    border-right: 0.5px solid black;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 1%;
    font-style: normal;

} 

.header_menuend {
    display: inline-block;
    text-align: center;
    width : auto;
    height: auto;
    font-size: 0.8rem;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 1%;
    font-style: normal;

} 

.header_img, .header_img > div{
    /* position: absolute; */
    width: 15vw;
    height: 5vw;
    top: 5vh;
    left: -2%;
    background: url(../header_image/logimg.png);
    background-size:contain;
    /* background-attachment: local; */
    background-position: center center;
    background-repeat: no-repeat;
}

#login, #home, #mypage, #csmenu, #heartProduct, #logout, #header_img{
 	cursor: url("/image/icon/cusor.png") 16 14, auto;
}
}