
  #header{
    height: 22vh;
    text-align: right;
    padding-top: 1%;
    padding-right: 2%;
    background-color: #fff;
}
.back{
  margin-bottom: 500px;
  height: 20vh;
    text-align: right;
    padding-right: 2%;
    width: 60vw; margin: 0 auto;
    background-color: #fff;
    margin-bottom: 10px;
}

.title22 {
  text-align: center;
  margin-left: 65px;
  margin-top: -30px;
  margin-bottom: -10px; /* 텍스트를 위로 20px 이동 */
  font-weight: bold;
  font-size: 200%; /* 상위 요소의 크기의 200%로 설정 */
}


.header_menu {
    
    display: inline-block;
    text-align: center;
    width : auto;
    height: auto;
    font-size: 0.8rem;
    border-right: 0.5px solid black;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 1%;
    font-family: 'Noto Sans';
    font-style: normal;

} 

.header_menuend {
    display: inline-block;
    text-align: center;
    width : auto;
    height: auto;
    font-size: 0.8rem;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 1%;
    font-family: 'Noto Sans';
    font-style: normal;

} 
/* 
.header_img{
    position: absolute;
    width: 15vw;
    height: 5vw;
    top: 5vh;
    left: -2%;
    background: url(../img/로고글자.png);
    background-size:contain;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
} */

.header_img, .header_img > div{
    /* position: absolute; */
    width: 15vw;
    height: 5vw;
    top: 5vh;
    left: -2%;
    background: url(../header_image/logimg.png);
    background-size:contain;
    /* background-attachment: local; */
    background-position: center center;
    background-repeat: no-repeat;
}