@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap')
	;

/* input box color */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px #fff inset ; -webkit-text-fill-color: #000; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }



* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	margin: 0;
}

main {
	width: 40vw;
	margin: 0 auto;
	height: 60vh;
}

input[type="text"], input[type="password"] {
	display: block;
	border: none;
	border-bottom: 1px solid gray;
	width: 75%;
	font-size: 1.5vh;
	color: rgba(0, 0, 0, 0.5);
}

.loginfalse {
	font-size: 1vh;
	color: red;
}

.password {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

form {
	height: 48%;
	margin-left: 17%;
}

input[type="submit"] {
	border: 0px;
	margin-left: 25%;
	margin-top: 0%;
	height: 4vh;
	width: 60%;
	color: white;
	border-radius: 10px;
	font-size: 2vh;
	text-align: center;
	transform: translate(-25%, -0%);
	background-color: #BA85D1;
}

.crud {
	display: flex;
	justify-content: space-around;
}

.join, .searchId {
	width: 30%;
	border-right: 1px solid black;
	text-align: center;
}

.searchPw {
	width: 30%;
	text-align: center;
}

.snslogin {
	text-align: center;
}



#naverIdLogin {
	position: relative;
	display: inline-flex;
	text-align: left;
	margin-top: 3%;
	width: 50%;
	min-width: 50%;
	background-color: #03C75A;
	border-radius: 12px;
	height: 10%;
	justify-content: flex-start;
	
}

.nicon{
	display: inline-block;
    width: 39%;
}

.navertxt {
	
	font-size: 0.8vw;
    color: white;
    width: 60%;
    left: 60%;
    top: 50%;
    text-align: inherit;
	transform: translate(5%, 20%);
}

.navericonG {
	margin-left: 28%;
	margin-top: 1%;
	display: inline-block;
	text-align: center;
	width: 30%;
	min-width: 10%;
}

 #kakaoIdLogin{
	position: relative;
	display: inline-block;
	text-align: center;
	width: 50%;
	min-width: 50%;
	margin-top: 1%;
	background-color: #FEE500;
	border-radius: 12px;
}

.kakaoicon {
	display: inline-block;
	text-align: center;
	width: 80%;
	min-width: 80%;
}

#loginButton{
	    background-color : rgba(186,133,209,0.5);
}