@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

/* input box color */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px #fff inset ; -webkit-text-fill-color: #000; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }

body{
    margin: 0;
    background-color:white;
}

main{
    width: 40vw; margin: 0 auto;    
    height: 100vh;
}

input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 3vh;
    font-size: 1.5vh;
    color: rgba(0, 0, 0, 0.5);
}

 p{
 	height:10%;
     border-bottom: 1px solid gray;
 }
label{
	display : inline;
	
} 
#emailId{
	border: none;
}

#duplicationCheck{
    border-radius: 12px;
    font-size:8px;
    width: 10%;	
    height: 30px;
   	margin-bottom: 1%;
	border: none;
	background-color:rgba(224,224,224,1);
   
  }
    
#emailId{
	width:89%;
}

.loginfalse, .phonecheck{
	 font-size: 1vh;
	 color: red;

}


.password, .id, .phone{
	margin-top: 5vh;
	margin-bottom:5vh;
}

.phone {
	margin-top: 5vh;
	margin-bottom:3vh;
}

form{
	height:45%;
}


input[type="submit"]{
	margin-left: 50%;
	margin-top:0%;
	height: 4vh;
    border: none;
    width: 50%;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 2vh;
    text-align: center;
    transform: translate(-50%, -0%); 
    background-color : rgba(186,133,209,0.5);
    color: white;
}


.consent{
	
	margin-bottom:3%;
}

.consentdetailEs,.consentdetailCh{
	padding-left:40px;
 	display: none; 
}
.consent {
	
	margin-bottom: 5%;
}
.consentli{
	list-style:none;
	margin: 3%;
	position: relative;

}
.consentli .Es{
	display: flex;
    justify-content: space-between;
}

input[type="checkbox"]{
	text-align:left;
	height: 20px;
    width: 40px;
   
 }

.consentTitle{
 	 
 	font-weight:500;
 }
 
.consentSubTitle{
 	font-size: 15px;
 	
 }


.consenticonEs1, .consenticonCh1{
	width : 45px;
	height: 45px;
	left: 98%;
	top : 3%;
	position: absolute;
	transform: translate(-98%, -3%); 
}

.consenticonEs2, .consenticonCh2 {
	
	width : 45px;
	height: 45px;
	left: 98%;
	top : 3%;
	position: absolute;
	transform: translate(-98%, -3%); 
}


.consentdetailEsModal{
 font-size: 13px;
 color: gray;
  text-decoration: underline;
}

/* 개인정보 이용약관 */

.perstr{
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.perstable {
	color: gray;
	margin-bottom: 2%;
}

.persmaintitle{
	text-align: center; 
	font-size: 24px; 
	font-weight: bold;
	margin-bottom: 2%;
	border: none;
}

.perstexttitle{
	text-align:left;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5%;
	border: none;
	
}

.perstmaintext,.persttext1{
	text-align:left;
	font-size: 18px;
	margin-bottom: 5%;
	border: none;
	color: gray;
	
}

.perstextend{
	text-align:left;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5%;
	border: none;
}

.modal-content{
	width: 60vw; margin: 0 auto;  
}

.td1{
	width: 40%;
}
.tr1{
	background-color: rgba(0,0,0,0.15);
}