<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal with Accordion</title>
    <link rel="stylesheet" href="/css/list/orderHeader.css" type="text/css">
	<link rel="stylesheet" href="/css/list/list3.css" type="text/css">
</head>
<body>

    <!-- 헤더 -->
	<div th:replace="common/header/orderHeader.html"></div>




  <section id="section02">

    <hr
      style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
    <h1><span style="font-size: 150%; color: red;">구매</span> 하시기 전에 약관에 동의해 주세요.</h1>

    <img src="../img/신발.png " width="100" height="100" style="float: left; margin-right: 20px;">
  
<!--  &lt;!&ndash;여기 아래 폼 맞나요?? &ndash;&gt;-->
<!--  <form id="selectForm" action="/list/normalBuy" method="post">-->
    
    
    <div class="info" style="text-align: left;">
    
	<p th:text="${productCode}"></p>
	<p th:text="${productName}"></p>
	<p th:text="${productNameKr}"></p>
	<p th:text="${productOptionSize}"></p>
	<p th:text="${sellingOrderPrice}"></p>

      </div>

    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">

    <hr
      style="border: none; border-top: 2px solid rgb(0, 0, 0); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px;">

    <ul class="unregister_detail final_check">
      <li>
        <span style="font-size: large;">구매하려는 상품이 맞으며, 상품에 대한 상세 정보를 확인했습니다.</span>
        <span style="font-size: medium; color: grey;"><br>상품이미지, 모델번호, 출시일, 사이즈를 한 번 더 확인 했습니다.</span>
      </li>
      <li>
          <div class="checkbox-wrapper  umm">
              <label>
                  <input type="checkbox" id="checkbox-agree1">
                  <span class="checkmark"></span>
              </label>
          </div>
      </li>
  </ul>



  <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
    <ul class="unregister_detail final_check">
      <li>
    Thunderbolts에서 판매하는 상품은 모두 국내/해외에서 발매한 정품, 새상품입니다.<br>
    <span style="font-size: medium; color: grey;">모든 구성품이 그대로이며, 한 번도 착용하지 않은 정품, 새상품입니다. 국내 발매 상품여부는 <br>확인시켜드리지 않습니다.
      </li>
      <li>
          <div class="checkbox-wrapper  umm1">
              <label>
                  <input type="checkbox" id="checkbox-agree2">
                  <span class="checkmark"></span>
              </label>
          </div>
      </li>
  </ul>
    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
    <ul class="unregister_detail final_check">
      <li>
        제조사에서 불량으로 인정하지 않는 기준은 하자로 판단하지 않습니다.
        <span style="font-size: medium; color: grey;"><br>박스/패키지와 상품 컨디션에 민감하시다면 검수 기준을 반드시 확인해주세요.</span>
        <div id="modalBtn1" style="color: royalblue;"><u>이용정책 확인하기</u></div>
      </li>
      <li>
          <div class="checkbox-wrapper  umm2">
              <label>
                  <input type="checkbox" id="checkbox-agree3">
                  <span class="checkmark"></span>
              </label>
          </div>
      </li>
  </ul>

    <hr style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
    <ul class="unregister_detail final_check">
      <li>
        <div style="font-size: large;">구매하려는 상품이 맞으며, 상품에 대한 상세 정보를 확인했습니다.</div>
        <span style="font-size: medium; color: grey;">상품 이미지, 모델번호, 출시일, 상품명, 사이즈를 한 번 더 확인 했습니다.<br></span>
        <div id="modalBtn2" style="color: royalblue;"><u>이용정책 확인하기</u></div>
      </li>
      <li>
          <div class="checkbox-wrapper  umm3">
              <label>
                  <input type="checkbox" id="checkbox-agree4">
                  <span class="checkmark"></span>
              </label>
          </div>
      </li>
  </ul>
<!-- 근데 이건 ㄴ다른 페이지 -->
    <hr
      style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">

    </div>
<form id="selectForm" action="/orderPage/normalOrderPage" method="POST">
  <input type="hidden" name="sellingOrderNo" th:value="${sellingOrderNo}" />
   <input type="hidden" name="sellingOrderPrice" th:value="${sellingOrderPrice}" />
  <button id="my-button" type="submit">
    즉시 판매 계속
  </button>
</form>





    <div id="modal1" class="modal">
      <div class="modal-content">
        <span class="close"></span>
        <p style="text-align: center; font-size: 24px; font-weight: bold;">검수기준</p>

        <div class="button-container">
          <table>
            <tr>
              <td><button class="text-button" onclick="toggleContent('content-1')">신발</button></td>
              <td><button class="text-button" onclick="toggleContent('content-2')">아우터 상의 하의</button></td>
              <td><button class="text-button" onclick="toggleContent('content-3')">가방 시계 지갑 패션 잡화</button></td>
            </tr>
            <tr>
              <td><button class="text-button" onclick="toggleContent('content-4')">테크</button></td>
              <td><button class="text-button" onclick="toggleContent('content-5')">리빙</button></td>
              <td><button class="text-button" onclick="toggleContent('content-6')">프리미엄 시계와 가방</button></td>
            </tr>
          </table>
        </div>
        <div id="content-1" class="content">
          <br>THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다. <br> <br>

          회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다. <br>


          <b>※ 신발 관련 주의사항<br></b>
          THUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다. <br>

          제품 기능에 관한 사항이나 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다. <br>
          단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고) <br><br>

          THUNDERBOLTS의 검수기준으로 고지된 사항 이외 아래와 같이 제조사에서 불량으로 인정하지 않는 기준, 또는 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의 경우 하자로 판단하지 않으며,이로
          인한 구매 취소는 불가하므로 신중한 거래 부탁드립니다.<br>

          <li>제조공정, 유통과정 또는 소재 특성 상 발생할 수 있는 사항</li>
          <li> 도장, 마킹 등의 제조사 또는 판매처에서 진행되는 사항</li>
          <li> 검수 중 발생할 수 있는 사항 (속지, 슈트리 손상 등)</li>
          <li> 택배 개봉 또는 적재 및 상품 이동 중 발생할 수 있는 사항 (칼자국, 박스 눌림, 이염 등)</li>
          <li> 상품택, 구성품 등의 고리 누락/이탈</li>
          <li> 고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.</li>

          <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>

          <b>불합격/페널티 부과 사항</b>불
          모조품/가품 - 패널티 15%<br>손상/오염/사용감 - 패널티 15% 이용정지<br>상품 불일치, 사이즈 불일치, 기본 구성품 누락 - 패널티 10%<br>

          <p style="font-size: small; color: gray;">※ 손상/오염/사용감 판정의 경우 사용으로 인한 아웃솔 마모, 오염, 수선/보강, 페인팅 등의 기준을 종합하여 검수원과
            검수센터 책임자의 최종 판단하에 결정하게 됩니다.</p>
          <b>패키지 및 구성품<br></b>

          박스(BOX) 손상-길이 총합 - 불합격 - ≥12.0cm 합격 - 12.0cm<br>
          박스(BOX) 부분 변색 - ○ -<br>
          라벨지 손상/상이<br>
          그래픽 속지 상이/누락 - ○ -<br>
          그래픽 속지 유실 - 불합격 - ≥40% 합격 - 40%
          <p style="font-size: small; color: gray;">※ 마킹, 펜자국, 본드 등 기타 오염의 경우 검수 책임자의 최종 판단에 따라 합격 처리됩니다.<br>
            ※ 무지 속지의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 생산 시기별 상이한 속지의 경우 합격 처리됩니다.</p>

          구성품 불합격<br>

          상품 정보택 손상/유실 - - ○<br>
          끈 기능 상실 - ○ -<br>
          추가 구성품 누락<br>
          스티커, 슈트리, 여분끈 등<br>

          - ○ -
          발매 최초의 구성과 상이함
          여분끈 교체, 체결 방식 상이함, 벨크로, 뱃지 교체 등

          - ○ -
          오염
          스티커, 슈트리, 끈 등
          <p style="font-size: small; color: gray;">
            <br>※ 국내/해외 발매 제품 간의 정보택의 구성은 다를 수 있습니다.<br>
            ※ 상품 정보택의 경우 정보의 일부가 상이할 수 있습니다.<br>
            ※ 신발끈 팁 파손의 경우 기능상 교차 및 매듭에 문제가 없을 경우 합격 처리됩니다.<br>
            ※ 박스 재질 및 종이 뭉치 형태 슈트리의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 점프맨 스티커, 설명서, 슬라이드 제품걸이 등 판매처에 따라 구성품이 다른 경우 누락되어도 합격 처리됩니다.<br>
            ※ 추가 구성품의 상태(나염유실, 변색, 스크래치, 오염 등)는 검수 기준에 포함되지 않습니다.<br>
            ※ 랩핑, 타 업체 검수택 및 최초 구매 영수증의 경우 포함되는 것을 보장하지 않으며, 검수 과정 중 제거될 수 있습니다.
            제품 상태<br>
          </p>

          상태 기준 구분/불합격/구매자 의사 확인/합격 표
          구분 불합격 구매자
          의사 확인 합격
          어퍼 재봉 불량-부위별
          건너뜀, 올풀림 등

          <p style="font-size: small; color: gray;">
            ※ 소재 특성상 클리어 솔, 스펀지, 사출소재 등의 변색 진행의 경우 합격 처리됩니다.<br>
            ※ 오프화이트 신발끈("), 윙로고™, 인솔Ⓡ 등 일부 소재 및 공정 특성상 발생 가능한 나염 유실의 경우 합격 처리됩니다.<br>
          </p>

          <b>유의사항</b>
          <p style="font-size: small; color: gray;">
            ※ '구매자 의사 확인'의 상품은 최초 보류 알림 기준 24시간 이내 회신이 없을 경우에 자동 검수 합격 처리되며 이와 관련한 취소는 불가능합니다.<br>

            ※ 모조품/가품 판매 및 페널티 회피 시 해당 계정은 회원 자격이 정지되며, 새로운 아이디로 가입을 하여도 이전 거래 기록을 근거로 서비스 이용을 제재할 수 있습니다.<br>

            ※ 국내 발매 제품/해외 발매 제품의 여부는 검수 불합격 사항이 아니며, 이로 인한 구매 취소 또한 불가합니다.<br>

            ※ THUNDERBOLTS을 통해 거래된 모든 상품은 입고 시 자동화 처리를 위해 고유의 정보를 포함한 스티커가 부착됩니다. 부착 위치는 제품에 따라 차이가 있으며 이는 발송(반송) 시에도 제거되지
            않습니다.<br></p>

          <b>검수 불합격 시 반송 택배 운임<br></b>

          [착불]<br>

          검수 기준상 '불합격' 에 해당하는 반송건<br>

          [선불]<br>

          '구매의사 확인' 이후 발생하는 반송건<br>




        </div>
        <div id="content-2" class="content">
          <br>THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다. <br> <br>

          회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다. <br>


          <b>※ 아우터, 상의, 하의 거래 관련 주의사항<br></b>
          THUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다. <br>

          제품 기능에 관한 사항이나 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다. <br>
          단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고) <br><br>

          THUNDERBOLTS의 검수기준으로 고지된 사항 이외 아래와 같이 제조사에서 불량으로 인정하지 않는 기준, 또는 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의 경우 하자로 판단하지 않으며,이로
          인한 구매 취소는 불가하므로 신중한 거래 부탁드립니다.<br>

          <li>제조공정, 유통과정 또는 소재 특성 상 발생할 수 있는 사항</li>
          <li> 도장, 마킹 등의 제조사 또는 판매처에서 진행되는 사항</li>
          <li> 검수 중 발생할 수 있는 사항 (속지, 슈트리 손상 등)</li>
          <li> 택배 개봉 또는 적재 및 상품 이동 중 발생할 수 있는 사항 (칼자국, 박스 눌림, 이염 등)</li>
          <li> 상품택, 구성품 등의 고리 누락/이탈</li>
          <li> 고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.</li>

          <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>

          <b>불합격/페널티 부과 사항</b>불
          모조품/가품 - 패널티 15%<br>손상/오염/사용감 - 패널티 15% 이용정지<br>상품 불일치, 사이즈 불일치, 기본 구성품 누락 - 패널티 10%<br>

          <p style="font-size: small; color: gray;">※ 손상/오염/사용감 판정의 경우 사용으로 인한 아웃솔 마모, 오염, 수선/보강, 페인팅 등의 기준을 종합하여 검수원과
            검수센터 책임자의 최종 판단하에 결정하게 됩니다.</p>
          <b>패키지 및 구성품<br></b>

          박스(BOX) 손상-길이 총합 - 불합격 - ≥12.0cm 합격 - 12.0cm<br>
          박스(BOX) 부분 변색 - ○ -<br>
          라벨지 손상/상이<br>
          그래픽 속지 상이/누락 - ○ -<br>
          그래픽 속지 유실 - 불합격 - ≥40% 합격 - 40%
          <p style="font-size: small; color: gray;">※ 마킹, 펜자국, 본드 등 기타 오염의 경우 검수 책임자의 최종 판단에 따라 합격 처리됩니다.<br>
            ※ 무지 속지의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 생산 시기별 상이한 속지의 경우 합격 처리됩니다.</p>

          구성품 불합격<br>

          상품 정보택 손상/유실 - - ○<br>
          끈 기능 상실 - ○ -<br>
          추가 구성품 누락<br>
          스티커, 슈트리, 여분끈 등<br>

          - ○ -
          발매 최초의 구성과 상이함
          여분끈 교체, 체결 방식 상이함, 벨크로, 뱃지 교체 등

          - ○ -
          오염
          스티커, 슈트리, 끈 등
          <p style="font-size: small; color: gray;">
            <br>※ 국내/해외 발매 제품 간의 정보택의 구성은 다를 수 있습니다.<br>
            ※ 상품 정보택의 경우 정보의 일부가 상이할 수 있습니다.<br>
            ※ 신발끈 팁 파손의 경우 기능상 교차 및 매듭에 문제가 없을 경우 합격 처리됩니다.<br>
            ※ 박스 재질 및 종이 뭉치 형태 슈트리의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 점프맨 스티커, 설명서, 슬라이드 제품걸이 등 판매처에 따라 구성품이 다른 경우 누락되어도 합격 처리됩니다.<br>
            ※ 추가 구성품의 상태(나염유실, 변색, 스크래치, 오염 등)는 검수 기준에 포함되지 않습니다.<br>
            ※ 랩핑, 타 업체 검수택 및 최초 구매 영수증의 경우 포함되는 것을 보장하지 않으며, 검수 과정 중 제거될 수 있습니다.
            제품 상태<br>
          </p>

          상태 기준 구분/불합격/구매자 의사 확인/합격 표
          구분 불합격 구매자
          의사 확인 합격
          어퍼 재봉 불량-부위별
          건너뜀, 올풀림 등

          <p style="font-size: small; color: gray;">
            ※ 소재 특성상 클리어 솔, 스펀지, 사출소재 등의 변색 진행의 경우 합격 처리됩니다.<br>
            ※ 오프화이트 신발끈("), 윙로고™, 인솔Ⓡ 등 일부 소재 및 공정 특성상 발생 가능한 나염 유실의 경우 합격 처리됩니다.<br>
          </p>

          <b>유의사항</b>
          <p style="font-size: small; color: gray;">
            ※ '구매자 의사 확인'의 상품은 최초 보류 알림 기준 24시간 이내 회신이 없을 경우에 자동 검수 합격 처리되며 이와 관련한 취소는 불가능합니다.<br>

            ※ 모조품/가품 판매 및 페널티 회피 시 해당 계정은 회원 자격이 정지되며, 새로운 아이디로 가입을 하여도 이전 거래 기록을 근거로 서비스 이용을 제재할 수 있습니다.<br>

            ※ 국내 발매 제품/해외 발매 제품의 여부는 검수 불합격 사항이 아니며, 이로 인한 구매 취소 또한 불가합니다.<br>

            ※ THUNDERBOLTS을 통해 거래된 모든 상품은 입고 시 자동화 처리를 위해 고유의 정보를 포함한 스티커가 부착됩니다. 부착 위치는 제품에 따라 차이가 있으며 이는 발송(반송) 시에도 제거되지
            않습니다.<br></p>

          <b>검수 불합격 시 반송 택배 운임<br></b>

          [착불]<br>

          검수 기준상 '불합격' 에 해당하는 반송건<br>

          [선불]<br>

          '구매의사 확인' 이후 발생하는 반송건<br>



        </div>
        <div id="content-3" class="content">
          <br>THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다. <br> <br>

          회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다. <br>


          <b>※ 가방, 시계, 지갑, 패션잡화 등 거래 관련 주의사항<br></b>
          THUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다. <br>

          제품 기능에 관한 사항이나 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다. <br>
          단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고) <br><br>

          THUNDERBOLTS의 검수기준으로 고지된 사항 이외 아래와 같이 제조사에서 불량으로 인정하지 않는 기준, 또는 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의 경우 하자로 판단하지 않으며,이로
          인한 구매 취소는 불가하므로 신중한 거래 부탁드립니다.<br>

          <li>제조공정, 유통과정 또는 소재 특성 상 발생할 수 있는 사항</li>
          <li> 도장, 마킹 등의 제조사 또는 판매처에서 진행되는 사항</li>
          <li> 검수 중 발생할 수 있는 사항 (속지, 슈트리 손상 등)</li>
          <li> 택배 개봉 또는 적재 및 상품 이동 중 발생할 수 있는 사항 (칼자국, 박스 눌림, 이염 등)</li>
          <li> 상품택, 구성품 등의 고리 누락/이탈</li>
          <li> 고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.</li>

          <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>

          <b>불합격/페널티 부과 사항</b>불
          모조품/가품 - 패널티 15%<br>손상/오염/사용감 - 패널티 15% 이용정지<br>상품 불일치, 사이즈 불일치, 기본 구성품 누락 - 패널티 10%<br>

          <p style="font-size: small; color: gray;">※ 손상/오염/사용감 판정의 경우 사용으로 인한 아웃솔 마모, 오염, 수선/보강, 페인팅 등의 기준을 종합하여 검수원과
            검수센터 책임자의 최종 판단하에 결정하게 됩니다.</p>
          <b>패키지 및 구성품<br></b>

          박스(BOX) 손상-길이 총합 - 불합격 - ≥12.0cm 합격 - 12.0cm<br>
          박스(BOX) 부분 변색 - ○ -<br>
          라벨지 손상/상이<br>
          그래픽 속지 상이/누락 - ○ -<br>
          그래픽 속지 유실 - 불합격 - ≥40% 합격 - 40%
          <p style="font-size: small; color: gray;">※ 마킹, 펜자국, 본드 등 기타 오염의 경우 검수 책임자의 최종 판단에 따라 합격 처리됩니다.<br>
            ※ 무지 속지의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 생산 시기별 상이한 속지의 경우 합격 처리됩니다.</p>

          구성품 불합격<br>

          상품 정보택 손상/유실 - - ○<br>
          끈 기능 상실 - ○ -<br>
          추가 구성품 누락<br>
          스티커, 슈트리, 여분끈 등<br>

          - ○ -
          발매 최초의 구성과 상이함
          여분끈 교체, 체결 방식 상이함, 벨크로, 뱃지 교체 등

          - ○ -
          오염
          스티커, 슈트리, 끈 등
          <p style="font-size: small; color: gray;">
            <br>※ 국내/해외 발매 제품 간의 정보택의 구성은 다를 수 있습니다.<br>
            ※ 상품 정보택의 경우 정보의 일부가 상이할 수 있습니다.<br>
            ※ 신발끈 팁 파손의 경우 기능상 교차 및 매듭에 문제가 없을 경우 합격 처리됩니다.<br>
            ※ 박스 재질 및 종이 뭉치 형태 슈트리의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 점프맨 스티커, 설명서, 슬라이드 제품걸이 등 판매처에 따라 구성품이 다른 경우 누락되어도 합격 처리됩니다.<br>
            ※ 추가 구성품의 상태(나염유실, 변색, 스크래치, 오염 등)는 검수 기준에 포함되지 않습니다.<br>
            ※ 랩핑, 타 업체 검수택 및 최초 구매 영수증의 경우 포함되는 것을 보장하지 않으며, 검수 과정 중 제거될 수 있습니다.
            제품 상태<br>
          </p>

          상태 기준 구분/불합격/구매자 의사 확인/합격 표
          구분 불합격 구매자
          의사 확인 합격
          어퍼 재봉 불량-부위별
          건너뜀, 올풀림 등

          <p style="font-size: small; color: gray;">
            ※ 소재 특성상 클리어 솔, 스펀지, 사출소재 등의 변색 진행의 경우 합격 처리됩니다.<br>
            ※ 오프화이트 신발끈("), 윙로고™, 인솔Ⓡ 등 일부 소재 및 공정 특성상 발생 가능한 나염 유실의 경우 합격 처리됩니다.<br>
          </p>

          <b>유의사항</b>
          <p style="font-size: small; color: gray;">
            ※ '구매자 의사 확인'의 상품은 최초 보류 알림 기준 24시간 이내 회신이 없을 경우에 자동 검수 합격 처리되며 이와 관련한 취소는 불가능합니다.<br>

            ※ 모조품/가품 판매 및 페널티 회피 시 해당 계정은 회원 자격이 정지되며, 새로운 아이디로 가입을 하여도 이전 거래 기록을 근거로 서비스 이용을 제재할 수 있습니다.<br>

            ※ 국내 발매 제품/해외 발매 제품의 여부는 검수 불합격 사항이 아니며, 이로 인한 구매 취소 또한 불가합니다.<br>

            ※ THUNDERBOLTS을 통해 거래된 모든 상품은 입고 시 자동화 처리를 위해 고유의 정보를 포함한 스티커가 부착됩니다. 부착 위치는 제품에 따라 차이가 있으며 이는 발송(반송) 시에도 제거되지
            않습니다.<br></p>

          <b>검수 불합격 시 반송 택배 운임<br></b>

          [착불]<br>

          검수 기준상 '불합격' 에 해당하는 반송건<br>

          [선불]<br>

          '구매의사 확인' 이후 발생하는 반송건<br>



        </div>
        <div id="content-4" class="content">
          <br>THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다. <br> <br>

          회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다. <br>


          <b>※ 테크 거래 관련 주의사항<br></b>
          THUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다. <br>

          제품 기능에 관한 사항이나 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다. <br>
          단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고) <br><br>

          THUNDERBOLTS의 검수기준으로 고지된 사항 이외 아래와 같이 제조사에서 불량으로 인정하지 않는 기준, 또는 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의 경우 하자로 판단하지 않으며,이로
          인한 구매 취소는 불가하므로 신중한 거래 부탁드립니다.<br>

          <li>제조공정, 유통과정 또는 소재 특성 상 발생할 수 있는 사항</li>
          <li> 도장, 마킹 등의 제조사 또는 판매처에서 진행되는 사항</li>
          <li> 검수 중 발생할 수 있는 사항 (속지, 슈트리 손상 등)</li>
          <li> 택배 개봉 또는 적재 및 상품 이동 중 발생할 수 있는 사항 (칼자국, 박스 눌림, 이염 등)</li>
          <li> 상품택, 구성품 등의 고리 누락/이탈</li>
          <li> 고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.</li>

          <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>

          <b>불합격/페널티 부과 사항</b>불
          모조품/가품 - 패널티 15%<br>손상/오염/사용감 - 패널티 15% 이용정지<br>상품 불일치, 사이즈 불일치, 기본 구성품 누락 - 패널티 10%<br>

          <p style="font-size: small; color: gray;">※ 손상/오염/사용감 판정의 경우 사용으로 인한 아웃솔 마모, 오염, 수선/보강, 페인팅 등의 기준을 종합하여 검수원과
            검수센터 책임자의 최종 판단하에 결정하게 됩니다.</p>
          <b>패키지 및 구성품<br></b>

          박스(BOX) 손상-길이 총합 - 불합격 - ≥12.0cm 합격 - 12.0cm<br>
          박스(BOX) 부분 변색 - ○ -<br>
          라벨지 손상/상이<br>
          그래픽 속지 상이/누락 - ○ -<br>
          그래픽 속지 유실 - 불합격 - ≥40% 합격 - 40%
          <p style="font-size: small; color: gray;">※ 마킹, 펜자국, 본드 등 기타 오염의 경우 검수 책임자의 최종 판단에 따라 합격 처리됩니다.<br>
            ※ 무지 속지의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 생산 시기별 상이한 속지의 경우 합격 처리됩니다.</p>

          구성품 불합격<br>

          상품 정보택 손상/유실 - - ○<br>
          끈 기능 상실 - ○ -<br>
          추가 구성품 누락<br>
          스티커, 슈트리, 여분끈 등<br>

          - ○ -
          발매 최초의 구성과 상이함
          여분끈 교체, 체결 방식 상이함, 벨크로, 뱃지 교체 등

          - ○ -
          오염
          스티커, 슈트리, 끈 등
          <p style="font-size: small; color: gray;">
            <br>※ 국내/해외 발매 제품 간의 정보택의 구성은 다를 수 있습니다.<br>
            ※ 상품 정보택의 경우 정보의 일부가 상이할 수 있습니다.<br>
            ※ 신발끈 팁 파손의 경우 기능상 교차 및 매듭에 문제가 없을 경우 합격 처리됩니다.<br>
            ※ 박스 재질 및 종이 뭉치 형태 슈트리의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 점프맨 스티커, 설명서, 슬라이드 제품걸이 등 판매처에 따라 구성품이 다른 경우 누락되어도 합격 처리됩니다.<br>
            ※ 추가 구성품의 상태(나염유실, 변색, 스크래치, 오염 등)는 검수 기준에 포함되지 않습니다.<br>
            ※ 랩핑, 타 업체 검수택 및 최초 구매 영수증의 경우 포함되는 것을 보장하지 않으며, 검수 과정 중 제거될 수 있습니다.
            제품 상태<br>
          </p>

          상태 기준 구분/불합격/구매자 의사 확인/합격 표
          구분 불합격 구매자
          의사 확인 합격
          어퍼 재봉 불량-부위별
          건너뜀, 올풀림 등

          <p style="font-size: small; color: gray;">
            ※ 소재 특성상 클리어 솔, 스펀지, 사출소재 등의 변색 진행의 경우 합격 처리됩니다.<br>
            ※ 오프화이트 신발끈("), 윙로고™, 인솔Ⓡ 등 일부 소재 및 공정 특성상 발생 가능한 나염 유실의 경우 합격 처리됩니다.<br>
          </p>

          <b>유의사항</b>
          <p style="font-size: small; color: gray;">
            ※ '구매자 의사 확인'의 상품은 최초 보류 알림 기준 24시간 이내 회신이 없을 경우에 자동 검수 합격 처리되며 이와 관련한 취소는 불가능합니다.<br>

            ※ 모조품/가품 판매 및 페널티 회피 시 해당 계정은 회원 자격이 정지되며, 새로운 아이디로 가입을 하여도 이전 거래 기록을 근거로 서비스 이용을 제재할 수 있습니다.<br>

            ※ 국내 발매 제품/해외 발매 제품의 여부는 검수 불합격 사항이 아니며, 이로 인한 구매 취소 또한 불가합니다.<br>

            ※ THUNDERBOLTS을 통해 거래된 모든 상품은 입고 시 자동화 처리를 위해 고유의 정보를 포함한 스티커가 부착됩니다. 부착 위치는 제품에 따라 차이가 있으며 이는 발송(반송) 시에도 제거되지
            않습니다.<br></p>

          <b>검수 불합격 시 반송 택배 운임<br></b>

          [착불]<br>

          검수 기준상 '불합격' 에 해당하는 반송건<br>

          [선불]<br>

          '구매의사 확인' 이후 발생하는 반송건<br>



        </div>
        <div id="content-5" class="content">
          <br>THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다. <br> <br>

          회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다. <br>


          <b>※ 리빙 거래 관련 주의사항<br></b>
          THUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다. <br>

          제품 기능에 관한 사항이나 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다. <br>
          단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고) <br><br>

          THUNDERBOLTS의 검수기준으로 고지된 사항 이외 아래와 같이 제조사에서 불량으로 인정하지 않는 기준, 또는 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의 경우 하자로 판단하지 않으며,이로
          인한 구매 취소는 불가하므로 신중한 거래 부탁드립니다.<br>

          <li>제조공정, 유통과정 또는 소재 특성 상 발생할 수 있는 사항</li>
          <li> 도장, 마킹 등의 제조사 또는 판매처에서 진행되는 사항</li>
          <li> 검수 중 발생할 수 있는 사항 (속지, 슈트리 손상 등)</li>
          <li> 택배 개봉 또는 적재 및 상품 이동 중 발생할 수 있는 사항 (칼자국, 박스 눌림, 이염 등)</li>
          <li> 상품택, 구성품 등의 고리 누락/이탈</li>
          <li> 고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.</li>

          <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>

          <b>불합격/페널티 부과 사항</b>불
          모조품/가품 - 패널티 15%<br>손상/오염/사용감 - 패널티 15% 이용정지<br>상품 불일치, 사이즈 불일치, 기본 구성품 누락 - 패널티 10%<br>

          <p style="font-size: small; color: gray;">※ 손상/오염/사용감 판정의 경우 사용으로 인한 아웃솔 마모, 오염, 수선/보강, 페인팅 등의 기준을 종합하여 검수원과
            검수센터 책임자의 최종 판단하에 결정하게 됩니다.</p>
          <b>패키지 및 구성품<br></b>

          박스(BOX) 손상-길이 총합 - 불합격 - ≥12.0cm 합격 - 12.0cm<br>
          박스(BOX) 부분 변색 - ○ -<br>
          라벨지 손상/상이<br>
          그래픽 속지 상이/누락 - ○ -<br>
          그래픽 속지 유실 - 불합격 - ≥40% 합격 - 40%
          <p style="font-size: small; color: gray;">※ 마킹, 펜자국, 본드 등 기타 오염의 경우 검수 책임자의 최종 판단에 따라 합격 처리됩니다.<br>
            ※ 무지 속지의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 생산 시기별 상이한 속지의 경우 합격 처리됩니다.</p>

          구성품 불합격<br>

          상품 정보택 손상/유실 - - ○<br>
          끈 기능 상실 - ○ -<br>
          추가 구성품 누락<br>
          스티커, 슈트리, 여분끈 등<br>

          - ○ -
          발매 최초의 구성과 상이함
          여분끈 교체, 체결 방식 상이함, 벨크로, 뱃지 교체 등

          - ○ -
          오염
          스티커, 슈트리, 끈 등
          <p style="font-size: small; color: gray;">
            <br>※ 국내/해외 발매 제품 간의 정보택의 구성은 다를 수 있습니다.<br>
            ※ 상품 정보택의 경우 정보의 일부가 상이할 수 있습니다.<br>
            ※ 신발끈 팁 파손의 경우 기능상 교차 및 매듭에 문제가 없을 경우 합격 처리됩니다.<br>
            ※ 박스 재질 및 종이 뭉치 형태 슈트리의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 점프맨 스티커, 설명서, 슬라이드 제품걸이 등 판매처에 따라 구성품이 다른 경우 누락되어도 합격 처리됩니다.<br>
            ※ 추가 구성품의 상태(나염유실, 변색, 스크래치, 오염 등)는 검수 기준에 포함되지 않습니다.<br>
            ※ 랩핑, 타 업체 검수택 및 최초 구매 영수증의 경우 포함되는 것을 보장하지 않으며, 검수 과정 중 제거될 수 있습니다.
            제품 상태<br>
          </p>

          상태 기준 구분/불합격/구매자 의사 확인/합격 표
          구분 불합격 구매자
          의사 확인 합격
          어퍼 재봉 불량-부위별
          건너뜀, 올풀림 등

          <p style="font-size: small; color: gray;">
            ※ 소재 특성상 클리어 솔, 스펀지, 사출소재 등의 변색 진행의 경우 합격 처리됩니다.<br>
            ※ 오프화이트 신발끈("), 윙로고™, 인솔Ⓡ 등 일부 소재 및 공정 특성상 발생 가능한 나염 유실의 경우 합격 처리됩니다.<br>
          </p>

          <b>유의사항</b>
          <p style="font-size: small; color: gray;">
            ※ '구매자 의사 확인'의 상품은 최초 보류 알림 기준 24시간 이내 회신이 없을 경우에 자동 검수 합격 처리되며 이와 관련한 취소는 불가능합니다.<br>

            ※ 모조품/가품 판매 및 페널티 회피 시 해당 계정은 회원 자격이 정지되며, 새로운 아이디로 가입을 하여도 이전 거래 기록을 근거로 서비스 이용을 제재할 수 있습니다.<br>

            ※ 국내 발매 제품/해외 발매 제품의 여부는 검수 불합격 사항이 아니며, 이로 인한 구매 취소 또한 불가합니다.<br>

            ※ THUNDERBOLTS을 통해 거래된 모든 상품은 입고 시 자동화 처리를 위해 고유의 정보를 포함한 스티커가 부착됩니다. 부착 위치는 제품에 따라 차이가 있으며 이는 발송(반송) 시에도 제거되지
            않습니다.<br></p>

          <b>검수 불합격 시 반송 택배 운임<br></b>

          [착불]<br>

          검수 기준상 '불합격' 에 해당하는 반송건<br>

          [선불]<br>

          '구매의사 확인' 이후 발생하는 반송건<br>



        </div>
        <div id="content-6" class="content">
          <br>THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다. <br> <br>

          회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다. <br>


          <b>※ 프리미엄 시계와 가방 거래 관련 주의사항<br></b>
          THUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다. <br>

          제품 기능에 관한 사항이나 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다. <br>
          단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고) <br><br>

          THUNDERBOLTS의 검수기준으로 고지된 사항 이외 아래와 같이 제조사에서 불량으로 인정하지 않는 기준, 또는 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의 경우 하자로 판단하지 않으며,이로
          인한 구매 취소는 불가하므로 신중한 거래 부탁드립니다.<br>

          <li>제조공정, 유통과정 또는 소재 특성 상 발생할 수 있는 사항</li>
          <li> 도장, 마킹 등의 제조사 또는 판매처에서 진행되는 사항</li>
          <li> 검수 중 발생할 수 있는 사항 (속지, 슈트리 손상 등)</li>
          <li> 택배 개봉 또는 적재 및 상품 이동 중 발생할 수 있는 사항 (칼자국, 박스 눌림, 이염 등)</li>
          <li> 상품택, 구성품 등의 고리 누락/이탈</li>
          <li> 고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.</li>

          <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>

          <b>불합격/페널티 부과 사항</b>불
          모조품/가품 - 패널티 15%<br>손상/오염/사용감 - 패널티 15% 이용정지<br>상품 불일치, 사이즈 불일치, 기본 구성품 누락 - 패널티 10%<br>

          <p style="font-size: small; color: gray;">※ 손상/오염/사용감 판정의 경우 사용으로 인한 아웃솔 마모, 오염, 수선/보강, 페인팅 등의 기준을 종합하여 검수원과
            검수센터 책임자의 최종 판단하에 결정하게 됩니다.</p>
          <b>패키지 및 구성품<br></b>

          박스(BOX) 손상-길이 총합 - 불합격 - ≥12.0cm 합격 - 12.0cm<br>
          박스(BOX) 부분 변색 - ○ -<br>
          라벨지 손상/상이<br>
          그래픽 속지 상이/누락 - ○ -<br>
          그래픽 속지 유실 - 불합격 - ≥40% 합격 - 40%
          <p style="font-size: small; color: gray;">※ 마킹, 펜자국, 본드 등 기타 오염의 경우 검수 책임자의 최종 판단에 따라 합격 처리됩니다.<br>
            ※ 무지 속지의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 생산 시기별 상이한 속지의 경우 합격 처리됩니다.</p>

          구성품 불합격<br>

          상품 정보택 손상/유실 - - ○<br>
          끈 기능 상실 - ○ -<br>
          추가 구성품 누락<br>
          스티커, 슈트리, 여분끈 등<br>

          - ○ -
          발매 최초의 구성과 상이함
          여분끈 교체, 체결 방식 상이함, 벨크로, 뱃지 교체 등

          - ○ -
          오염
          스티커, 슈트리, 끈 등
          <p style="font-size: small; color: gray;">
            <br>※ 국내/해외 발매 제품 간의 정보택의 구성은 다를 수 있습니다.<br>
            ※ 상품 정보택의 경우 정보의 일부가 상이할 수 있습니다.<br>
            ※ 신발끈 팁 파손의 경우 기능상 교차 및 매듭에 문제가 없을 경우 합격 처리됩니다.<br>
            ※ 박스 재질 및 종이 뭉치 형태 슈트리의 경우 누락되어도 합격 처리됩니다.<br>
            ※ 점프맨 스티커, 설명서, 슬라이드 제품걸이 등 판매처에 따라 구성품이 다른 경우 누락되어도 합격 처리됩니다.<br>
            ※ 추가 구성품의 상태(나염유실, 변색, 스크래치, 오염 등)는 검수 기준에 포함되지 않습니다.<br>
            ※ 랩핑, 타 업체 검수택 및 최초 구매 영수증의 경우 포함되는 것을 보장하지 않으며, 검수 과정 중 제거될 수 있습니다.
            제품 상태<br>
          </p>

          상태 기준 구분/불합격/구매자 의사 확인/합격 표
          구분 불합격 구매자
          의사 확인 합격
          어퍼 재봉 불량-부위별
          건너뜀, 올풀림 등

          <p style="font-size: small; color: gray;">
            ※ 소재 특성상 클리어 솔, 스펀지, 사출소재 등의 변색 진행의 경우 합격 처리됩니다.<br>
            ※ 오프화이트 신발끈("), 윙로고™, 인솔Ⓡ 등 일부 소재 및 공정 특성상 발생 가능한 나염 유실의 경우 합격 처리됩니다.<br>
          </p>

          <b>유의사항</b>
          <p style="font-size: small; color: gray;">
            ※ '구매자 의사 확인'의 상품은 최초 보류 알림 기준 24시간 이내 회신이 없을 경우에 자동 검수 합격 처리되며 이와 관련한 취소는 불가능합니다.<br>

            ※ 모조품/가품 판매 및 페널티 회피 시 해당 계정은 회원 자격이 정지되며, 새로운 아이디로 가입을 하여도 이전 거래 기록을 근거로 서비스 이용을 제재할 수 있습니다.<br>

            ※ 국내 발매 제품/해외 발매 제품의 여부는 검수 불합격 사항이 아니며, 이로 인한 구매 취소 또한 불가합니다.<br>

            ※ THUNDERBOLTS을 통해 거래된 모든 상품은 입고 시 자동화 처리를 위해 고유의 정보를 포함한 스티커가 부착됩니다. 부착 위치는 제품에 따라 차이가 있으며 이는 발송(반송) 시에도 제거되지
            않습니다.<br></p>

          <b>검수 불합격 시 반송 택배 운임<br></b>

          [착불]<br>

          검수 기준상 '불합격' 에 해당하는 반송건<br>

          [선불]<br>

          '구매의사 확인' 이후 발생하는 반송건<br>



        </div>
      </div>
    </div>

    <div id="modal2" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p style="text-align: center; font-size: 24px; font-weight: bold;">이용정책</p>
        <button class="accordion">패널티 정책</button>
        <div class="panel">
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          <b>판매자와 구매자의 건전한 거래를 위하여 아래 사유에 따라 페널티가 부과됩니다.</b> <br> <br>

          결제정보 오류로 페널티 결제 실패 시, 이용약관 제24조("서비스수수료")에 따라 별도의 고지없이 재결제를 시도합니다. <br> <br>




          <b>판매거부10.0% <br> <br></b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          판매 거래 체결 후, 1시간 이내 판매 거부 <br>
          판매 거래 체결 후, 1시간 이후 판매 거부 <br> <br>


          <b>발송지연 15.0%<br> <br></b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          판매 거래 체결 후, 48시간(일요일・공휴일 제외) 이내 발송 정보 미입력<br>
          <li>발송 정보 입력 후,5일(일요일・공휴일 제외) 이내 검수센터에 미도착<br></li>
          <li>가송장 등 허위 정보 입력 <br></li>
          거래 체결 전 상품 발송 <br>
          <li>발송 정보 입력 시 지원하지 않는 배송 수단의 경우, 운송장 추적 불가, 도착 상품의 식별 곤란 등의 사유로 인해 입고가 불가하며 이에 해당하는 상품은 반송 처리됩니다.<br></li>
          <li>반송 처리 등 정상적이지 않은 배송 방법을 통해 상품을 검수센터로 전달할 경우 상품 입고가 불가능합니다.<br> </li>
          <li>단, 부득이한 경우 발송 정보 입력 기한 이내에 고객센터를 통한 협의 및 THUNDERBOLTS의 사전 승인 하에 상품 동일성 식별이 가능하도록 조치한 경우에 한하여 상품 입고가 가능한 점 참고
            부탁드립니다.<br> </li>

          <br><br><b>검수기준 악용 10.0%<br></b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          아래 검수기준 위반시에는 페널티를 부과합니다. (패키지와 상품 공통 적용)<br>
          <li>신발/의류/패션잡화 <br></li>
          <li>상품 불일치,사이즈 불일치,기본 구성품 누락<br></li>
          <li>테크/라이프 <br></li>
          <li>정보 불일치 <br></li>

          <br> <br><b>가품, 손상/오염/사용감 15.0%</b><br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          일반 거래는 판매가 기준이며, 보관 판매는 판매 상품 모든 사이즈의 전월 평균 거래가 기준입니다. <br>


          <br><b>페널티 감면 기준</b><br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <li>THUNDERBOLTS은 이용약관 제 24조 ("서비스 수수료") 다. 항에 따라 회원이 아래와 같은 특별한 사유에 해당하는 것으로 객관적으로 소명할 경우 기 부과된 페널티를 감경 또는 면제할 수
            있습니다.<br>
            THUNDERBOLTS은 해당 사안의 사실관계, 이전 사용이력, 거래행태 등을 종합적으로 분석하여 아래 사유에 해당하는지 여부를 최종 판단합니다.<br>
            페널티 감경 또는 면제는 해당 회원의 부주의에도 불구하고 THUNDERBOLTS이 회원의 특별한 사정을 고려하여 예외적으로 실시하는 조치이므로 하기 특별 사유의 존재 여부는 해당 "회원"이 객관적으로
            증명해야 할 책임이 있습니다.<br>
          </li> <br>
          <li>서비스 사용 미숙에 따른 조작실수임이 명백한 경우</li>
          <li>명백히 택배사의 책임 있는 사유로 인하여 페널티 발생한 경우</li>
          <li>고의성이 없이 가품 및 손상/오염/사용감 있는 제품을 판매한 것이 명백한 경우 (단, 페널티 감경이 이루어지더라도 가품 및 손상/오염/사용감 있는 제품 판매로 인한 이용정지 등의 절차는
            진행될 수 있음)</li>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
        </div>
        <button class="accordion">가품과 손상/오염/사용감 있는 상품 판매에 대한 제재</button>
        <div class="panel">
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">

          <li>가품 ・ 손상/오염/사용감 있는 상품 판매를 시도하여 적발된 경우 판매금액의 15.0% 페널티가 부과되며 판매자는 적발 즉시 이용정지 처리됩니다.<br>
            가품 판매의 경우 상표법 108조에 의거 민사상 손해배상 책임 및 형사상 7년 이하의 징역 또는 1억원 이하의 벌금 처벌을 받을 수 있습니다. 또한 이용약관 제 27조(검수 등) 6항에 따라
            가품 판매자는 상표법 등 관계 법령 위반 혐의로 수사기관에 신고될 수 있으며, 가품 판정 상품은 수사기관 제출, 압수 등으로 인하여 판매자에게 반환되지 않을 수 있습니다. <br> <br>
          </li>
          <b>소명자료 접수</b><br> <br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <li>THUNDERBOLTS에서는 가품, 손상/오염/사용감 있는 상품으로부터 구매자를 안전하게 보호하고자 해당 제재를 실행하며, 이에 따라 선의의 피해자가 발생하지 않도록 소명서 및 관련 자료를 고객센터로
            전달해주시면 내부 검토를 진행하고 있습니다.
          </li>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
        </div>
        <button class="accordion">검수 기준 악용에 대한 제재</button>
        <div class="panel">
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          <b>10.0% 상품/패키지 공통 적용됩니다.</b> <br>

          <b> <br>신발</b> <br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <li>상품 불일치</li>
          <li>사이즈 불일치</li>
          <li>기본 구성품 누락 </li>

          <b> <br>의류</b> <br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <li>상품 불일치</li>
          <li>사이즈 불일치</li>
          <li>기본 구성품 누락</li>


          <b> <br>패션 잡화</b> <br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <li>상품 불일치 </li>
          <li>사이즈 불일치</li>


          <b> <br>테크라이프</b> <br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <li>정보 불일치</li>

        </div>
        <button class="accordion">거래 실패 시 반송 운임 기준</button>
        <div class="panel">
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          거래 실패로 인한 상품 반송 시, 택배 운임의 선불/착불 기준은 아래와 같습니다.
          <b> <br><br>검수 불합격</b> <br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <li>착불-검수 기준상 '불합격' 에 해당하는 반송건</li>
          <li>선불-'구매의사 확인' 이후 발생하는 반송건</li>

          <b> <br>발송지연 ・ 미입고</b> <br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <li>착불-발송정보 입력없이 검수센터 도착</li>
          <li>입고 마감 기한 이후 검수센터 도착</li>
          <li>거래 체결 전 상품 발송</li>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
        </div>
        <button class="accordion">부적절행위 금지</button>
        <div class="panel">
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          아래에 해당하는 경우, 이용약관 제 7조(이용제한 등), 21조(부적절 행위)에 따라 일시정지나 영구이용정지 조치됩니다. 허위사실 유포 관련 고의성이 확인될 시, 유관부서로 이관되어 처리될 수
          있습니다.<br><br>

          <li>가품 거래 시도</li>
          <li>손상/오염/사용감 있는 상품 거래 시도</li>
          <li>여러 개의 계정을 생성하여 자전거래</li>
          <li>결제 혜택 및 포인트 획득, 시세 조작 등의 목적으로 지인과 공모한 허위 거래</li>
          <li>신용카드 불법 현금 유통 (소위 카드깡)</li>
          <li>개인 정보를 타인에게 유출하거나 결제 카드를 대여하여 거래(가족, 친지 포함)</li>
          <li>부당한 목적으로 협의하여 계정이나 명의를 도용하여 부정거래(온라인, 오프라인 포함)</li>
          <li>커뮤니티 내 허위사실 유포 등 서비스 운영을 방해하는 각종 부정행위</li>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
        </div>
        <button class="accordion">이상시세 입찰/거래 취소 정책</button>
        <div class="panel">
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          <li> THUNDERBOLTS은 이용약관 제21조 제3항부터 제6항까지의 규정에 따라 회원의 조작 실수, 착오로 인한 사고 발생을 예방하고, 회원의 조작 실수를 유도하거나 상품 시세를 조작하여 건전한 거래
            질서를 어지럽히려는 시도 등 각종 거래 사고와 부정거래 등을 방지하기 위하여 다음과 같이 이상시세 입찰 또는 거래 취소 정책을 실시하고 있습니다.</li><br>
          <b>입찰 또는 체결 시도의 삭제・취소</b><br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <li>THUNDERBOLTS은 보관판매 서비스 등 거래 형태를 불문하고 하기 “이상 고가 거래” 또는 “이상 저가 거래”와 같은 거래 시도 또는 거래 체결에 대하여 회원에 대한 사전 통보없이 거래 체결 이전인
            경우 해당 회원이 등록한 내용, 입찰 또는 체결 시도를 삭제・취소 또는 거래 제한 조치하고, 거래 체결 이후인 경우 거래 상대방인 회원(“이상 고가 거래” 시 구매자, “이상 저가 거래” 시
            판매자를 의미함)의 의사를 확인한 후 기 체결된 거래를 취소할 수 있습니다.<br></li>

          <b><br>THUNDERBOLTS은 해당 입찰/거래에서의 상품 입찰/체결 가격, 해당 상품의 과거 거래 체결가, 제조사 또는 주요 대형 유통사에서 책정한 해당 상품의 판매가 등을 기준으로 “이상 고가 거래”
            또는 “이상 저가 거래” 해당 여부를 판단합니다.<br></b><br>
          <li>본 정책에 따른 입찰/거래 체결 삭제∙취소, 거래 제한 등의 조치는 회원에게 거래 오류, 입찰 만료 등으로 표시될 수 있습니다.
            THUNDERBOLTS및 거래 상대방인 회원(“이상 고가 거래” 시 구매자, “이상 저가 거래” 시 판매자를 의미함)은 본 정책에 따라 이루어진 회원의 등록 내용, 입찰 또는 체결 시도에 대한
            삭제∙취소∙거래 제한 조치 또는 거래 체결 건 취소 조치 등과 관련하여 거래 재체결, 재진행, 재입찰, 상품 매입/판매 또는 손해배상(시세 등락에 관한 사항 포함) 등 어떠한 의무나 책임도
            부담하지 아니합니다.</li>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
        </div>

        <button class="accordion">커뮤니티 가이드라인</button>
        <div class="panel">
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          <b>THUNDERBOLTS 내 STYLE 서비스는 회원들의 일상 속 스니커즈, 의류 등의 패션 스타일을 공유하여 서로 영감을 얻을 수 있는 공간입니다. 모두가 건강하고 즐겁게 사용할 수 있는 공간을 만들기
            위해 함께 노력해주세요.<br><br></b><br>



          <li>커뮤니티 가이드라인은 서비스를 안전하게 유지하고 보호하기 위해 만들어진 정책입니다. THUNDERBOLTS을 사용하면 이 가이드라인과 이용약관에 동의하게 됩니다. 이 가이드라인을 위반하는 경우 콘텐츠가
            삭제되거나, 계정이 비활성화되는 등의 제재를 받을 수 있습니다.</li>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
        </div>

        <button class="accordion">검수 및 품질 보증 관련 주의사항</button>
        <div class="panel">
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
            THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다.<br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">


          <br>회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다.<br>
          <br>THUNDERBOLTS의 검수기준으로 고지된 사항 이외 제조사에서 불량으로 인정하지 않는 기준, 또는 제조사의 공정상 발생하는 상품상태 중 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의
          경우 하자로 판단하지 않으며, 이로 인한 구매취소는 불가하므로 신중한 거래 부탁 드립니다.<br>
          <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>

          <b><br>예외사항에 대한 판단<br></b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <br>고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.<br>
          <b><br>제조업체 불량에 대한 면책<br></b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <br>KTHUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다.<br>
          <li>제품 기능에 관한 사항이나 사용 후 불량 발생 등 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다.
            단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고)<br>
            또한, 아래의 사항에 해당하는 상품은 THUNDERBOLTS의 품질 보증 대상이 될 수 없으며 거래가 불가합니다.</li>

          <li><br>THUNDERBOLTS 검수 완료 증표(검수택, 실링 등), 제조업체의 자체 실링이 위변조된 경우</li>
          <li>THUNDERBOLTS의 검수기준에 의해 가품/중고품 판정을 받은 이후, 재판매하는 경우</li>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
        </div>

        <button class="accordion">검수센터 입고 지원 정책</button>
        <div class="panel">
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
            THUNDERBOLTS에서는 판매자 귀책의 거래 실패로 인한 구매자 피해를 예방하고 미입고 반송으로 인한 판매자의 불편을 최소화하기 위하여, 입고 처리 가능한 케이스를 발굴하여 지원하고 있습니다.<br>

          <b><br>입고 지원</b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <br>비용-카테고리 교차, 혼합 오배송 1,000원/건
          <li>기타 검수센터 입고 담당자 및 책임자의 최종 판단에 따라 상품 식별이 가능한 경우에도 입고 지원될 수 있습니다.
          </li>
          <li>입고 지원 비용은 해당 판매 건 정산 시 차감됩니다.</li>

          <b><br>유의 사항<br></b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <li>미체결 상품 도착, 이미 사용되었거나 허위가 명백한 송장번호 등 판매자 귀책이 분명한 경우는 미입고 착불 반송처리됩니다.</li>
          <li>검수 불합격 등의 사유로 정산 차감이 불가할 경우, 해당 판매자의 다른 판매건에서 차감될 수 있습니다.</li>
          <li>판매자 귀책의 기존 미입고 사유에 해당하므로 누적 횟수에 따라 서비스 이용이 제한될 수 있습니다.</li>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
        </div>

        <button class="accordion">배송 사고 보상 프로세스</button>
        <div class="panel">
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          배송 과정 중 분실/도난/파손 등 사고 발생 시, 아래 프로세스에 따라 보상이 진행될 수 있습니다.<br><br>
          <b>1. 분실/도난<br></b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <br>① 유형 예시<br>
          <li>집화일 이후 배송 과정 중 최대 7일 이상 흐름이 멈춰 있음</li>
          <li>상품이 도착한 것으로 조회되나 실물 상품을 수령한 바 없음</li>
          <li>상품 수령 시 택배 박스를 개봉한 흔적이 확인되고 주문 상품이 포함되어 있지 않음</li>

          <br> ② 사고 접수 필요 사항<br>
          <li>주문서</li>

          <li>운송장 <br>*분실 유형에 따라 사고 접수 시, 도착지 CCTV 영상 등이 요구될 수 있음</li><br>

          ③ 접수 기한
          <li>집화일로부터 10일 이내</li>

          2. 파손/손상
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          ① 유형 예시

          <li>택배 박스가 외력에 의해 파손된 것이 육안으로 확인되며, 본품 박스/내용물 또한 파손이 확인됨</li>
          <li>택배 박스가 젖어 있으며, 본품 박스/내용물 또한 젖어있음</li><br>



          ② 사고 접수 필요 사항

          <li>주문서

          <li>운송장

          <li>운송장 확인이 가능한 택배 박스 사진 1장 및 파손/손상 부위 디테일 사진 3장 (다각도 촬영)</li>

          <li>상품 식별이 가능한 박스 라벨 포함 사진 1장 <br>
            * 사고 접수 후 파손/손상에 해당하는 실물 상품을 회수하여 파손/손상 정도를 확인함</li><br>

          ③ 접수 기한<br>
          배송 완료일로부터 7일 이내<br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          주의사항<br>
          <li>접수 기한이 경과하였거나 구비 사항이 미비할 경우 사고 접수가 불가합니다.</li>
          <li>사고 확인, 보상금 확정 및 지급까지는 사고 배송 업체 사정에 따라 약 30일 가량 소요될 수 있습니다.</li>
          <li>구체적인 보상의 범위는 사고 배송 업체의 보상 정책을 따르며, 거래 체결 금액을 초과하지 않습니다.<br></li>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
        </div>

        <button class="accordion">세금계산서 관련 안내</button>
        <div class="panel">
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
            THUNDERBOLTS은 통신판매중개자로서 통신판매의 당사자가 아닙니다. 즉 THUNDERBOLTS은 개인간 거래를 중개하는 플랫폼이므로 판매자로부터 상품을 매입하거나, 구매자에게 상품을 판매하지 않습니다. 이에 임의로
          썬더볼트 주식회사 앞으로 세금계산서를 발행할 경우 서비스 제재 대상이 될 수 있음을 안내 드립니다.<br><br>

          사업자의 서비스 이용 제한<br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <li>THUNDERBOLTS은 개인간 거래 중개 플랫폼으로서 별도로 계약을 체결한 제휴 사업자 이외의 사업자는 서비스를 이용할 수 없으며, 해당 행위 적발 시 이용약관 제 7조 (이용제한) 및 제 21조
            (부적절 행위)에 따라 서비스 이용 제한 및 회원 자격 상실 등 제재가 발생할 수 있습니다.</li>

          <br>이에 따라 사업자의 매입증빙을 위한 세금 계산서 발행 요청 시 위 약관에 의거하여 서비스 이용이 제한됨을 알려드립니다. <br><br>

          1. 판매이력 확인경로<br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          '내 쇼핑' 판매내역 중 정산완료된 거래건으로 확인 가능<br><br>


          2. 구매이력 확인경로<br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          신용카드매출전표, 간편결제사(예. 네이버페이)를 통한 현금영수증 발급사항 확인 가능<br><br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">

        </div>

        <button class="accordion">이용제한 정책</button>
        <div class="panel">
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
            THUNDERBOLTS은 회원이 이용약관 또는 관련 법령을 위반하거나 서비스의 정상적인 운영을 방해한 경우, 이용약관 제 7 조 (이용제한 등)에 따라 일시 또는 영구적으로 서비스 이용을 제한할 수
          있습니다.<br><br>
          <b>가품, 손상/오염/사용감 있는 상품 판매<br></b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          적발 횟수에 따라 가산 적용됩니다.<br>
          최소
          <li>경고 또는 15일 정지</li>
          최대
          <li>영구 이용정지</li>

          <b>부정거래<br></b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">

          시세 조작 행위, 자전 거래 등의 시도가 확인될 경우, 적발 횟수에 따라 가산 적용됩니다.<br>

          최소
          <li>경고 또는 7일 정지</li>
          최대
          <li>영구 이용정지</li>

          <b>명의/결제 도용<br></b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <li>타인 명의 또는 결제 도용이 확인된 경우, 이용정지 중인 계정을 소유한 회원과 동일인임이 확인되는 활성 계정의 경우, 해당 계정은 서비스 이용이 제한됩니다.<br></li>

          명의 도용
          <li>영구 이용정지</li>
          결제 도용
          <li>영구 이용정지</li>

          <b>이용약관 또는 관련 법령 위반<br></b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          약관 위반
          <li>영구 이용정지</li>
          법령 위반
          <li>영구 이용정지</li>

          <b>기타<br></b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          아래 케이스에 해당할 경우 적발 회수에 따라 이용 제한 조치가 가산 적용됩니다.<br>

          페널티 회피, 미결제
          <li>스타일 불량 게시물 (신고 접수, 판매글 등)</li>
          <li>상담원 보호 조치 필요 사항 (CS 폭언, 욕설, 성희롱 등)<br></li>

          <li>회원은 이용제한 등에 대해 1:1 문의 등을 통하여 이의신청을 할 수 있으며, 유관부서의 검토를 통해 이의가 정당하다고 인정될 경우 서비스 이용을 재개합니다.</li>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">

        </div>

        <button class="accordion">서비스 수수료</button>
        <div class="panel">

          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
            THUNDERBOLTS의 회원으로써 판매와 구매 시 서비스 이용료를 지급하실 책임이 있습니다.<br>

          거래 중개 및 검수 등 THUNDERBOLTS 서비스를 이용함에 따라 부과되는 수수료 등 이용료는 아래와 같습니다.<br><br>

          <b>수수료<br></b>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <li>검수비 무료 (이벤트 중)</li>
          <li>판매 최대 3%</li>
          <li>구매 최대 3%<br></li>

          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
          <b><br>배송비<br></b>
          <li> 판매 </li>
          판매자 > 검수센터 선불 ・ 판매자 부담<br>
          회수 배송비 5,000원/건<br>

          <li>구매</li>
          일반 배송 3,000원/건<br>
          <hr
            style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">



        </div>





        <script>
          const modalBtn1 = document.getElementById("modalBtn1");
          const modalBtn2 = document.getElementById("modalBtn2");
          const modal1 = document.getElementById("modal1");
          const modal2 = document.getElementById("modal2");
          const closeBtns = document.getElementsByClassName("close");
          const accordions = document.getElementsByClassName("accordion");

          modalBtn1.onclick = () => {
            modal1.style.display = "block";
          };

          modalBtn2.onclick = () => {
            modal2.style.display = "block";
          };

          for (let closeBtn of closeBtns) {
            closeBtn.onclick = (event) => {
              event.target.parentElement.parentElement.style.display = "none";
            };
          }
          for (let accordion of accordions) {
            accordion.onclick = () => {
              const otherAccordions = Array.from(accordions).filter(acc => acc !== accordion);
              otherAccordions.forEach(otherAcc => {
                otherAcc.classList.remove("active");
                otherAcc.nextElementSibling.style.display = "none";
              });

              accordion.classList.toggle("active");
              const panel = accordion.nextElementSibling;
              if (panel.style.display === "block") {
                panel.style.display = "none";
              } else {
                panel.style.display = "block";
              }
            };
          }

          window.onclick = (event) => {
            if (event.target === modal1 || event.target === modal2) {
              event.target.style.display = "none";
            }
          };

          var currentContentId = null;

          function toggleContent(contentId) {
            var content = document.getElementById(contentId);
            if (contentId === currentContentId) {
              content.style.display = 'none';
              currentContentId = null;
            } else {
              if (currentContentId) {
                var currentContent = document.getElementById(currentContentId);
                currentContent.style.display = 'none';
              }
              content.style.display = 'block';
              currentContentId = contentId;
            }
          }


          const myButton = document.getElementById('my-button');
          const checkboxAgree1 = document.getElementById('checkbox-agree1');
          const checkboxAgree2 = document.getElementById('checkbox-agree2');
          const checkboxAgree3 = document.getElementById('checkbox-agree3');
          const checkboxAgree4 = document.getElementById('checkbox-agree4');

          myButton.addEventListener('mouseover', function () {
            myButton.style.color = '#fff';
          });

          myButton.addEventListener('mouseout', function () {
            myButton.style.color = '#000';
          });

          function updateButtonStatus() {
            if (checkboxAgree1.checked && checkboxAgree2.checked && checkboxAgree3.checked && checkboxAgree4.checked ) {
              myButton.style.opacity = 1;
              myButton.style.pointerEvents = 'auto';
            } else {
              myButton.style.opacity = 0.5;
              myButton.style.pointerEvents = 'none';
            }
          }

          checkboxAgree1.addEventListener('change', updateButtonStatus);
          checkboxAgree2.addEventListener('change', updateButtonStatus);
          checkboxAgree3.addEventListener('change', updateButtonStatus);
          checkboxAgree4.addEventListener('change', updateButtonStatus);
          
          myButton.addEventListener('click', function () {
  if (myButton.style.opacity === "1") {
    window.location.href = "http://localhost:8002/list/normalBuy"; // 구글 페이지로 이동
  }
});

          
          </script>

</body>

</html>