main{
	width: 60vw; 
    margin: 0 auto;
}

.detailmain{
	width: 60vw; 
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    
}

.detailmainnextImg{
    background-image: url(/image/icon/next.png);
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    position:absolute;
    width: 30px;
    height: 30px;
    left:100%;
    top: 40%;
    transform: translate(-100%, -40%);
   
}

.detailmainpreImg{
    background-image: url(/image/icon/pre.png);
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    position:absolute;
    width: 30px;
    height: 30px;
    left: 0%;
    top: 40%;
    z-index: 1;
    transform: translate(0, -40%); 
}


.eheart{
    background-image: url(/image/icon/eheart.png);
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    position:absolute;
    width: 30px;
    height: 30px;
    min-width: 20px;
    min-height: 20px;
    left: 30%;
    top: 50%;
    transform: translate(-30%, -50%); 
}
.heart{
    background-image: url(/image/icon/heart.png);
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    position:absolute;
    width: 30px;
    height: 30px;
    min-width: 20px;
    min-height: 20px;
    left: 30%;
    top: 50%;
    transform: translate(-30%, -50%); 
}

.detailProductImg{
	margin-top: 4%;
	width: 100%;
	height: 70%;
}

.detailImgDiv{
	position: relative;

	width: 450px;
	height: 800px;
	margin-left:1%;
	text-align: center;
}


.detailTxtDiv {
	

	width: 50%;
	height: 100%;
	padding:1%;
	
}
.detailTitleDiv{
	height: 160px;
}

.detailTitle{
	font-weight: 600;
	font-size: 40px;
	height:50%;
	margin-bottom: 1%;
}

.detailSubTitle{
	font-size: 20px;
	border-bottom : 1px solid gray;
	margin-bottom: 2%;
	
}

.detailSizeDiv {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	width: 100%;
	height: 100px;
	padding:1%;
}
.detailSaleDiv {
	display: flex;
	justify-content: space-between;
	font-size: 19px;
	width: 100%;
	height: 100px;
	padding:1%;

}
.detailorderdiv {
	
	display: flex;
	justify-content: left;
	height: 100px;
	width: 100%;


}

.buyorder, .saleorder{
	color: white;
	display: flex;
	justify-content: space-around;
	height: 80px;
	width: 450px;
	border-radius: 12px;
	

}

.buyorder{
	background-color: #BA85D1;
	margin-left: 2%;
	margin-right: 3%;
}
.saleorder{
	background-color: #73C157;
	margin-left: 3%;
	margin-right: 2%;
}

.buyordername, .saleordername{
	font-weight: 600;
	width: 60px;
	line-height: 80px;
	text-align: center;
	border-right: 1px solid gray;
}

.buyorderprice, .saleorderprice{
	font-weight: 600;
	padding-top:6%;
	padding-left:2%;
	width:65%;
	font-size: 130%	;
	text-align: left;
}



.buyorderpricetxt, .saleorderpricetxt{

	font-size: 10%
}


.heartProduct{
	position:relative;
	
	margin-top: 2%;
	margin-bottom: 2%;
	padding-top:1%;
	padding-bottom:1%;
	border: 1px solid black;
	border-radius: 12px;	
	text-align: center;
	height:5%;
	font-size: 20px;
	
}


.styleNextimg{
    background-image: url(/image/icon/next.png);
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    position:absolute;
    width: 30px;
    height: 30px;
    left:100%;
    top: 50%;
    transform: translate(-100%, -50%);
   
}

.stylePreimg{
    background-image: url(/image/icon/pre.png);
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    position:absolute;
    width: 30px;
    height: 30px;
    left: 0%;
    top: 50%;
    z-index: 1;
    transform: translate(0, -50%); 
}



.deliveryIcon {
	width: 40px;
	height: 40px;
}

.deliverySub{
	display: flex;
}
.deliverySubImg{
	margin-right: 3%;
}
.deliveryTitle{
	font-size: 110%;
	margin-bottom: 2%;
}
.deliverySubTitle{
	font-size: 110%;
	font-weight:600;
}
.deliverySubtxt{
	font-size: 110%;
	color: gray;
}


.detailStyle{
	width: 60vw; 
    margin: 0 auto;
    height: 60vh;
}

.styleTitle{
    width: 100%;
    height: 35vh;
    min-height: 35vh;
    text-align: center;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}
.name{
    max-height: 5vh;
    min-height: 5vh;
    margin-top: 2%;
    padding-left: 1%; 
    font-weight: 500;
    font-size: 2vh;
    
}

.style
{
    width: 100%;
    height: 35vh;
    min-height: 35vh;
    text-align: center;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 1%;
}
.mstyle{
    width: 18%;
    height: 100%;
    min-height: 0vh;
    text-align: center;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

}
.mstyleimg{
    
    width: 100%;
    height: 100%;
    min-height: 40%;
    position: relative;
    
}
.mstyleimg1{
    margin-left:1%;    
    width: 95%;
    height: 100%;
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.mstyleprofileimg1{
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    position:absolute;
    width: 50px;
    height: 50px;
    min-width: 10px;
    min-height: 10px;
    left: 5%;
    top: 1%;
    transform: translate(-5%, -1%); 
    border-radius: 50px;
    border: 1px solid white;
    
}

.mstyleid1{
    color: white;
    position:absolute;
    width: 50px;
    height: 50px;
    min-width: 10px;
    min-height: 10px;
    left: 3%;
    top: 100%;
    transform: translate(-3%, -60%); 
    
}

.mstyleimg2{
    
    width: 95%;
    height: 100%;
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.mstyleprofileimg2{
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    position:absolute;
    width: 50px;
    height: 50px;
    min-width: 10px;
    min-height: 10px;
    left: 5%;
    top: 1%;
    transform: translate(-5%, -1%); 
    border-radius: 50px;
    border: 1px solid white;
    
}

.mstyleid2{
    color: white;
    position:absolute;
    width: 50px;
    height: 50px;
    min-width: 10px;
    min-height: 10px;
    left: 3%;
    top: 100%;
    transform: translate(-3%, -60%); 
    
}

.mstyleimg3{
    
    width: 95%;
    height: 100%;
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.mstyleprofileimg3{
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    position:absolute;
    width: 50px;
    height: 50px;
    min-width: 10px;
    min-height: 10px;
    left: 5%;
    top: 1%;
    transform: translate(-5%, -1%); 
    border-radius: 50px;
    border: 1px solid white;
    
}

.mstyleid3{
    color: white;
    position:absolute;
    width: 50px;
    height: 50px;
    min-width: 10px;
    min-height: 10px;
    left: 3%;
    top: 100%;
    transform: translate(-3%, -60%); 
    
}

.mstyleimg4{
    
    width: 95%;
    height: 100%;
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.mstyleprofileimg4{
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    position:absolute;
    width: 50px;
    height: 50px;
    min-width: 10px;
    min-height: 10px;
    left: 5%;
    top: 1%;
    transform: translate(-5%, -1%); 
    border-radius: 50px;
    border: 1px solid white;
    
}

.mstyleid4{
    color: white;
    position:absolute;
    width: 50px;
    height: 50px;
    min-width: 10px;
    min-height: 10px;
    left: 3%;
    top: 100%;
    transform: translate(-3%, -60%); 
    
}

.mstyleimg5{
    
    width: 95%;
    height: 100%;
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.mstyleprofileimg5{
    background-size:cover;
    background-attachment: local;
    background-position: center center;
    background-repeat: no-repeat;
    position:absolute;
    width: 50px;
    height: 50px;
    min-width: 10px;
    min-height: 10px;
    left: 5%;
    top: 1%;
    transform: translate(-5%, -1%); 
    border-radius: 50px;
    border: 1px solid white;
    
}

.mstyleid5{
    color: white;
    position:absolute;
    width: 50px;
    height: 50px;
    min-width: 10px;
    min-height: 10px;
    left: 3%;
    top: 100%;
    transform: translate(-3%, -60%); 
    
}