
/*reset*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

body{line-height: 100%;}

ul, ol, li{list-style: none;}

a{text-decoration: none; color: inherit;}

.clear_fix::after, .clear_fix::before{
    content: ""; display: block; clear: both;
}

#wrapper{
    width: 60vw; 
    margin: 0 auto;
    /* border: 1px solid red; */
}

.font_weight{
    color: black;
 }

/*판매 내역 */

.sell {
    margin-top: 2vw;
    /* border: 1px solid blue; */
    
}

.sell_tit{
    font-size: 1.2rem;
}

.sell_list{
    font-size: 1.2rem;
    /* border: 1px solid blue; */
    display: flex;
    padding: 20px 0px;
    
}

.sell_sell{
    margin-top: 2vw;
}

.sell_list li{
    font-size: 1rem;
    justify-content: space-around;
    /* border: 1px solid blue; */
    line-height: 100px;
    margin-right: 60px;
}

.sell_img{
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 30px;
}