
/*reset*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

body{line-height: 100%;}

ul, ol, li{list-style: none;}

a{text-decoration: none; color: inherit;}

.clear_fix::after, .clear_fix::before{
    content: ""; display: block; clear: both;
}

#wrapper{
    width: 60vw; 
    margin: 0 auto;
}

.font_weight{
   color: black;
}

/* 관심 상품 */
.wish{
    width: 40vw;
    height: 10vw;
    border: 1px solid #ddd;
    border-radius: 1vw;
    margin-top: 2vw;
}

.wish_img{
    width: 6vw;
    height: 6vw;
    border: 1px solid #ddd;
    border-radius: 30%;
}

.wish > ul{
    padding-top: 2vw;
    display: flex;
    width: 40vw;
    height: 10vw;

}

.wish_text_wrap{
    margin-left: -1rem;
    margin-top: 1rem;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 40vw;
    padding: 1vw;
}

.wish_text_wrap li:nth-child(2){
	 margin-top: 10px;
}

.wish_text{
/* 	margin-top: 150px; */
}

.wish_text_wrap li:nth-child(1){
   /*  width: 15%; */
}
.wish_text_wrap li:nth-child(2){
    width: 40%;
    margin-left: 3%;
    margint-top: 100px;
}
.wish_text_wrap li:nth-child(3){
    width: 15%;
    margin-left: 5%;
    
}

.wish_name{
    font-size: 0.8rem;
    color: #888;
    line-height: 1.4vw;
}

.wish_btn_wrap{
    margin-left: 6rem;    
}

.wish_btn{
    text-align: center;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0.3vw !important; 
    margin-top: 1vw;
    width: 5vw;
    height: 1.8vw; 
    background-color: #BA85D1;
    color: #fff;

}

.wish_delete{
    font-size: 0.6rem !important; 
    text-decoration: underline;
    margin-left: 4vw;
    margin-top: 3vw;
    cursor: pointer;
}

#paging > button{
	border: none;
	font-size: 1.2rem;
	background: none;
	margin-top: -100px;
	padding: 5px;
}

