<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>orderMain</title>
<link rel="stylesheet" type="text/css" href="/css/admin/orderMain.css">
<script src="/js/openOrder.js"></script>
</head>
<body>
	<div class="sidebar-background">
		<!-- 사이드 바-->
		<div class="sidebar">
			<div class="logo">
				<img src="/image/icon/mainlogo.png" id="logoimg">
			</div>
			<ul>
				<div class="sidebar-menu" id="sidebarcontainer">
					<li class="sidebartexts" id="main-serv"><a
						href="http://127.0.0.1:5501/Intae/orders/Order_main.html"><img
							class="sidebaricons" id="truckimg"
							src="/image/icon/home_icon-icons.com_73532.png">MAIN</a></li>
					<li class="sidebartexts" id="delivery-serv"><a
						href="localhost:8002/admin"><img class="sidebaricons"
							id="truckimg" src="/image/icon/truck_13241.png">배송관리</a></li>
					<li class="sidebartexts" id="order-serv"><a
						href="https://www.naver.com"><img class="sidebaricons"
							id="basketimg" src="/image/icon/basket_icon-icons.com_56201.png">주문관리</a></li>
					<li class="sidebartexts" id="client-serv"><a
						href="https://www.naver.com"><img class="sidebaricons"
							id="personimg" src="/image/icon/user_84308.png">회원관리</a></li>
					<li class="sidebartexts" id="product-serv"><a
						href="https://www.naver.com"><img class="sidebaricons"
							id="boximg"
							src="/image/icon/box_cube_d_perspective_shape_icon_142362.png">상품관리</a>
					</li>
					<li class="sidebartexts" id="board-serv"><a
						href="https://www.naver.com"><img class="sidebaricons"
							id="helpimg"
							src="/image/icon/help-button-speech-bubble-with-question-mark_icon-icons.com_72707.png">게시판관리</a>
					</li>
					<li class="sidebartexts" id="logout-serv"><a
						href="https://www.naver.com"><img class="sidebaricons"
							id="cancelimg" src="/image/icon/home_icon-icons.com_73532.png">logout</a></li>
				</div>
			</ul>
		</div>
		</div>
						
						
						<!-- 본문 -->
						
						<h2 style="align: center">상품정보</h2>
<table id="listArea" style="text-align: center">
  <tr>
    <th style="width: 200px">상품코드</th>
    <th style="width: 200px">상품명</th>
    <th style="width: 200px">등록일</th>

  </tr>

  <tr th:each="product : ${productList}">
    <td th:text="${product.productCode}"></td>
    <td th:text="${product.productName}"></td>
    <td th:text="${product.productEntryDate}"></td>
  </tr>
</table>


	<div class="buttonselection">
        <div class="buttonstosub">
            <button id="purchase">추가</button>
            <button id="selling">삭제</button>
     </div></div>
	
						
		<!-- 페이징 바 -->
		<div id="paging" align="center" style="margin-top: 20px;">

			<th:block
				th:if="${ paging.searchCondition != null and paging.searchValue != null }">
				<!-- 맨 앞으로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/productMainPage?page=1&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''">&lt;&lt;</button>

				<!-- 이전 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/productMainPage?page=' + @{${paging.page - 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
					th:disabled="${ paging.page <= 1 }">&lt;</button>

				<!-- 숫자 버튼 -->
				<th:block
					th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
					<button
						th:onclick="'location.href=\'/admin/productMainPage?page=' + @{${page}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
						th:text="${ page }" th:disabled="${ paging.page eq page }">
					</button>
				</th:block>

				<!-- 다음 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/productMainPage?page=' + @{${paging.page + 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${searchValue}} + '\''"
					th:disabled="${ paging.page >= paging.maxPage }">></button>

				<!-- 맨 끝으로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/productMainPage?page=' + @{${paging.maxPage}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${searchValue}} + '\''">>></button>

			</th:block>

			<th:block
				th:if="${ paging.searchCondition == null || paging.searchCondition.isEmpty() || paging.searchValue == null || paging.searchValue.isEmpty()}">
				<!-- 맨 앞으로 이동 -->
				<button th:onclick="'location.href=\'/admin/productMainPage?page=1\''">&lt;&lt;</button>

				<!-- 이전 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/productMainPage?page=' + @{${paging.page - 1}} + '\''"
					th:disabled="${ paging.page <= 1 }">&lt;</button>

				<!-- 숫자 버튼 -->
				<th:block
					th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
					<button
						th:onclick="'location.href=\'/admin/productMainPage?page=' + @{${page}} + '\''"
						th:text="${ page }" th:disabled="${ paging.page eq page }">
					</button>
				</th:block>

				<!-- 다음 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/productMainPage?page=' + @{${paging.page + 1}} + '\''"
					th:disabled="${ paging.page >= paging.maxPage }">></button>

				<!-- 맨 끝으로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/productMainPage?page=' + @{${paging.maxPage}} + '\''">>></button>
			</th:block>

		</div>


		<!-- 검색 폼 -->
		<div align="center">
			<form id="searchForm" action="/admin/productMainPage" method="get"
				style="display: inline-block">
				<select id="searchCondition" name="searchCondition">
					<option value="productName"
						th:selected="${ paging.searchCondition eq 'productName'}">상품명</option>
					<option value="productCode"
						th:selected="${ paging.searchCondition eq 'productCode'}">상품코드</option>
				</select> <input type="search" id="searchValue" name="searchValue"
					th:value="${ paging.searchValue }">
				<button type="submit">검색하기</button>
			</form>

		</div>
</body>
</html>