<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link href="/css/main/main.css" rel="stylesheet" type="text/css">
    <script src="../resources/js/main.js" type="text/Javascript" defer></script>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div id="headermain">
            <div class="mainmenu"> 홈 </div>
            <div class="mainmenu"> 로그인 </div>
            <div class="mainmenu"> 마이페이지 </div>
            <div class="mainmenu"> 고객센터 </div>
            <div class="mainmenuend"> 관심상품 </div>
        </div>
    
        <div id="headermain2">
            <div id="mainlogo"></div>
        </div>
      
        <div id="headermain3">
            <div class="category">
                <div class="categorymenu boldline"> 추천 </div>
                <div class="categorymenu"> 남성 </div>
                <div class="categorymenu"> 여성 </div>
                <div class="categorymenu"> 브랜드 </div>
            </div>
            <div id="search">
                <form>
                <input type="text">
                <div class="searchimg"></div>    
            </form>
            </div>
        </div>
    </header>

    <main>
        <div id="bodymainheader">
            <div id="mainbanner">
                <div class="banner"></div>          
                <ul id="bannericon">
                    <li class="button"><button></button></li>
                    <li class="bannerbutton"><button></button></li>
                    <li class="bannerbutton"><button></button></li>
                    <li class="bannerbutton"><button></button></li>
                    <li class="bannerbutton"><button></button></li>
                </ul>
            </div>
        </div>
        <div id="bodymainbody">
            <div class="mainrecommend">
                <div class="service img">
                </div>
                <div class="men img">
                </div>
                <div class="women img">
                </div>
                <div class="brand img">
                </div>
            </div>
            <div class="maintitle name">🔥 요즘 뜨는 핫 상품 🔥</div>
            <div class="product" id="producthot">
                <i class="preimg"></i>
                <div class="pro item1">
                    <div class="item1hotimg">
                        <div class="item1 hotimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item1 brandname">burberry</div>
                        <div class="item1 pname">23SS 버버리 남성 아카이브 벨크로 스니커즈 8048577 A7028</div>
                        <div class="item1 price">834,200</div>
                    </div>
                </div>
                <div class="pro item2">
                    <div class="item2hotimg">
                        <div class="item2 hotimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item2 brandname">Maison Margiela</div>
                        <div class="item2 pname">23SS 메종 마르지엘라 여성 화이트 독일군 스니커즈</div>
                        <div class="item2 price">489,900</div>
                    </div>
                </div>
                <div class="pro item3">
                    <div class="item3hotimg">
                        <div class="item3 hotimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item3 brandname">Golden Goose</div>
                        <div class="item3 pname">23SS 골든구스 하이스타 여성 로우탑 스니커즈 GWF00118 F000328 90179</div>
                        <div class="item3 price">480,200</div>
                    </div>
                </div>
                <div class="pro item4">
                    <div class="item4hotimg">
                         <div class="item4 hotimg"></div>
                         <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item4 brandname">Louis Vuitton</div>
                        <div class="item4 pname">루이비통 포쉐 토일렛 모노그램 풀박스 선물용</div>
                        <div class="item4 price">1,581,100</div>
                    </div>
                </div>
                <div class="pro item5">
                    <div class="item5hotimg">
                        <div class="item5 hotimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item5 brandname">Maison Margiela</div>
                        <div class="item5 pname">22FW 메종 마르지엘라 5AC 블랙 베이비 크로스백</div>
                        <div class="item5 price">1,062,200</div>
                    </div>
                </div>
                <i class="nextimg"></i>
            </div>
            <div class="subbanner">
                <div class="rbanner"></div>
                <div class="lbanner"></div>
            </div>
            <div class="maintitle name">⭐New In</div>
            <div class="product">
                <i class="preimg"></i>
                <div class="pro item1">
                    <div class="item1newimg">
                        <div class="item1 newimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item1 brandname">Van Cleef & Arpels</div>
                        <div class="item1 pname">뻬를리 시그니처 브레이슬릿, 미디엄/ 반클리프 아펠</div>
                        <div class="item1 price">8,990,000</div>
                    </div>
                </div>
                <div class="pro item2">
                    <div class="item2newimg">
                        <div class="item2 newimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item2 brandname">Supreme</div>
                        <div class="item2 pname">Supreme Kurt Cobain T-Shirt Black - 23SS</div>
                        <div class="item2 price">126,000</div>
                    </div>
                </div>
                <div class="pro item3">
                    <div class="item3newimg">
                        <div class="item3 newimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item3 brandname">Stone Island</div>
                        <div class="item3 pname">Stone Island 12321 Nylon Metal Garment Dyed Packable Overshirt Ice - 22SS</div>
                        <div class="item3 price">770,000</div>
                    </div>
                </div>
                <div class="pro item4">
                    <div class="item4newimg">
                         <div class="item4 newimg"></div>
                         <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item4 brandname"> Thom Browne</div>
                        <div class="item4 pname">Thom Browne Tartan Jacquard Mohair Tweed Cardigan Medium Grey</div>
                        <div class="item4 price">933,100</div>
                    </div>
                </div>
                <div class="pro item5">
                    <div class="item5newimg">
                        <div class="item5 newimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item5 brandname">Bandai</div>
                        <div class="item5 pname">Bandai MGEX Strike Freedom Gundam</div>
                        <div class="item5 price">-</div>
                    </div>
                </div>
                <i class="nextimg"></i>
            </div>
            <div class="maintitle name">추천 브랜드</div>
            <div class="product">
                <div class="mbarnd">
                    <div class="mbrandimg mbi1">
                        <div class="mbimg1"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt1">발렌시아가</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi2">
                        <div class="mbimg2"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt2">샤넬</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi3">
                        <div class="mbimg3"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt3">애플</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi4">
                        <div class="mbimg4"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt4">스톤 아일랜드</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi5">
                        <div class="mbimg5"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt5">아미</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi6">
                        <div class="mbimg6"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt6">메종 키츠네</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi7">
                        <div class="mbimg7"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt7">폴로</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi8">
                        <div class="mbimg8"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt8">헬리녹스</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi9">
                        <div class="mbimg9"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt9">루이비통</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi10">
                        <div class="mbimg10"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt10">롤렉스</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi11">
                        <div class="mbimg11"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt11">로로 피아나</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi12">
                        <div class="mbimg12"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt12">구찌</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi13">
                        <div class="mbimg13"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt13">고야드</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi14">
                        <div class="mbimg14"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt14">겐조</div>
                    </div>
                </div>
                <div class="mbarnd">
                    <div class="mbrandimg mbi15">
                        <div class="mbimg15"></div>
                    </div>
                    <div class="mbrandtxt">
                        <div class="mbtxt15">오니츠카 타이거</div>
                    </div>
                </div>
                
            </div>
            <div class="maintitle name">설레이는 봄🌷 추천 상품과 함께...</div>
            <div class="product">
                <i class="preimg"></i>
                <div class="pro item1">
                    <div class="item1seansonimg">
                        <div class="item1 seansonimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item1 brandname">Stussy</div>
                        <div class="item1 pname">Stussy Relaxed Oversized Crew Green</div>
                        <div class="item1 price">240,000</div>
                    </div>
                </div>
                <div class="pro item2">
                    <div class="item2seansonimg">
                        <div class="item2 seansonimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item2 brandname">Auralee</div>
                        <div class="item2 pname">Auralee Super Light Wool Check Shirt Brown Herringbone Check - 22AW</div>
                        <div class="item2 price">510,000</div>
                    </div>
                </div>
                <div class="pro item3">
                    <div class="item3seansonimg">
                        <div class="item3 seansonimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item3 brandname">HERMES</div>
                        <div class="item3 pname">에르메스 Deep 딥 스니커즈 레더 멀티컬러</div>
                        <div class="item3 price">1,519,000</div>
                    </div>
                </div>
                <div class="pro item4">
                    <div class="item4seansonimg">
                         <div class="item4 seansonimg"></div>
                         <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item4 brandname">Our Legacy</div>
                        <div class="item4 pname">Our Legacy Cardigan Mohair Baby Blue</div>
                        <div class="item4 price">360,000</div>
                    </div>
                </div>
                <div class="pro item5">
                    <div class="item5seansonimg">
                        <div class="item5 seansonimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item5 brandname">Telfar</div>
                        <div class="item5 pname">Telfar Small Shopping Bag White</div>
                        <div class="item5 price">465,000</div>
                    </div>
                </div>
                <i class="nextimg"></i>
            </div>
            <div class="maintitle name">Style Picks!</div>
            <div class="style">
                <i class="preimg"></i>
                <div class="mstyle">
                    <div class="mstyleimg">
                        <div class="mstyleimg1"></div>
                    </div>
                    <div class="mstyleprofile">
                        <div class="mstyleprofileimg1"></div>
                    </div>
                    <div class="mstyleid">
                        <div class="mstyleid1">bipresent</div>
                    </div>
                </div>
                <div class="mstyle">
                    <div class="mstyleimg">
                        <div class="mstyleimg2"></div>
                    </div>
                    <div class="mstyleprofile">
                        <div class="mstyleprofileimg2"></div>
                    </div>
                    <div class="mstyleid">
                        <div class="mstyleid2">_beengrae5</div>
                    </div>
                </div>
                <div class="mstyle">
                    <div class="mstyleimg">
                        <div class="mstyleimg3"></div>
                    </div>
                    <div class="mstyleprofile">
                        <div class="mstyleprofileimg3"></div>
                    </div>
                    <div class="mstyleid">
                        <div class="mstyleid3">starting_girls</div>
                    </div>
                </div>
                <div class="mstyle">
                    <div class="mstyleimg">
                        <div class="mstyleimg4"></div>
                    </div>
                    <div class="mstyleprofile">
                        <div class="mstyleprofileimg4"></div>
                    </div>
                    <div class="mstyleid">
                        <div class="mstyleid4">nurungjiji</div>
                    </div>
                </div>
                <div class="mstyle">
                    <div class="mstyleimg">
                        <div class="mstyleimg5"></div>
                    </div>
                    <div class="mstyleprofile">
                        <div class="mstyleprofileimg5"></div>
                    </div>
                    <div class="mstyleid">
                        <div class="mstyleid5">yejida</div>
                    </div>
                </div>
              
                <i class="nextimg"></i>
            </div>
            <div class="maintitle name">Sale!</div>
            <div class="product">
                <i class="preimg"></i>
                <div class="pro item1">
                    <div class="item1saleimg">
                        <div class="item1 saleimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item1 brandname">Bottega Veneta</div>
                        <div class="item1 pname">Bottega Veneta Small Padded Cassette White</div>
                        <div class="item1 price">3,524,000</div>
                    </div>
                </div>
                <div class="pro item2">
                    <div class="item2saleimg">
                        <div class="item2 saleimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item2 brandname">Maison Margiela</div>
                        <div class="item2 pname">Maison Margiela Zip Around Compact Wallet Black</div>
                        <div class="item2 price">400,000</div>
                    </div>
                </div>
                <div class="pro item3">
                    <div class="item3saleimg">
                        <div class="item3 saleimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item3 brandname">Bang & Olufsen</div>
                        <div class="item3 pname">Bang & Olufsen Beoplay HX Timber (Korean Ver.)</div>
                        <div class="item3 price">530,000</div>
                    </div>
                </div>
                <div class="pro item4">
                    <div class="item4saleimg">
                         <div class="item4 saleimg"></div>
                         <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item4 brandname">Miu Miu</div>
                        <div class="item4 pname">Miu Miu Matelasse Nappa Leather Card Holder Salvia</div>
                        <div class="item4 price">380,000</div>
                    </div>
                </div>
                <div class="pro item5">
                    <div class="item5saleimg">
                        <div class="item5 saleimg"></div>
                        <i class="eheart"></i>
                    </div>
                    <div class="itemtxt">
                        <div class="item5 brandname">USM</div>
                        <div class="item5 pname">USM Haller Storage 1x1 Gentian Blue</div>
                        <div class="item5 price">1,186,200</div>
                    </div>
                </div>
                <i class="nextimg"></i>
            </div>
            <div class="maintitle name">🥇Best 랭킹</div>
            <div class="rank">
                <div class="toprank first">
                    <div class="first rankimg"></div>
                    <div class="first prankimg"></div>
                    <div class="first ranktxt">TOP 1</div>
                    <div class="first rankbrand">Stussy</div>
                    <div class="first rankpname">Stussy Basic Stussy LS T-Shirt Black 2022</div>
                </div>
                <div class="toprank second">
                    <div class="second rankimg"></div>
                    <div class="second prankimg"></div>
                    <div class="second ranktxt">TOP 2</div>
                    <div class="second rankbrand">Nike</div>
                    <div class="second rankpname">Nike x Off-White NRG Jersey Imperial Blue - Asia</div>
                </div>
                <div class="toprank third">
                    <div class="third rankimg"></div>
                    <div class="third prankimg"></div>
                    <div class="third ranktxt">TOP 3</div>
                    <div class="third rankbrand">Stussy</div>
                    <div class="third rankpname">Stussy World Tour LS T-Shirt White</div>
                </div>
                <div class="toprank fourth">
                    <div class="fourth rankimg"></div>
                    <div class="fourth prankimg"></div>
                    <div class="fourth ranktxt">TOP 4</div>
                    <div class="fourth rankbrand">Wooyoungmi</div>
                    <div class="fourth rankpname">Wooyoungmi Cotton Long Sleeve Back Logo T-Shirt Black - 22FW</div>
                </div>
                <div class="toprank fifth">
                    <div class="fifth rankimg"></div>
                    <div class="fifth prankimg"></div>
                    <div class="fifth ranktxt">TOP 5</div>
                    <div class="fifth rankbrand">Wooyoungmi</div>
                    <div class="fifth rankpname">Wooyoungmi Cotton Long Sleeve Back Logo T-Shirt White - 22FW</div>
                </div>
            </div>
            <div class="maintitle name">오늘의 핫딜</div>
                <div class="todayproduct">
                    <div class="todaypro item1">
                        <div class="item1todayhotimg">
                            <div class="item1 todayhotimg"></div>
                            <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item1 brandname">Nike</div>
                            <div class="item1 pname">Nike x Comme des Garcons Homme Plus Air Max Sunder SP Black</div>
                            <div class="item1 price">420,000</div>
                        </div>
                    </div>
                    <div class="todaypro item2">
                        <div class="item2todayhotimg">
                            <div class="item2 todayhotimg"></div>
                            <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item2 brandname">Arc'teryx</div>
                            <div class="item2 pname">Arc'teryx Heliad 15 Backpack Black</div>
                            <div class="item2 price">309,000</div>
                        </div>
                    </div>
                    <div class="todaypro item3">
                        <div class="item3todayhotimg">
                            <div class="item3 todayhotimg"></div>
                            <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item3 brandname">Stone Island</div>
                            <div class="item3 pname">Stone Island 99661 6-Panel Cap White - 22SS</div>
                            <div class="item3 price">129,000</div>
                        </div>
                    </div>
                    <div class="todaypro item4">
                        <div class="item4todayhotimg">
                             <div class="item4 todayhotimg"></div>
                             <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item4 brandname">Human Made</div>
                            <div class="item4 pname">Human Made Rabbit L/S T-Shirt White</div>
                            <div class="item4 price">230,000</div>
                        </div>
                    </div>
                    <div class="todaypro item5">
                        <div class="item5todayhotimg">
                            <div class="item5 todayhotimg"></div>
                            <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item5 brandname">Stussy</div>
                            <div class="item5 pname">Stussy World Tour Shirt White</div>
                            <div class="item5 price">225,000</div>
                        </div>
                    </div>
                    <div class="todaypro item6">
                        <div class="item6todayhotimg">
                            <div class="item6 todayhotimg"></div>
                            <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item6 brandname">Chanel</div>
                            <div class="item6 pname">Chanel 22 Small Handbag Shiny Calfskin & Gold White</div>
                            <div class="item6 price">7,150,000</div>
                        </div>
                    </div>
                    <div class="todaypro item7">
                        <div class="item7todayhotimg">
                            <div class="item7 todayhotimg"></div>
                            <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item7 brandname">Our Legacy</div>
                            <div class="item7 pname">Our Legacy Third Cut Slash Denim Black</div>
                            <div class="item7 price">324,000</div>
                        </div>
                    </div>
                    <div class="todaypro item8">
                        <div class="item8todayhotimg">
                            <div class="item8 todayhotimg"></div>
                            <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item8 brandname">Prada</div>
                            <div class="item8 pname">Prada Chocolate Brushed Leather Loafers Black</div>
                            <div class="item8 price">1,200,000</div>
                        </div>
                    </div>
                    <div class="todaypro item9">
                        <div class="item9todayhotimg">
                             <div class="item9 todayhotimg"></div>
                             <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item9 brandname">Hermes</div>
                            <div class="item9 pname">(W) Hermes Small Chaine D'Ancre Enchainee Ring Sterling Silver</div>
                            <div class="item9 price">703,000</div>
                        </div>
                    </div>
                    <div class="todaypro item10">
                        <div class="item10todayhotimg">
                            <div class="item10 todayhotimg"></div>
                            <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item10 brandname">Nike</div>
                            <div class="item10 pname">Nike x Tom Sachs General Purpose Shoe Archive</div>
                            <div class="item10 price">330,000</div>
                        </div>
                    </div>
                    <div class="todaypro item11">
                        <div class="item11todayhotimg">
                            <div class="item11 todayhotimg"></div>
                            <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item11 brandname">Burberry</div>
                            <div class="item11 pname">Burberry Mini Two-Tone Canvas and Leather Freya Tote Bag Natural Tan</div>
                            <div class="item11 price">1,213,000</div>
                        </div>
                    </div>
                    <div class="todaypro item12">
                        <div class="item12todayhotimg">
                            <div class="item12 todayhotimg"></div>
                            <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item12 brandname">Diesel</div>
                            <div class="item12 pname">Diesel C-Seymon Treated Denim Baseball Cap Blue White</div>
                            <div class="item12 price">350,000</div>
                        </div>
                    </div>
                    <div class="todaypro item13">
                        <div class="item13todayhotimg">
                            <div class="item13 todayhotimg"></div>
                            <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item13 brandname">Valentino</div>
                            <div class="item13 pname">Valentino Vlogo Signature Nappa Mini Bucket Bag with Chain Light Ivory</div>
                            <div class="item13 price">1,050,000</div>
                        </div>
                    </div>
                    <div class="todaypro item14">
                        <div class="item14todayhotimg">
                             <div class="item14 todayhotimg"></div>
                             <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item14 brandname">Celine</div>
                            <div class="item14 pname">Celine Folco Cuir Triomphe in Smooth Calfskin Tan</div>
                            <div class="item14 price">2,400,000</div>
                        </div>
                    </div>
                    <div class="todaypro item15">
                        <div class="item15todayhotimg">
                            <div class="item15 todayhotimg"></div>
                            <i class="eheart"></i>
                        </div>
                        <div class="itemtxt">
                            <div class="item15 brandname">Maison Kitsune</div>
                            <div class="item15 pname">Maison Kitsune Baby Fox Patch R-Neck Fitted Cardigan Beige</div>
                            <div class="item15 price">365,000</div>
                        </div>
                    </div>
            </div>
        </div>
    </main>

    <footer>
        <div id="footer">
            <div id="foothead">
                <div class="userterms">
                    <ul class="ftul">
                        <li class="ftli bold title">이용약관</li>
                        <li class="ftli sub">검수기준</li>
                        <li class="ftli sub">이용정책</li>
                        <li class="ftli sub">패널티 정책</li>
                        <li class="ftli sub">커뮤니티 가이드</li>
                    </ul>
                </div>
                <div class="cs">
                    <ul class="ftul">
                        <li class="ftli bold title">고객지원</li>
                        <li class="ftli sub">공지사항</li>
                        <li class="ftli sub">서비스 소개</li>                    
                    </ul>
                </div>
                    
                <div class="csmemo">
                    <div class="bold title">고객센터 1588-0000</div>
                    <p class="sub">
                        운영시간 평일 11:00 ~ 18:00 (토,일, 공휴일, 휴일제외)<br>
                        점심시간 평일 13:00 ~ 14:00
                    </p>
                    <p class="csmemofoot">1 : 1 문의하기는 게시판으로만 가능합니다.</p>
                    <div class="faq">자주 묻는 질문</div>
                </div>
            </div>
    
            <div id="footb">
                <div class="footbbody">회사소개</div>
                <div class="footbbody">인재채용</div>
                <div class="footbbody">제휴제안</div>
                <div class="footbbody">이용약관</div>
                <div class="footbbody bold">개인정보처리방침</div>
            </div>
            <div id="footf">
                <div class="footfimg"></div>
                <div class="sub">
                    <p >
                    대 표 자 명 : GREEDY   사업자 등록번호 : 123-00-34568 사업자정보확인  통신판매업 : 제 2023-서울종로D-0105호<br>
                    <br>
                    사업장소재지 : 서울특별시 종로구 종로 2가 탑골공원  &nbsp; 대표번호 : 1588-1234 &nbsp; 이메일 : greedy@ThunderBolts.com
                    </p>
                    <p>
                    (주)ThunderBolts는 통신판매 중개자로서 통신판매의 당사자가 아닙니다. 본 상품은 개별판매자가 등록한 상품으로 상품, 상품정보, 거래에 관한 의무와 책임은 각 판매자에게 있습니다. 단, 이용약관 및 정책, 기타 거래 체결 과정에서 고지하는 내용 등에 따라 검수하고 보증하는 내용에 대한 책임은 (주)ThunderBolts에 있습니다.
                    </p>
                    <p>
                    ⓒ 2023. Thunderbolts. All rights reserved designed by greedy.ThunderBolts
                    </p>
            </div>
        </div>
    </footer>
</body>
</html>