<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="/css/login/loginMain.css" rel="stylesheet" type="text/css">
    <script src="/js/loginMain.js" type="text/Javascript" defer></script>
	<link rel="icon" href="/image/icon/favicon.ico" type="image/x-icon">
	
	<script>
		const message = '[[${message}]]';
		message && alert(message);
	</script>

</head>
<body>
  	<div th:replace="common/header/subHeader.html"></div>
    <main>
        <form id="loginForm" action="/login/Main" method="post">
            <div class="id">
                <label>이메일주소</label>
            <input type="text" value="예) greedy@Thunderbolts.com" id="emailId" name="membersId">
            <div class="loginfalse" id="emailIdtext"></div>
            </div>
            <div class="password">
                <label>비밀번호</label>
            <input type="password" id="pw1" name="membersPwd"  autocomplete="off">
           	 <div class="loginfalse" id="pw1check">영문,숫자,특수문자를 조합해서 입력해주세요(6~16자)</div>
            </div>
            <div>
                <input type="submit" value="로그인" id="loginButton" disabled='disabled'>
            </div>
        </form>
        <div class="crud">
	        <div class="join" id="loginRegist">회원 가입</div>
	        <div class="searchId" id="searchId">아이디 찾기</div>
	        <div class="searchPw">비밀번호 찾기</div>
		</div>
		
		<div class="snslogin">
			<div id="naverIdLogin">
			<div class="nicon"><img class="navericonG" src="/image/icon/niconG.png"></div>
			<div class=navertxt>네이버 로그인</div>
			</div>
			<div id="kakaoIdLogin">
			
			<img class="kakaoicon" src="/image/icon/kicon.png">
			</div>
		</div>
			
		
</main>
   	<div th:replace="common/footer/mainFooter.html"></div>
</body>
</html>