<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>loginRegist</title>
    <script src="/js/loginRegist.js" type="text/Javascript" defer></script>
    <link rel="stylesheet" href="/css/list/list3.css" type="text/css">
    <link href="/css/login/loginRegist.css" rel="stylesheet" type="text/css">
	<script src="/js/useAgree.js" type="text/Javascript" defer></script>
	<link rel="icon" href="/image/icon/favicon.ico" type="image/x-icon">
</head>
<body>
	<div th:replace="common/header/subHeader.html"></div>
	<main>
		<form id="loginForm" action="/login/regist" method="post">
			<div class="name">
				<label>이름</label> <input type="text" value="예) 홍길동" id="loginName"
					name="membersName" required>
			</div>
			<div class="id">
				<label class="emailLabel">이메일주소</label>
				<p>
					<input type="text" value="예) greedy@Thunderbolts.com" id="emailId"
						name="membersId" required> <input type="button"
						value="중복확인" id="duplicationCheck" disabled='disabled'>
				</p>


				<div class="loginfalse" id="emailIdtext"></div>

			</div>
			<div class="password">
				<label>비밀번호</label> <input type="password" id="pw1"
					name="membersPwd" required>

				<div class="loginfalse" id="pw1check">영문,숫자,특수문자를 조합해서
					입력해주세요(8~16자)</div>

			</div>
			<div class="password">
				<label>비밀번호확인</label> <input type="password" id="pw2">

				<div class="loginfalse" id="pw2check"></div>

			</div>

			<div class="phone">
				<label>휴대폰번호</label> <input type="text" value="휴대폰 번호는 숫자만 입력하세요"
					id="loginPhone" name="membersTel" required>
				<div class="phonecheck" id="phonecheck"></div>
			</div>

			<ul class="consent">
				<li class="consentli"><input type="checkbox"
					id="consentCheckboxTitleEs" required> <span
					class="consentTitle">[필수] 만 14세 이상이며 모두 동의합니다.</span> <img
					src="/image/icon/cross.png" class="consenticonEs1">
					<ul class="consentdetailEs">
						<li class="consentli Es">
							<div>
								<input type="checkbox" id="consentCheckboxSubTitleEs1" required>
								<span class="consentSubTitle">이용약관 동의</span>
							</div>
							<div class="consentdetailEsModal" id="modalBtn2">내용보기</div>
						</li>
						<li class="consentli Es">
							<div>
								<input type="checkbox" id="consentCheckboxSubTitleEs2" required>
								<span>개인정보 수집 및 이용 동의</span>
							</div>
							<div class="consentdetailEsModal" id="modalBtn3">내용보기</div>
						</li>
					</ul></li>
				<li class="consentli"><input type="checkbox"
					id="consentCheckboxTitleCh"> <span class="consentTitle">[선택]
						광고성 정보 수신에 모두 동의 합니다.</span> <img src="/image/icon/cross.png"
					class="consenticonCh1">
					<ul class="consentdetailCh">
						<li class="consentli">
							<div>
								<input type="checkbox" id="consentCheckboxSubTitleCh1">
								<span class="consentSubTitle">문자 메세지</span>
							</div>
						</li>
						<li class="consentli">
							<div>
								<input type="checkbox" id="consentCheckboxSubTitleCh2">
								<span class="consentSubTitle">이메일</span>
							</div>
						</li>
					</ul></li>
			</ul>


			<div>
				<input type="submit" value="가입하기" id="registJoin"
					disabled='disabled'>
			</div>
		</form>
		<section>
			<div id="modal2" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p style="text-align: center; font-size: 24px; font-weight: bold;">이용정책</p>
          <button class="accordion">패널티 정책</button>
          <div class="panel">
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
            <b>판매자와 구매자의 건전한 거래를 위하여 아래 사유에 따라 페널티가 부과됩니다.</b> <br> <br>
  
            결제정보 오류로 페널티 결제 실패 시, 이용약관 제24조("서비스수수료")에 따라 별도의 고지없이 재결제를 시도합니다. <br> <br>
  
  
  
  
            <b>판매거부10.0% <br> <br></b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            판매 거래 체결 후, 1시간 이내 판매 거부 <br>
            판매 거래 체결 후, 1시간 이후 판매 거부 <br> <br>
  
  
            <b>발송지연 15.0%<br> <br></b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            판매 거래 체결 후, 48시간(일요일・공휴일 제외) 이내 발송 정보 미입력<br>
            <ul>
	            <li>발송 정보 입력 후,5일(일요일・공휴일 제외) 이내 검수센터에 미도착<br></li>
	            <li>가송장 등 허위 정보 입력 <br></li>
	        </ul>
	            거래 체결 전 상품 발송 <br>
	        <ul>
	            <li>발송 정보 입력 시 지원하지 않는 배송 수단의 경우, 운송장 추적 불가, 도착 상품의 식별 곤란 등의 사유로 인해 입고가 불가하며 이에 해당하는 상품은 반송 처리됩니다.<br></li>
	            <li>반송 처리 등 정상적이지 않은 배송 방법을 통해 상품을 검수센터로 전달할 경우 상품 입고가 불가능합니다.<br> </li>
	            <li>단, 부득이한 경우 발송 정보 입력 기한 이내에 고객센터를 통한 협의 및 THUNDERBOLTS의 사전 승인 하에 상품 동일성 식별이 가능하도록 조치한 경우에 한하여 상품 입고가 가능한 점 참고
	              부탁드립니다.<br> </li>
  			</ul>
            <br><br><b>검수기준 악용 10.0%<br></b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            아래 검수기준 위반시에는 페널티를 부과합니다. (패키지와 상품 공통 적용)<br>
            <ul>
	            <li>신발/의류/패션잡화 <br></li>
	            <li>상품 불일치,사이즈 불일치,기본 구성품 누락<br></li>
	            <li>테크/라이프 <br></li>
	            <li>정보 불일치 <br></li>
  			</ul>
            <br> <br><b>가품, 손상/오염/사용감 15.0%</b><br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            일반 거래는 판매가 기준이며, 보관 판매는 판매 상품 모든 사이즈의 전월 평균 거래가 기준입니다. <br>
  
  
            <br><b>페널티 감면 기준</b><br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <ul>
            <li>THUNDERBOLTS은 이용약관 제 24조 ("서비스 수수료") 다. 항에 따라 회원이 아래와 같은 특별한 사유에 해당하는 것으로 객관적으로 소명할 경우 기 부과된 페널티를 감경 또는 면제할 수
              있습니다.<br>
              THUNDERBOLTS은 해당 사안의 사실관계, 이전 사용이력, 거래행태 등을 종합적으로 분석하여 아래 사유에 해당하는지 여부를 최종 판단합니다.<br>
              페널티 감경 또는 면제는 해당 회원의 부주의에도 불구하고 THUNDERBOLTS이 회원의 특별한 사정을 고려하여 예외적으로 실시하는 조치이므로 하기 특별 사유의 존재 여부는 해당 "회원"이 객관적으로
              증명해야 할 책임이 있습니다.<br><br>
            </li> 
            <li>서비스 사용 미숙에 따른 조작실수임이 명백한 경우</li>
            <li>명백히 택배사의 책임 있는 사유로 인하여 페널티 발생한 경우</li>
            <li>고의성이 없이 가품 및 손상/오염/사용감 있는 제품을 판매한 것이 명백한 경우 (단, 페널티 감경이 이루어지더라도 가품 및 손상/오염/사용감 있는 제품 판매로 인한 이용정지 등의 절차는
              진행될 수 있음)</li>
              </ul>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          </div>
          <button class="accordion">가품과 손상/오염/사용감 있는 상품 판매에 대한 제재</button>
          <div class="panel">
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
  			<ul>
            <li>가품 ・ 손상/오염/사용감 있는 상품 판매를 시도하여 적발된 경우 판매금액의 15.0% 페널티가 부과되며 판매자는 적발 즉시 이용정지 처리됩니다.<br>
              가품 판매의 경우 상표법 108조에 의거 민사상 손해배상 책임 및 형사상 7년 이하의 징역 또는 1억원 이하의 벌금 처벌을 받을 수 있습니다. 또한 이용약관 제 27조(검수 등) 6항에 따라
              가품 판매자는 상표법 등 관계 법령 위반 혐의로 수사기관에 신고될 수 있으며, 가품 판정 상품은 수사기관 제출, 압수 등으로 인하여 판매자에게 반환되지 않을 수 있습니다. <br> <br>
            </li>
            </ul>
            <b>소명자료 접수</b><br> <br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <ul><li>THUNDERBOLTS에서는 가품, 손상/오염/사용감 있는 상품으로부터 구매자를 안전하게 보호하고자 해당 제재를 실행하며, 이에 따라 선의의 피해자가 발생하지 않도록 소명서 및 관련 자료를 고객센터로
              전달해주시면 내부 검토를 진행하고 있습니다.
            </li>
            </ul>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          </div>
          <button class="accordion">검수 기준 악용에 대한 제재</button>
          <div class="panel">
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
            <b>10.0% 상품/패키지 공통 적용됩니다.</b> <br>
  
            <b> <br>신발</b> <br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
	        <ul>
	            <li>상품 불일치</li>
	            <li>사이즈 불일치</li>
	            <li>기본 구성품 누락 </li>
  			</ul>
            <b> <br>의류</b> <br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <ul>
	            <li>상품 불일치</li>
	            <li>사이즈 불일치</li>
	            <li>기본 구성품 누락</li>
  			</ul>
  
            <b> <br>패션 잡화</b> <br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <ul>
	            <li>상품 불일치 </li>
	            <li>사이즈 불일치</li>
            </ul>
  
  
            <b> <br>테크라이프</b> <br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <ul>
            	<li>정보 불일치</li>
            </ul>
  
          </div>
          <button class="accordion">거래 실패 시 반송 운임 기준</button>
          <div class="panel">
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
            거래 실패로 인한 상품 반송 시, 택배 운임의 선불/착불 기준은 아래와 같습니다.
            <b> <br><br>검수 불합격</b> <br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <ul>
            	<li>착불-검수 기준상 '불합격' 에 해당하는 반송건</li>
            	<li>선불-'구매의사 확인' 이후 발생하는 반송건</li>
            </ul>
  
            <b> <br>발송지연 ・ 미입고</b> <br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <ul>
            	<li>착불-발송정보 입력없이 검수센터 도착</li>
            	<li>입고 마감 기한 이후 검수센터 도착</li>
            	<li>거래 체결 전 상품 발송</li>
            </ul>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          </div>
          <button class="accordion">부적절행위 금지</button>
          <div class="panel">
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
            아래에 해당하는 경우, 이용약관 제 7조(이용제한 등), 21조(부적절 행위)에 따라 일시정지나 영구이용정지 조치됩니다. 허위사실 유포 관련 고의성이 확인될 시, 유관부서로 이관되어 처리될 수
            있습니다.<br><br>
  			<ul>
	            <li>가품 거래 시도</li>
	            <li>손상/오염/사용감 있는 상품 거래 시도</li>
	            <li>여러 개의 계정을 생성하여 자전거래</li>
	            <li>결제 혜택 및 포인트 획득, 시세 조작 등의 목적으로 지인과 공모한 허위 거래</li>
	            <li>신용카드 불법 현금 유통 (소위 카드깡)</li>
	            <li>개인 정보를 타인에게 유출하거나 결제 카드를 대여하여 거래(가족, 친지 포함)</li>
	            <li>부당한 목적으로 협의하여 계정이나 명의를 도용하여 부정거래(온라인, 오프라인 포함)</li>
	            <li>커뮤니티 내 허위사실 유포 등 서비스 운영을 방해하는 각종 부정행위</li>
            </ul>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          </div>
          <button class="accordion">이상시세 입찰/거래 취소 정책</button>
          <div class="panel">
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
            <ul>
            <li> THUNDERBOLTS은 이용약관 제21조 제3항부터 제6항까지의 규정에 따라 회원의 조작 실수, 착오로 인한 사고 발생을 예방하고, 회원의 조작 실수를 유도하거나 상품 시세를 조작하여 건전한 거래
              질서를 어지럽히려는 시도 등 각종 거래 사고와 부정거래 등을 방지하기 위하여 다음과 같이 이상시세 입찰 또는 거래 취소 정책을 실시하고 있습니다.<br></li>
              </ul>
            <b>입찰 또는 체결 시도의 삭제・취소</b><br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <ul><li>THUNDERBOLTS은 보관판매 서비스 등 거래 형태를 불문하고 하기 “이상 고가 거래” 또는 “이상 저가 거래”와 같은 거래 시도 또는 거래 체결에 대하여 회원에 대한 사전 통보없이 거래 체결 이전인
              경우 해당 회원이 등록한 내용, 입찰 또는 체결 시도를 삭제・취소 또는 거래 제한 조치하고, 거래 체결 이후인 경우 거래 상대방인 회원(“이상 고가 거래” 시 구매자, “이상 저가 거래” 시
              판매자를 의미함)의 의사를 확인한 후 기 체결된 거래를 취소할 수 있습니다.<br></li>
  			</ul>
            <b><br>THUNDERBOLTS은 해당 입찰/거래에서의 상품 입찰/체결 가격, 해당 상품의 과거 거래 체결가, 제조사 또는 주요 대형 유통사에서 책정한 해당 상품의 판매가 등을 기준으로 “이상 고가 거래”
              또는 “이상 저가 거래” 해당 여부를 판단합니다.<br></b><br>
            <ul><li>본 정책에 따른 입찰/거래 체결 삭제∙취소, 거래 제한 등의 조치는 회원에게 거래 오류, 입찰 만료 등으로 표시될 수 있습니다.
              THUNDERBOLTS및 거래 상대방인 회원(“이상 고가 거래” 시 구매자, “이상 저가 거래” 시 판매자를 의미함)은 본 정책에 따라 이루어진 회원의 등록 내용, 입찰 또는 체결 시도에 대한
              삭제∙취소∙거래 제한 조치 또는 거래 체결 건 취소 조치 등과 관련하여 거래 재체결, 재진행, 재입찰, 상품 매입/판매 또는 손해배상(시세 등락에 관한 사항 포함) 등 어떠한 의무나 책임도
              부담하지 아니합니다.</li>
              </ul>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          </div>
  
          <button class="accordion">커뮤니티 가이드라인</button>
          <div class="panel">
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
            <b>THUNDERBOLTS 내 STYLE 서비스는 회원들의 일상 속 스니커즈, 의류 등의 패션 스타일을 공유하여 서로 영감을 얻을 수 있는 공간입니다. 모두가 건강하고 즐겁게 사용할 수 있는 공간을 만들기
              위해 함께 노력해주세요.<br><br></b><br>
  
  
  			<ul>
          	  <li>커뮤니티 가이드라인은 서비스를 안전하게 유지하고 보호하기 위해 만들어진 정책입니다. THUNDERBOLTS을 사용하면 이 가이드라인과 이용약관에 동의하게 됩니다. 이 가이드라인을 위반하는 경우 콘텐츠가
           	   삭제되거나, 계정이 비활성화되는 등의 제재를 받을 수 있습니다.</li>
              </ul>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          </div>
  
          <button class="accordion">검수 및 품질 보증 관련 주의사항</button>
          <div class="panel">
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
              THUNDERBOLTS의 검수기준은 거래 당사자간 원활한 거래와 보다 균형있는 검수기준 확립을 위해 지속적으로 업데이트 되고 있습니다. 거래에 앞서 최신 검수기준을 참고하시기 바랍니다.<br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
  
  
            <br>회원님께서 판매 또는 구매하신 모든 상품은 THUNDERBOLTS의 전문 검수팀이 제품의 컨디션을 꼼꼼하게 확인한 후, 검수 합격 시에만 출고하고 있습니다.<br>
            <br>THUNDERBOLTS의 검수기준으로 고지된 사항 이외 제조사에서 불량으로 인정하지 않는 기준, 또는 제조사의 공정상 발생하는 상품상태 중 당사 검수기준에 따라 그 여부를 명확히 분별할 수 없는 상품의
            경우 하자로 판단하지 않으며, 이로 인한 구매취소는 불가하므로 신중한 거래 부탁 드립니다.<br>
            <br>THUNDERBOLTS의 검수기준에 동의하지 않으실 경우 거래가 불가하오니 거래 당사자는 거래에 앞서 THUNDERBOLTS의 검수기준을 반드시 검토하시기 바랍니다.<br>
  
            <b><br>예외사항에 대한 판단<br></b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <br>고지드린 검수 기준으로 판정하기 모호한 상품 상태, 비특정적 상품 상태, 특정 모델의 제조공정에 따른 개체차이와 관련하여서는 검수센터 책임자의 최종 판단 하에 결정하게 됩니다.<br>
            <b><br>제조업체 불량에 대한 면책<br></b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <br>KTHUNDERBOLTS은 정가품 판정 및 검수기준에 의한 기본 품질 확인을 수행하고 있으나, 통신판매 중개자로서 제조업체의 제품별 보증에 대해서는 책임을 지지 않습니다.<br>
            <ul>
            <li>제품 기능에 관한 사항이나 사용 후 불량 발생 등 기타 제품 관련 질문은 제조업체에 문의하시기 바랍니다.
              단, 제조업체의 A/S 여부는 보장하지 않습니다. (이용약관 제22조 3항 참고)<br>
              또한, 아래의 사항에 해당하는 상품은 THUNDERBOLTS의 품질 보증 대상이 될 수 없으며 거래가 불가합니다.</li>
  
            <li><br>THUNDERBOLTS 검수 완료 증표(검수택, 실링 등), 제조업체의 자체 실링이 위변조된 경우</li>
            <li>THUNDERBOLTS의 검수기준에 의해 가품/중고품 판정을 받은 이후, 재판매하는 경우</li>
            </ul>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          </div>
  
          <button class="accordion">검수센터 입고 지원 정책</button>
          <div class="panel">
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
              THUNDERBOLTS에서는 판매자 귀책의 거래 실패로 인한 구매자 피해를 예방하고 미입고 반송으로 인한 판매자의 불편을 최소화하기 위하여, 입고 처리 가능한 케이스를 발굴하여 지원하고 있습니다.<br>
  
            <b><br>입고 지원</b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <br>비용-카테고리 교차, 혼합 오배송 1,000원/건
            <ul>
	            <li>기타 검수센터 입고 담당자 및 책임자의 최종 판단에 따라 상품 식별이 가능한 경우에도 입고 지원될 수 있습니다.
	            </li>
	            <li>입고 지원 비용은 해당 판매 건 정산 시 차감됩니다.</li>
 			</ul>
            <b><br>유의 사항<br></b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <ul>
	            <li>미체결 상품 도착, 이미 사용되었거나 허위가 명백한 송장번호 등 판매자 귀책이 분명한 경우는 미입고 착불 반송처리됩니다.</li>
	            <li>검수 불합격 등의 사유로 정산 차감이 불가할 경우, 해당 판매자의 다른 판매건에서 차감될 수 있습니다.</li>
	            <li>판매자 귀책의 기존 미입고 사유에 해당하므로 누적 횟수에 따라 서비스 이용이 제한될 수 있습니다.</li>
            </ul>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          </div>
  
          <button class="accordion">배송 사고 보상 프로세스</button>
          <div class="panel">
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
            배송 과정 중 분실/도난/파손 등 사고 발생 시, 아래 프로세스에 따라 보상이 진행될 수 있습니다.<br><br>
            <b>1. 분실/도난<br></b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <br>① 유형 예시<br>
            <ul>
	            <li>집화일 이후 배송 과정 중 최대 7일 이상 흐름이 멈춰 있음</li>
	            <li>상품이 도착한 것으로 조회되나 실물 상품을 수령한 바 없음</li>
	            <li>상품 수령 시 택배 박스를 개봉한 흔적이 확인되고 주문 상품이 포함되어 있지 않음</li>
            </ul>
  
            <br> ② 사고 접수 필요 사항<br>
            <ul>
            <li>주문서</li>
  
            <li>운송장 <br>*분실 유형에 따라 사고 접수 시, 도착지 CCTV 영상 등이 요구될 수 있음<br></li>
            </ul>
  
            ③ 접수 기한
            <ul><li>집화일로부터 10일 이내</li></ul>
  
            2. 파손/손상
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            ① 유형 예시
  			<ul>
            	<li>택배 박스가 외력에 의해 파손된 것이 육안으로 확인되며, 본품 박스/내용물 또한 파손이 확인됨</li>
           	 <li>택배 박스가 젖어 있으며, 본품 박스/내용물 또한 젖어있음<br></li>
  			</ul>
  
  
            ② 사고 접수 필요 사항
  			<ul>
            <li>주문서
  
            <li>운송장
  
            <li>운송장 확인이 가능한 택배 박스 사진 1장 및 파손/손상 부위 디테일 사진 3장 (다각도 촬영)</li>
  
            <li>상품 식별이 가능한 박스 라벨 포함 사진 1장 <br>
              * 사고 접수 후 파손/손상에 해당하는 실물 상품을 회수하여 파손/손상 정도를 확인함<br></li>
  			</ul>
            ③ 접수 기한<br>
            배송 완료일로부터 7일 이내<br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            주의사항<br>
            <ul>
            <li>접수 기한이 경과하였거나 구비 사항이 미비할 경우 사고 접수가 불가합니다.</li>
            <li>사고 확인, 보상금 확정 및 지급까지는 사고 배송 업체 사정에 따라 약 30일 가량 소요될 수 있습니다.</li>
            <li>구체적인 보상의 범위는 사고 배송 업체의 보상 정책을 따르며, 거래 체결 금액을 초과하지 않습니다.<br></li>
            </ul>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          </div>
  
          <button class="accordion">세금계산서 관련 안내</button>
          <div class="panel">
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
              THUNDERBOLTS은 통신판매중개자로서 통신판매의 당사자가 아닙니다. 즉 THUNDERBOLTS은 개인간 거래를 중개하는 플랫폼이므로 판매자로부터 상품을 매입하거나, 구매자에게 상품을 판매하지 않습니다. 이에 임의로
            썬더볼트 주식회사 앞으로 세금계산서를 발행할 경우 서비스 제재 대상이 될 수 있음을 안내 드립니다.<br><br>
  
            사업자의 서비스 이용 제한<br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <ul>
            <li>THUNDERBOLTS은 개인간 거래 중개 플랫폼으로서 별도로 계약을 체결한 제휴 사업자 이외의 사업자는 서비스를 이용할 수 없으며, 해당 행위 적발 시 이용약관 제 7조 (이용제한) 및 제 21조
              (부적절 행위)에 따라 서비스 이용 제한 및 회원 자격 상실 등 제재가 발생할 수 있습니다.</li>
            </ul>
  
            <br>이에 따라 사업자의 매입증빙을 위한 세금 계산서 발행 요청 시 위 약관에 의거하여 서비스 이용이 제한됨을 알려드립니다. <br><br>
  
            1. 판매이력 확인경로<br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            '내 쇼핑' 판매내역 중 정산완료된 거래건으로 확인 가능<br><br>
  
  
            2. 구매이력 확인경로<br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            신용카드매출전표, 간편결제사(예. 네이버페이)를 통한 현금영수증 발급사항 확인 가능<br><br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
  
          </div>
  
          <button class="accordion">이용제한 정책</button>
          <div class="panel">
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
              THUNDERBOLTS은 회원이 이용약관 또는 관련 법령을 위반하거나 서비스의 정상적인 운영을 방해한 경우, 이용약관 제 7 조 (이용제한 등)에 따라 일시 또는 영구적으로 서비스 이용을 제한할 수
            있습니다.<br><br>
            <b>가품, 손상/오염/사용감 있는 상품 판매<br></b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            적발 횟수에 따라 가산 적용됩니다.<br>
            최소
            <ul><li>경고 또는 15일 정지</li></ul>
            최대
            <ul><li>영구 이용정지</li></ul>
  
            <b>부정거래<br></b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
  
            시세 조작 행위, 자전 거래 등의 시도가 확인될 경우, 적발 횟수에 따라 가산 적용됩니다.<br>
  
            최소
            <ul><li>경고 또는 7일 정지</li></ul>
            최대
            <ul><li>영구 이용정지</li></ul>
  
            <b>명의/결제 도용<br></b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <ul><li>타인 명의 또는 결제 도용이 확인된 경우, 이용정지 중인 계정을 소유한 회원과 동일인임이 확인되는 활성 계정의 경우, 해당 계정은 서비스 이용이 제한됩니다.<br></li></ul>
  
            명의 도용
            <ul><li>영구 이용정지</li></ul>
            결제 도용
          	<ul><li>영구 이용정지</li></ul>
  
            <b>이용약관 또는 관련 법령 위반<br></b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            약관 위반
            <ul><li>영구 이용정지</li></ul>
            법령 위반
            <ul><li>영구 이용정지</li></ul>
  
            <b>기타<br></b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            아래 케이스에 해당할 경우 적발 회수에 따라 이용 제한 조치가 가산 적용됩니다.<br>
  
            페널티 회피, 미결제
            <ul><li>스타일 불량 게시물 (신고 접수, 판매글 등)</li></ul>
            <ul><li>상담원 보호 조치 필요 사항 (CS 폭언, 욕설, 성희롱 등)<br></li></ul>
  
            <ul><li>회원은 이용제한 등에 대해 1:1 문의 등을 통하여 이의신청을 할 수 있으며, 유관부서의 검토를 통해 이의가 정당하다고 인정될 경우 서비스 이용을 재개합니다.</li></ul>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
  
          </div>
  
          <button class="accordion">서비스 수수료</button>
          <div class="panel">
  
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
              THUNDERBOLTS의 회원으로써 판매와 구매 시 서비스 이용료를 지급하실 책임이 있습니다.<br>
  
            거래 중개 및 검수 등 THUNDERBOLTS 서비스를 이용함에 따라 부과되는 수수료 등 이용료는 아래와 같습니다.<br><br>
  
            <b>수수료<br></b>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <ul>
	            <li>검수비 무료 (이벤트 중)</li>
	            <li>판매 최대 3%</li>
	            <li>구매 최대 3%<br></li>
  			</ul>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 0px 0px;">
            <b><br>배송비<br></b>
            <ul><li> 판매 </li></ul>
            판매자 > 검수센터 선불 ・ 판매자 부담<br>
            회수 배송비 5,000원/건<br>
  
            <ul><li>구매</li></ul>
            일반 배송 3,000원/건<br>
            <hr
              style="border: none; border-top: 1px solid rgb(181, 180, 180); width: 100%; margin: 10px 0; padding: 10px 0px 10px 0px; opacity: 0;">
          </div>
          
        </div>
       </div>
			
		</section>
		
		<section>
		<div id="modal3" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p class="persmaintitle">개인정보 수집 및 이용</p>
         <p class="perstmaintext">(주)ThunderBolts(이하 회사)는 서비스 제공을 위하여 아래와 같이 개인정보를 수집 ・ 이용 및 제공합니다.</p>
          <p class="perstexttitle">개인정보 수집 및 이용 내역</p>
          <div>
          	<table class="perstable">
          		<tr class="perstr tr1">
          			<td class="td1">항목</td>
          			<td>수집 및 이용 목적</td>
          			<td>필수 여부</td>
          			<td>보유 및 이용기간</td>
          		</tr>
          		<tr class="perstr tr2" >
          			<td>이메일 회원: ID(이메일 주소), 비밀번호, 이름, 휴대폰번호, 성별, 생년월일, CI/DI</td>
          			<td rowspan="2">회원 가입 및 프로필 관리</td>
          			<td>필수</td>
          			<td rowspan="4">회원 탈퇴 또는 서비스 종료 시까지</td>
          		</tr>
          		<tr class="perstr tr3">
          			<td>(공통) 별명, 프로필 사진, 신발 사이즈, 배송 주소, 카드 정보, 거래 은행 및 계좌번호</td>
          			
          			<td>선택</td>
          			
          		</tr>
          		<tr class="perstr tr4">
          			<td rowspan="2">개인: 이름, 주소, 휴대폰번호, 이메일, 입금계좌 정보(계좌번호, 예금주명), 
          			신분증 사본 사업자: 이름, 주소, 휴대폰번호, 이메일, 입금계좌 정보(계좌번호, 예금주명), 사업자등록증, 입금계좌 신고서</td>
          			<td rowspan="2">매입/매출 거래처 등록</td>
          			<td rowspan="2">필수</td>
          		
          		</tr>
          		<tr>
          		</tr>
          		<tr class="perstr tr5">
          			<td>휴대폰번호</td>
          			<td>ID 찾기</td>
          			<td>필수</td>
          			<td>ID 찾기 이용 시까지</td>
          		</tr>
          		<tr class="perstr tr6">
          			<td>휴대폰번호, 이메일주소</td>
          			<td>비밀번호 찾기</td>
          			<td>필수</td>
          			<td>비밀번호 찾기 이용 시까지</td>
          		</tr>
          	</table>
          	
		  </div>
		  <div class="persttext1">개인정보의 수집 및 이용에 대한 동의를 거부하시더라도 서비스의 이용은 가능합니다.</div>

		  <div class="perstextend">다만, 수집 및 이용을 거부하신 정보와 연계된 서비스(회원 가입 및 프로필 관리, 매입/매출 거래처 등록, ID/비밀번호 찾기)는 동의 전까지 일부 또는 전체를 이용하실 수 없습니다.
		  </div>
         
         <a href="/" class="persnalpage">개인정보 처리방침 전문 보기</a>
  
  </div>
 </div>

		
		</section>
	</main>


	<div th:replace="common/footer/mainFooter.html"></div>

</body>
</html>