<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>serchId</title>
 <link href="/css/login/loginRegist.css" rel="stylesheet" type="text/css">
    <script src="/js/loginRegist.js" type="text/Javascript" defer></script>
	<link rel="icon" href="/image/icon/favicon.ico" type="image/x-icon">
</head>
<body>
	
	<div th:replace="common/header/subHeader.html"></div>
	<main>
		
	</main>
	<div th:replace="common/footer/mainFooter.html"></div>


</body>
</html>