<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>serchId</title>
 <link href="/css/login/loginRegist.css" rel="stylesheet" type="text/css">
    <script src="/js/loginRegist.js" type="text/Javascript" defer></script>
	<link rel="icon" href="/image/icon/favicon.ico" type="image/x-icon">
</head>
<body>
	
	<div th:replace="common/header/subHeader.html"></div>
		<main>
		
        <form id="loginForm" action="/login/regist" method="post">
    
           
            <div class="phone">
                <label>휴대폰번호</label>
            <input type="text" value="휴대폰 번호는 숫자만 입력하세요" id="loginPhone" name="membersTel" required>
             <div class="phonecheck" id="phonecheck"></div>
            </div>
            

			<div>
                <input type="submit" value="가입하기" id="registJoin" disabled='disabled'>
            </div>
        </form>

    </main>
    
	<div th:replace="common/footer/mainFooter.html"></div>


</body>
</html>