@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  text-align: center;
  margin-top: -20px;
}
main{
  text-align: center;

}
body {
  background-color: #ECECEC;
  margin: 0;
}

#header{
  height: 20vh;
  text-align: right;
  padding-top: 1%;
  padding-right: 2%;
  background-color: #fff;
}
.title22 {
  text-align: center;
  margin-left: 65px;
  margin-top: -30px;
  margin-bottom: -60px; /* 텍스트를 위로 20px 이동 */
  font-weight: bold;
  font-size: 200%; /* 상위 요소의 크기의 200%로 설정 */
}
.back{
margin-bottom: 500px;
height: 20vh;
  text-align: right;
  padding-right: 2%;
  width: 60vw; margin: 0 auto;
  background-color: #fff;
}

.title22{
margin-right: 00px;
}

.header_menu {
  
  display: inline-block;
  text-align: center;
  width : auto;
  height: auto;
  font-size: 0.8rem;
  border-right: 0.5px solid black;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 1%;
  font-family: 'Noto Sans';
  font-style: normal;

} 

.header_menuend {
  display: inline-block;
  text-align: center;
  width : auto;
  height: auto;
  font-size: 0.8rem;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 1%;
  font-family: 'Noto Sans';
  font-style: normal;

} 

.header_img{
  /* position: absolute; */
  width: 15vw;
  height: 5vw;
  top: 5vh;
  left: -2%;
  background: url(../img/로고글자.png);
  background-size:contain;
  /* background-attachment: local; */
  background-position: center center;
  background-repeat: no-repeat;
}



.box {
  border-radius: 30px;
  border: 2.5px solid rgb(181, 181, 181);
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title1 {
  text-align: center;
  flex-grow: 1;
}

.box111 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#section03 {
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px;
  text-align: center;
  width: 50%; /* 너비 조절 */
  height: auto; /* 높이 조절 */
  margin: 0 auto; /* 가운데 정렬 */
  margin-top: 20px;
  margin-bottom: -50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex-basis: 10%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border-width: 2.5px;
  border-style: solid;
  border-color: rgb(181, 181, 181);
  border-image: initial;
  height: 70px;
}

.selected {
  border-color: black;
}

.wrapper {
  max-width: 960px; /* 최대 너비 지정 */
  margin: 0 auto; /* 중앙 정렬 */
  overflow: hidden; /* 넘치는 부분 감추기 */
}

/*결제하기 버튼*/
#my-button {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
display: inline-block;
width: 50%;
height: 50px;
line-height: 50px;
text-align: center;
color: #000;
background-color: #fff;
border: 1px solid #000;
border-radius: 50px;
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
cursor: pointer;
transition: background-color 0.2s ease-in-out;
}

#my-button:hover {
color: #ffffff;
background-color: #000;
}