<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../orders/css/orderupdatestyle.css">
    <title>Order-update</title>
</head>

<body>
    <div class="title">주문정보 수정</div>

    <div class="updateinside">
        <form action="" method="get">
            <ul>
                <li>주문번호 : <input type="text" class="inputtypes" id="orderNumber"><button type="button"
                        class="selectbutton" onclick="searchOrder()">조회</button></li>
                <li>ID : <input type="text" class="inputtypes"></li>
                <li>배송지 : <input type="text" class="inputtypes"></li>
                <li>상품코드 : <input type="text" class="inputtypes"></li>
                <li>상품명 : values</li>
                <li>가격 : values</li>
                <li>구분 : values </li>
                <li>주문날짜 : values</li>
            </ul>
        
            <div class="tomain">
                <button id="confirm" >확인</button>
                <button id="cancel" type="button">닫기</button>
            </div>


        </form>
    </div>


    <script src="/js/closescript.js" type="text/javascript">
    </script>



</body>

</html>