<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin/orderDelete.css">
    <title>OrderDelete</title>
</head>
<body>

    <div class="title">주문정보 삭제</div>

    <div class="updateinside">
        <form action="" method="get">
            <ul>
                <li>주문번호 : <input type="text" class="inputtypes" id="orderNumber"><button type="button"
                        class="selectbutton" onclick="searchOrder()">조회</button></li>
                <li>ID : 
                <li>배송지 : 
                <li>상품코드 : 
                <li>상품명 : values</li>
                <li>가격 : values</li>
                <li>구분 : values </li>
                <li>주문날짜 : values</li>
            </ul>
        </form>

        <form>
            <div class="tomain">
                <button id="confirm">삭제</button>
                <button id="cancel">닫기</button>
            </div>


        </form>
    </div>

    <script src="js/orderClose.js"></script>
  
    
</body>