<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


 <!-- 사이드 바-->
    <div class="sidebar">
        <div class="logo">
            <img src="images/logo1.png" id="logoimg">
        </div>
        <ul>
            <div class="sidebar-menu" id="sidebarcontainer">
                <li class="sidebartexts" id="main-serv"><a
                        href="http://localhost:8002/admin/orderMainPage"><img class="sidebaricons"
                            id="truckimg" src="images/home_icon-icons.com_73532.png">MAIN</a></li>
                <li class="sidebartexts" id="delivery-serv"><a href="https://www.naver.com"><img class="sidebaricons"
                            id="truckimg" src="images/truck_13241.png">배송관리</a></li>
                <li class="sidebartexts" id="order-serv"><a href="http://localhost:8002/admin/orderMainPage"><img class="sidebaricons"
                            id="basketimg" src="images/basket_icon-icons.com_56201.png">주문관리</a></li>
                <li class="sidebartexts" id="client-serv"><a href="https://www.naver.com"><img class="sidebaricons"
                            id="personimg" src="images/user_84308.png">회원관리</a></li>
                <li class="sidebartexts" id="product-serv"><a href="https://www.naver.com"><img class="sidebaricons"
                            id="boximg" src="http://localhost:8002/admin/productMainPage">상품관리</a>
                </li>
                <li class="sidebartexts" id="board-serv"><a href="https://www.naver.com"><img class="sidebaricons"
                            id="helpimg"
                            src="images/help-button-speech-bubble-with-question-mark_icon-icons.com_72707.png">게시판관리</a>
                </li>
                <li class="sidebartexts" id="logout-serv"><a href="https://www.naver.com"><img class="sidebaricons"
                            id="cancelimg" src="images/home_icon-icons.com_73532.png">logout</a></li>
            </div>
        </ul>
        
        
        <h2>주문정보</h2>
	<table  id="listArea" style="text-align: center">
		<tr>
			<th style="width : 200px">상품번호</th>
			<th style="width : 200px">상품명</th>
			<th style="width : 200px">입고일</th>
			<th style="width : 200px">색상</th>
			<th style="width : 200px">사이즈</th>
			<th style="width : 200px">비고</th>
		
		</tr>
		
		<tr th:each=" selectOrderList : ${ ProductMain }" >
			<td th:text="${ productNo }" >
			<td th:text="${ productName }">
			<td th:text="${ productCode }">
			<td th:text="${ productOptionColor }">
			<td th:text="${ productOptionSize }" >
			<td th:text="${ productOptionEtc }">
		</tr>
	</table>
        
        
        
        
        
    </div>

</body>
</html>