<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>detailpage</title>
 <link rel="icon" href="/image/icon/favicon.ico" type="image/x-icon">
 <link href="/css/detail/detailPage.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
  <script src="/js/detailPage.js" type="text/Javascript" defer></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body>
	<div th:replace="common/header/mypageHeader.html"></div>

	<main>
		<div class="detailmain">
			<div class="detailImgDiv">
				<i class="detailmainpreImg"></i> 
				<img th:src="${productList.attachmentFile[0].filePath + productList.attachmentFile[0].fileDecoded}" class="detailProductImg">
				<i class="detailmainnextImg"></i>
			</div>

			<div class="detailTxtDiv">
				
				<div class="detailTitleDiv">
					<div class="detailTitle" th:text="${productList.brandNo.brandName}"></div>
					<div class="detailSubTitle" th:text="${productList.productName}"></div>
				</div>
				<div class=detailSizeDiv>
					<div class="detailSize">사이즈</div>
					<div class="selectSize">사이즈 선택</div>
				</div>
				<div class=detailSaleDiv>
					<div class="curSale">최근 거래가</div>
					<div class="curSalePrice">298,000원</div>
				</div>
				<form id="loginForm">
				 <input type="hidden"  name="productCode" th:value="${productList.productCode}">
				<div class=detailorderdiv>
					<div class="buyorder">
						<button type="submit" formaction="/list/normalBuy"
							formmethod="POST" class="buyordername">구매</button>
						<div class="buyorderprice" th:data-product-no=${productList.productCode}>
							<p data-th-text="${#numbers.formatInteger(productList.productOption[0].sellingOrders[0].sellingOrderPrice, 3, 'COMMA') + '원'}"
							
							/>
							<button type="submit" formaction="/list/normalBuy"
								formmethod="POST" class="buyorderpricetxt">즉시구매가</button>
						</div>
					</div>

					<div class="saleorder">
					<button type="submit" formaction="/list/normalSell"
							formmethod="POST" class="saleordername">판매</button>
						<div class="saleorderprice">
							<p data-th-text="${#numbers.formatInteger(sellPrice.productOption[0].buyingOrders[0].buyingOrderPrice, 3, 'COMMA') + '원'}"
							/>
							<button type="submit" formaction="/list/normalBuy"
								formmethod="POST" class="saleorderpricetxt">즉시판매가</button>
						</div>
					</div>

				</div>
				</form>
				<div class="heartProduct">
					<i class="eheart"></i>관심상품
				</div>
				
				<div class=deliveryBoard>
					<div class="deliveryTitle">배송정보</div>
					<div class="deliverySub">
						<div class="deliverySubImg">
							<img src="/image/icon/deliveryIcon.png" class="deliveryIcon">
						</div>
						<div class="">
							<p class="deliverySubTitle">일반배송 3,000원</p>
							<p class="deliverySubtxt">검수 후 배송 5~7일 내 도착 예정</p>
						</div>
					</div>
				</div>
				<div class="noticeTitle">구매 전 꼭 확인해 주세요!</div>
				<div class="deliveryNoticeTitle">
					배송 기간 안내<i class="downImg"></i>
				</div>

				<div class="deliveryNoticeContent">
					<div class="contentTitle">ThuderBolts은 최대한 빠르게 모든 상품을 배송하기 위해
						노력하고 있습니다. 배송 시간은 판매자가 검수를 위하여 상품을 검수센터로 보내는 속도에 따라 차이가 있습니다.</div>
					<ul>
						<li><p class="contentName">[일반 구매]</p></li>

						<li>
							<p class="contentText">- 거래가 체결된 시점부터 48시간(일요일•공휴일 제외) 내에
								판매자가 상품을 발송해야하며, 통상적으로 발송 후 1-2일 내에 ThuderBolts 검수센터에 도착합니다.</p>
						</li>
						<li>
							<p class="contentTextSub">- 검수센터에 도착한 상품은 입고 완료 후 3영업일 이내에
								검수를 진행합니다. 검수 합격시 배송을 준비합니다.</p>
							<p class="contentTextSub">* 상품 종류 및 상태에 따라 검수 소요 시간은 상이할 수
								있으며, 구매의사 확인에 해당할 경우 구매자와 상담 진행으로 인해 지연이 발생할 수 있습니다.</p>
						</li>

						<li>
							<p class="contentText">- 검수센터 출고는 매 영업일에 진행하고 있으며, 출고 마감시간은
								오후 5시입니다. 출고 마감시간 이후 검수 완료건은 운송장번호는 입력되지만 다음 영업일에 출고됩니다.</p>
						</li>
					</ul>
				</div>
				<div class="checkNoticeTitle">
					검수 안내<i class="downImg"></i>
				</div>
				<div class="checkNoticeContent">
					<div class="contentTitle">판매자의 상품이 검수센터에 도착하면 전담 검수팀이 철저한 분석과
						검사로 정가품 확인을 진행합니다.</div>
					<ul>
						<li><p class="contentName">[검수]</p></li>

						<li><p class="contentText">- 검수센터에서는 정가품 여부를 확인하기 위하여,
								지속적으로 데이터를 쌓고 분석하여 기록하고 있습니다.</p></li>

						<li>
							<p class="contentText">- 업계 전문가로 구성된 검수팀은 박스와 상품의 라벨에서 바느질,
								접착, 소재 등 모든 것을 검수합니다.</p>
						</li>

					</ul>
				</div>
				<div class="buyNoticeTitle">
					구매 환불/취소/교환 안내<i class="downImg"></i>
				</div>
				<div class="buyNoticeContent">
					<div class="contentTitle">ThuderBolts은 익명 거래를 기반으로 판매자가 판매하는
						상품을 구매자가 실시간으로 구매하여 거래를 체결합니다.</div>
					<ul>
						<li><p class="contentName">[ 환불/취소/교환 ]</p></li>
						<li><p class="contentText">단순 변심이나 실수에 의한 취소/교환/반품이
								불가능합니다. 상품을 원하지 않으시는 경우 언제든지 ThuderBolts에서 재판매를 하실 수 있습니다.</p></li>

						<li>
							<p class="contentText">상품 수령 후, 이상이 있는 경우 ThuderBolts 고객센터로
								문의해주시기 바랍니다.</p>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<div class="detailStyle">
		<div class="styleTitle name">Style Picks!</div>
			<div class="style">
				<i class="stylePreimg"></i>
				<div class="mstyle">
					<div class="mstyleimg">
						<div class="mstyleimg1"
							style="background-image: url(/upload/image/main/style/mstyleimg1.png)"></div>
					</div>
					<div class="mstyleprofile">
						<div class="mstyleprofileimg1"
							style="background-image: url(/upload/image/main/style/mstyleprofile1.png)"></div>
					</div>
					<div class="mstyleid">
						<div class="mstyleid1">bipresent</div>
					</div>
				</div>
				<div class="mstyle">
					<div class="mstyleimg">
						<div class="mstyleimg2"
							style="background-image: url(/upload/image/main/style/mstyleimg2.png)"></div>
					</div>
					<div class="mstyleprofile">
						<div class="mstyleprofileimg2"
							style="background-image: url(/upload/image/main/style/mstyleprofile2.png)"></div>
					</div>
					<div class="mstyleid">
						<div class="mstyleid2">_beengrae5</div>
					</div>
				</div>
				<div class="mstyle">
					<div class="mstyleimg">
						<div class="mstyleimg3"
							style="background-image: url(/upload/image/main/style/mstyleimg3.png)"></div>
					</div>
					<div class="mstyleprofile">
						<div class="mstyleprofileimg3"
							style="background-image: url(/upload/image/main/style/mstyleprofile3.png)"></div>
					</div>
					<div class="mstyleid">
						<div class="mstyleid3">starting_girls</div>
					</div>
				</div>
				<div class="mstyle">
					<div class="mstyleimg">
						<div class="mstyleimg4"
							style="background-image: url(/upload/image/main/style/mstyleimg4.png)"></div>
					</div>
					<div class="mstyleprofile">
						<div class="mstyleprofileimg4"
							style="background-image: url(/upload/image/main/style/mstyleprofile4.png)"></div>
					</div>
					<div class="mstyleid">
						<div class="mstyleid4">nurungjiji</div>
					</div>
				</div>
				<div class="mstyle">
					<div class="mstyleimg">
						<div class="mstyleimg5"
							style="background-image: url(/upload/image/main/style/mstyleimg5.png)"></div>
					</div>
					<div class="mstyleprofile">
						<div class="mstyleprofileimg5"
							style="background-image: url(/upload/image/main/style/mstyleprofile5.png)"></div>
					</div>
					<div class="mstyleid">
						<div class="mstyleid5">yejida</div>
					</div>
				</div>

				<i class="styleNextimg"></i>
			</div>

		</div>
	</main>
	<div th:replace="common/footer/mainFooter.html"></div>

</body>
</html>